Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

ps: Add `--ppid` option to filter by parent PID
  Base/usr/share/man/man1/ps.md
  Userland/Utilities/ps.cpp
Owners: none

ps: Disallow using `-q` with any other filtering options
  Userland/Utilities/ps.cpp
Owners: none

ps: Allow multiple filtering options to be used simultaneously
  Base/usr/share/man/man1/ps.md
  Userland/Utilities/ps.cpp
Owners: none

ps: Add `-t` option to filter by TTY
  Base/usr/share/man/man1/ps.md
  Userland/Utilities/ps.cpp
Owners: none

LibWeb: Use max width from content for cells unless length is specified
  Tests/LibWeb/Layout/expected/cell-auto-max-width-table-percentage-width.txt
  Tests/LibWeb/Layout/input/cell-auto-max-width-table-percentage-width.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

LibWeb: Use max width from content for cells unless length is specified
  Tests/LibWeb/Layout/expected/cell-auto-max-width-table-percentage-width.txt
  Tests/LibWeb/Layout/input/cell-auto-max-width-table-percentage-width.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

Ports: Add archive hash to Quake port
  Ports/quake/package.sh
Owners: none

LibGfx/PNG: Make invalid sRGB chunk size non-fatal
  Userland/Libraries/LibGfx/ImageFormats/PNGLoader.cpp
Owners: none

LibGfx/PNG: Make invalid sRGB chunk size non-fatal
  Userland/Libraries/LibGfx/ImageFormats/PNGLoader.cpp
Owners: none

LibGfx/PortableFormat: Read the header during initialization
  Userland/Libraries/LibGfx/ImageFormats/PortableImageLoaderCommon.h
  Userland/Libraries/LibGfx/ImageFormats/PortableImageMapLoader.h
Owners: none

LibGfx/PortableFormat: Remove `PortableImageDecoderPlugin::initialize()`
  Userland/Libraries/LibGfx/ImageFormats/PortableImageMapLoader.h
Owners: none

LibGfx/PortableFormat: Simplify the State enum
  Userland/Libraries/LibGfx/ImageFormats/PBMLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/PGMLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/PPMLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/PortableImageLoaderCommon.h
  Userland/Libraries/LibGfx/ImageFormats/PortableImageMapLoader.h
Owners: none

LibGfx/PortableFormat: Extract header reading in its own function
  Userland/Libraries/LibGfx/ImageFormats/PortableImageLoaderCommon.h
Owners: none

Ladybird: Allow loading 'data:' URLs from a search bar
  Ladybird/Tab.cpp
Owners: @linusg

Ladybird: Allow loading 'data:' URLs from a search bar
  Ladybird/Tab.cpp
Owners: @linusg

LibCore: Sort and tidy up filename mime guess function
  Userland/Libraries/LibCore/MimeData.cpp
Owners: none

LibCore: Replace non-breaking hyphens with regular ones in MimeData
  Userland/Libraries/LibCore/MimeData.cpp
Owners: none

Userland: Sync file utility descriptions with LibCore
  Userland/Utilities/file.cpp
Owners: none

LibWeb: Create Layout::Box for `display: inline-grid`
  Tests/LibWeb/Layout/expected/grid/inline-grid-simple.txt
  Tests/LibWeb/Layout/input/grid/inline-grid-simple.html
  Userland/Libraries/LibWeb/DOM/Element.cpp
Owners: none

LibCore: Improve mime type enumeration sorting
  Userland/Libraries/LibCore/MimeData.cpp
Owners: none

Userland: Teach the file utility about zip files
  Meta/Lagom/CMakeLists.txt
  Userland/BuggieBox/CMakeLists.txt
  Userland/Utilities/CMakeLists.txt
  Userland/Utilities/file.cpp
Owners: none

LibCore: Replace non-breaking hyphens with regular ones in MimeData
  Userland/Libraries/LibCore/MimeData.cpp
Owners: none

Userland: Sync file utility descriptions with LibCore
  Userland/Utilities/file.cpp
Owners: none

LibCore: Sort and tidy up filename mime guess function
  Userland/Libraries/LibCore/MimeData.cpp
Owners: none

LibGfx/TGA: Decode the header in `create()` and remove `initialize()`
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.h
Owners: none

LibGfx/TGA: Default initialize the `TGAHeader` in the context
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.cpp
Owners: none

LibGfx/TGA: Make `TGAImageDecoderPlugin::decode_tga_header()` fallible
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.h
Owners: none

LibWeb: Create Layout::Box for `display: inline-grid`
  Tests/LibWeb/Layout/expected/grid/inline-grid-simple.txt
  Tests/LibWeb/Layout/input/grid/inline-grid-simple.html
  Userland/Libraries/LibWeb/DOM/Element.cpp
Owners: none

LibWeb: Prevent max-width expanding the width
  Tests/LibWeb/Layout/expected/block-and-inline/max-width-must-not-expand-element.txt
  Tests/LibWeb/Layout/input/block-and-inline/max-width-must-not-expand-element.html
  Userland/Libraries/LibWeb/Layout/BlockFormattingContext.cpp
Owners: none

LibPDF: Make PDF version accessible on Document
  Userland/Libraries/LibPDF/Document.cpp
  Userland/Libraries/LibPDF/Document.h
  Userland/Libraries/LibPDF/DocumentParser.cpp
  Userland/Libraries/LibPDF/DocumentParser.h
Owners: none

pdf: Print PDF version; tweak output
  Userland/Utilities/pdf.cpp
Owners: none

LibPDF: Make PDF version accessible on Document
  Userland/Libraries/LibPDF/Document.cpp
  Userland/Libraries/LibPDF/Document.h
  Userland/Libraries/LibPDF/DocumentParser.cpp
  Userland/Libraries/LibPDF/DocumentParser.h
Owners: none

pdf: Print PDF version; tweak output
  Userland/Utilities/pdf.cpp
Owners: none

LibEDID: Use AssertSize<> for ExtensionBlock
  Userland/Libraries/LibEDID/Definitions.h
Owners: none

LibPDF: Do not crash on encrypted files that start unluckily
  Userland/Libraries/LibPDF/DocumentParser.cpp
  Userland/Libraries/LibPDF/Parser.cpp
  Userland/Libraries/LibPDF/Parser.h
Owners: none

LibPDF: Rename m_disable_encryption to m_enable_encryption
  Userland/Libraries/LibPDF/Parser.cpp
  Userland/Libraries/LibPDF/Parser.h
Owners: none

LibPDF: Use more direct method to access linearization dict
  Userland/Libraries/LibPDF/DocumentParser.cpp
Owners: none

pdf: Add a --password option for encrypted PDFs
  Userland/Utilities/pdf.cpp
Owners: none

LibPDF: Remove a pointless template specialization
  Userland/Libraries/LibPDF/Encryption.cpp
  Userland/Libraries/LibPDF/Encryption.h
Owners: none

Everywhere: Use nested namespace qualifiers
  Userland/Libraries/LibCrypto/Authentication/GHash.cpp
  Userland/Libraries/LibCrypto/Authentication/GHash.h
  Userland/Libraries/LibCrypto/Authentication/HMAC.h
  Userland/Libraries/LibCrypto/Cipher/AES.cpp
  Userland/Libraries/LibCrypto/Cipher/AES.h
  Userland/Libraries/LibCrypto/Cipher/Cipher.h
  Userland/Libraries/LibCrypto/Cipher/Mode/CBC.h
  Userland/Libraries/LibCrypto/Cipher/Mode/CTR.h
  Userland/Libraries/LibCrypto/Cipher/Mode/GCM.h
  Userland/Libraries/LibCrypto/Cipher/Mode/Mode.h
  Userland/Libraries/LibCrypto/Hash/HashManager.h
  Userland/Libraries/LibCrypto/NumberTheory/ModularFunctions.cpp
  Userland/Libraries/LibCrypto/NumberTheory/ModularFunctions.h
  Userland/Libraries/LibCrypto/PK/Code/Code.h
  Userland/Libraries/LibCrypto/PK/Code/EMSA_PKCS1_V1_5.h
  Userland/Libraries/LibCrypto/PK/Code/EMSA_PSS.h
  Userland/Libraries/LibCrypto/PK/PK.h
  Userland/Libraries/LibCrypto/PK/RSA.cpp
  Userland/Libraries/LibCrypto/PK/RSA.h
  Userland/Libraries/LibEDID/Definitions.h
  Userland/Libraries/LibGUI/Layout.h
  Userland/Libraries/LibGUI/Widget.h
  Userland/Libraries/LibLine/VT.h
  Userland/Libraries/LibWeb/HTML/AttributeNames.cpp
  Userland/Libraries/LibWeb/HTML/AttributeNames.h
  Userland/Libraries/LibWeb/HTML/Parser/Entities.cpp
  Userland/Libraries/LibWeb/HTML/Parser/Entities.h
Owners: @alimpfard

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg
