Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

AK: Add clamp_to_int(value) in Math.h
  AK/Math.h
Owners: none

LibWeb: Derive box baseline from last child *with line boxes*
  Tests/LibWeb/Layout/expected/block-and-inline/inline-block-baseline-1.txt
  Tests/LibWeb/Layout/expected/block-and-inline/inline-block-baseline-2.txt
  Tests/LibWeb/Layout/expected/block-and-inline/margin-collapse-5.txt
  Tests/LibWeb/Layout/input/block-and-inline/inline-block-baseline-1.html
  Tests/LibWeb/Layout/input/block-and-inline/inline-block-baseline-2.html
  Userland/Libraries/LibWeb/Layout/FormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/FormattingContext.h
Owners: none

LibPDF: Sketch out Type0 font support some more
  Userland/Libraries/LibPDF/CommonNames.h
  Userland/Libraries/LibPDF/Fonts/Type0Font.cpp
  Userland/Libraries/LibPDF/Fonts/Type0Font.h
Owners: none

AK: Fix url host parsing check for 'ends in a number'
  AK/URLParser.cpp
  Tests/AK/TestURL.cpp
Owners: none

AK: Remove unused URL::scheme_requires_port
  AK/URL.cpp
  AK/URL.h
Owners: none

AK: Add spec comments to URL::serialize
  AK/URL.cpp
Owners: none

LibWeb: Derive box baseline from last child *with line boxes*
  Tests/LibWeb/Layout/expected/block-and-inline/inline-block-baseline-1.txt
  Tests/LibWeb/Layout/expected/block-and-inline/inline-block-baseline-2.txt
  Tests/LibWeb/Layout/expected/block-and-inline/margin-collapse-5.txt
  Tests/LibWeb/Layout/input/block-and-inline/inline-block-baseline-1.html
  Tests/LibWeb/Layout/input/block-and-inline/inline-block-baseline-2.html
  Userland/Libraries/LibWeb/Layout/FormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/FormattingContext.h
Owners: none

LibPDF: Ensure all subpaths are closed before filling paths
  Userland/Libraries/LibPDF/Renderer.cpp
Owners: none

LibWeb: Fix division by zero in distribute_any_remaining_free_space
  Tests/LibWeb/Layout/expected/flex/justify-content-space-between-single-item.txt
  Tests/LibWeb/Layout/input/flex/justify-content-space-between-single-item.html
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
Owners: none

LibWeb: Implement subtraction using saturated_addition in CSSPixels
  Tests/LibWeb/TestCSSPixels.cpp
  Userland/Libraries/LibWeb/PixelUnits.cpp
Owners: none

LibWeb: Fix division by zero in distribute_any_remaining_free_space
  Tests/LibWeb/Layout/expected/flex/justify-content-space-between-single-item.txt
  Tests/LibWeb/Layout/input/flex/justify-content-space-between-single-item.html
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
Owners: none

LibWeb: Implement basic support for window[number]
  Tests/LibWeb/Text/expected/window-proxy-numeric-own-property.txt
  Tests/LibWeb/Text/input/window-proxy-numeric-own-property.html
  Userland/Libraries/LibWeb/HTML/WindowProxy.cpp
Owners: none

LibWeb: Split BorderConflictFinder::conflicting_edges method
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

LibWeb: Complete table border conflict resolution
  Userland/Libraries/LibWeb/Layout/LayoutState.h
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
  Userland/Libraries/LibWeb/Painting/PaintableBox.cpp
  Userland/Libraries/LibWeb/Painting/PaintableBox.h
  Userland/Libraries/LibWeb/Painting/TableBordersPainting.cpp
Owners: none

LibWeb: Implement subtraction using saturated_addition in CSSPixels
  Tests/LibWeb/TestCSSPixels.cpp
  Userland/Libraries/LibWeb/PixelUnits.cpp
Owners: none

FuzzPDF: Initialize document so page count is accurate
  Meta/Lagom/Fuzzers/FuzzPDF.cpp
Owners: none

LibWeb: Implement basic support for window[number]
  Tests/LibWeb/Text/expected/window-proxy-numeric-own-property.txt
  Tests/LibWeb/Text/input/window-proxy-numeric-own-property.html
  Userland/Libraries/LibWeb/HTML/WindowProxy.cpp
Owners: none

Ladybird: Run with the JavaScript bytecode VM by default
  Ladybird/main.cpp
Owners: @linusg

headless-browser: Run with the JavaScript bytecode VM by default
  Userland/Utilities/headless-browser.cpp
Owners: none

LibWeb: Remove casting to double in normalized_border_radii_data
  Userland/Libraries/LibWeb/Painting/BorderPainting.cpp
Owners: none

Browser+LibWebView: Run with the JavaScript bytecode VM by default
  Userland/Applications/Browser/BrowserWindow.cpp
  Userland/Applications/Browser/BrowserWindow.h
  Userland/Applications/Browser/Tab.cpp
  Userland/Applications/Browser/Tab.h
  Userland/Applications/Browser/main.cpp
  Userland/Libraries/LibWebView/OutOfProcessWebView.cpp
  Userland/Services/WebContent/ConnectionFromClient.cpp
  Userland/Services/WebContent/ConnectionFromClient.h
  Userland/Services/WebContent/WebContentServer.ipc
Owners: @linusg

js: Run with the JavaScript bytecode VM by default
  Userland/Utilities/js.cpp
Owners: @linusg

LibWeb: Remove casting to double in normalized_border_radii_data
  Userland/Libraries/LibWeb/Painting/BorderPainting.cpp
Owners: none

test-js: Run with the JavaScript bytecode VM by default
  Meta/Lagom/CMakeLists.txt
  Userland/Libraries/LibTest/JavaScriptTestRunnerMain.cpp
Owners: none

LibWeb: Remove unused code
  Userland/Libraries/LibWeb/Page/EventHandler.cpp
  Userland/Libraries/LibWeb/Page/EventHandler.h
Owners: none

LibWeb: Do not fire click event if mouseup/down elements do not match
  Userland/Libraries/LibWeb/Page/EventHandler.cpp
Owners: none

Meta+Utilities: Make pre-commit checks significantly less verbose
  Meta/lint-ci.sh
  Userland/Utilities/markdown-check.cpp
Owners: none

js: Run with the JavaScript bytecode VM by default
  Userland/Utilities/js.cpp
Owners: @linusg

test-js: Run with the JavaScript bytecode VM by default
  Meta/Lagom/CMakeLists.txt
  Userland/Libraries/LibTest/JavaScriptTestRunnerMain.cpp
Owners: none

Browser+LibWebView: Run with the JavaScript bytecode VM by default
  Userland/Applications/Browser/BrowserWindow.cpp
  Userland/Applications/Browser/BrowserWindow.h
  Userland/Applications/Browser/Tab.cpp
  Userland/Applications/Browser/Tab.h
  Userland/Applications/Browser/main.cpp
  Userland/Libraries/LibWebView/OutOfProcessWebView.cpp
  Userland/Services/WebContent/ConnectionFromClient.cpp
  Userland/Services/WebContent/ConnectionFromClient.h
  Userland/Services/WebContent/WebContentServer.ipc
Owners: @linusg

headless-browser: Run with the JavaScript bytecode VM by default
  Userland/Utilities/headless-browser.cpp
Owners: none

Ladybird: Run with the JavaScript bytecode VM by default
  Ladybird/main.cpp
Owners: @linusg

LibWeb: Avoid leaking infinite remaining_free_space in FFC calculation
  Tests/LibWeb/Layout/expected/flex/inf-available-space-with-auto-margins.txt
  Tests/LibWeb/Layout/input/flex/inf-available-space-with-auto-margins.html
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.h
Owners: none

LibWeb: Use empty Optional to represent infinte growth limit in GFC
  Userland/Libraries/LibWeb/Layout/GridFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/GridFormattingContext.h
Owners: none

LibWeb: Handle flex reverse togther with justify-content
  Tests/LibWeb/Layout/expected/flex/justify-content-1.txt
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
Owners: none

LibWeb: Handle auto margins with flex and justify-content
  Tests/LibWeb/Layout/expected/flex/justify-content-with-margin-auto-child.txt
  Tests/LibWeb/Layout/input/flex/justify-content-with-margin-auto-child.html
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
Owners: none

LibUnicode: Stop generating Block property data
  Meta/Lagom/Tools/CodeGenerators/LibUnicode/GenerateUnicodeData.cpp
  Tests/LibUnicode/TestUnicodeCharacterTypes.cpp
  Userland/Libraries/LibUnicode/CharacterTypes.cpp
  Userland/Libraries/LibUnicode/CharacterTypes.h
Owners: @trflynn89

LibWeb: Handle flex reverse togther with justify-content
  Tests/LibWeb/Layout/expected/flex/justify-content-1.txt
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
Owners: none

LibWeb: Handle auto margins with flex and justify-content
  Tests/LibWeb/Layout/expected/flex/justify-content-1.txt
  Tests/LibWeb/Layout/expected/flex/justify-content-with-margin-auto-child.txt
  Tests/LibWeb/Layout/input/flex/justify-content-with-margin-auto-child.html
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
Owners: none

LibUnicode: Move the CodePointRangeComparator struct to a public header
  Meta/Lagom/Tools/CodeGenerators/LibUnicode/GenerateUnicodeData.cpp
  Userland/Libraries/LibUnicode/CharacterTypes.h
Owners: @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg
