Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

LibGfx: Register the mime type image/x-icon
  Userland/Libraries/LibCore/MimeData.cpp
Owners: none

LibWeb: Resolve flex item percentages against used flex container sizes
  Tests/LibWeb/Layout/expected/flex/flex-column-item-with-percentage-max-width.txt
  Tests/LibWeb/Layout/input/flex/flex-column-item-with-percentage-max-width.html
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.h
  Userland/Libraries/LibWeb/Layout/FormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/FormattingContext.h
Owners: none

LibWeb: Fix whitespace getting trimmed incorrectly
  Tests/LibWeb/Layout/expected/pre.txt
  Tests/LibWeb/Layout/input/pre.html
  Userland/Libraries/LibWeb/Layout/LineBox.cpp
Owners: none

LibGfx: Remove `ImageDecoderPlugin::initialize()`
  Meta/Lagom/Fuzzers/FuzzBMPLoader.cpp
  Meta/Lagom/Fuzzers/FuzzGIFLoader.cpp
  Meta/Lagom/Fuzzers/FuzzICOLoader.cpp
  Meta/Lagom/Fuzzers/FuzzJPEGLoader.cpp
  Meta/Lagom/Fuzzers/FuzzPBMLoader.cpp
  Meta/Lagom/Fuzzers/FuzzPGMLoader.cpp
  Meta/Lagom/Fuzzers/FuzzPNGLoader.cpp
  Meta/Lagom/Fuzzers/FuzzPPMLoader.cpp
  Meta/Lagom/Fuzzers/FuzzQOILoader.cpp
  Meta/Lagom/Fuzzers/FuzzTGALoader.cpp
  Meta/Lagom/Fuzzers/FuzzWebPLoader.cpp
  Tests/LibGfx/TestICCProfile.cpp
  Tests/LibGfx/TestImageDecoder.cpp
  Userland/Libraries/LibGUI/FileIconProvider.cpp
  Userland/Libraries/LibGfx/ImageFormats/ICOLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.cpp
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.h
  Userland/Libraries/LibPDF/Filter.cpp
Owners: none

LibGfx: Comment ImageDecoderPlugin's interface
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.h
Owners: none

LibGfx: Don't assume that image decoder plugin creation succeeds
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.cpp
Owners: none

LibGfx: Provide a default implementation for animation-related methods
  Userland/Libraries/LibGfx/ImageFormats/BMPLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/BMPLoader.h
  Userland/Libraries/LibGfx/ImageFormats/DDSLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/DDSLoader.h
  Userland/Libraries/LibGfx/ImageFormats/ICOLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/ICOLoader.h
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.h
  Userland/Libraries/LibGfx/ImageFormats/JPEGLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/JPEGLoader.h
  Userland/Libraries/LibGfx/ImageFormats/PortableImageMapLoader.h
  Userland/Libraries/LibGfx/ImageFormats/QOILoader.h
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.h
  Userland/Libraries/LibGfx/ImageFormats/TinyVGLoader.h
Owners: none

Ports: Bump Zig version to 0.11.0-dev.4003+c6aa29b6f
  Ports/AvailablePorts.md
  Ports/zig/package.sh
  Ports/zig/patches/0001-Support-Add-support-for-building-LLVM-on-SerenityOS.patch
  Ports/zig/patches/0002-Triple-Add-triple-for-SerenityOS.patch
  Ports/zig/patches/0003-Driver-Add-support-for-SerenityOS.patch
  Ports/zig/patches/0004-Driver-Default-to-ftls-model-initial-exec-on-Serenit.patch
  Ports/zig/patches/0005-libc-Add-support-for-SerenityOS.patch
  Ports/zig/patches/0006-cmake-Allow-undefined-symbols-on-SerenityOS.patch
  Ports/zig/patches/0007-cmake-Support-building-shared-libLLVM-and-libClang-f.patch
  Ports/zig/patches/0009-llvm-Prevent-the-use-of-POSIX-shm-on-SerenityOS.patch
  Ports/zig/patches/0010-cmake-Increase-the-default-stack-size-when-running-o.patch
  Ports/zig/patches/0010-llvm-Implement-bigint-to-LLVM-int-for-32-bit-compile.patch
  Ports/zig/patches/0011-Add-SerenityOS-target.patch
  Ports/zig/patches/0012-Implement-SerenityOS-support-in-std.patch
  Ports/zig/patches/0013-build-Adjust-build-process-for-SerenityOS.patch
  Ports/zig/patches/0014-zlib-Fix-implicit-write-method-declaration-error.patch
  Ports/zig/patches/0015-build-Remove-unsupported-zig-linker-flag-z-seperate-.patch
  Ports/zig/patches/0016-docgen-Filter-ZIG_LIBC-from-the-environment.patch
  Ports/zig/patches/0017-build-Set-Zig-version-to-0.11.0-dev.4003-c6aa29b6f.patch
  Ports/zig/patches/ReadMe.md
  Ports/zig/scripts/constants.txt
  Ports/zig/scripts/generate-serenity-constants.zig
Owners: none

Fuzzers: Add a TinyVG fuzzer
  Meta/Lagom/Fuzzers/FuzzTinyVGLoader.cpp
  Meta/Lagom/Fuzzers/fuzzers.cmake
  Userland/Utilities/test-fuzz.cpp
Owners: none

Fuzzers: Add a DDS fuzzer
  Meta/Lagom/Fuzzers/FuzzDDSLoader.cpp
  Meta/Lagom/Fuzzers/fuzzers.cmake
  Userland/Utilities/test-fuzz.cpp
Owners: none

Ports: Bump Zig version to 0.11.0-dev.4003+c6aa29b6f
  Ports/AvailablePorts.md
  Ports/zig/package.sh
  Ports/zig/patches/0001-Support-Add-support-for-building-LLVM-on-SerenityOS.patch
  Ports/zig/patches/0002-Triple-Add-triple-for-SerenityOS.patch
  Ports/zig/patches/0003-Driver-Add-support-for-SerenityOS.patch
  Ports/zig/patches/0004-Driver-Default-to-ftls-model-initial-exec-on-Serenit.patch
  Ports/zig/patches/0005-libc-Add-support-for-SerenityOS.patch
  Ports/zig/patches/0006-cmake-Allow-undefined-symbols-on-SerenityOS.patch
  Ports/zig/patches/0007-cmake-Support-building-shared-libLLVM-and-libClang-f.patch
  Ports/zig/patches/0009-llvm-Prevent-the-use-of-POSIX-shm-on-SerenityOS.patch
  Ports/zig/patches/0010-cmake-Increase-the-default-stack-size-when-running-o.patch
  Ports/zig/patches/0010-llvm-Implement-bigint-to-LLVM-int-for-32-bit-compile.patch
  Ports/zig/patches/0011-Add-SerenityOS-target.patch
  Ports/zig/patches/0012-Implement-SerenityOS-support-in-std.patch
  Ports/zig/patches/0013-build-Adjust-build-process-for-SerenityOS.patch
  Ports/zig/patches/0014-zlib-Fix-implicit-write-method-declaration-error.patch
  Ports/zig/patches/0015-build-Remove-unsupported-zig-linker-flag-z-seperate-.patch
  Ports/zig/patches/0016-docgen-Filter-ZIG_LIBC-from-the-environment.patch
  Ports/zig/patches/0017-build-Set-Zig-version-to-0.11.0-dev.4003-c6aa29b6f.patch
  Ports/zig/patches/ReadMe.md
  Ports/zig/scripts/constants.txt
  Ports/zig/scripts/generate-serenity-constants.zig
Owners: none

Meta: Dont finish lines with only one character in `lint-ports.py`
  Meta/lint-ports.py
Owners: none

LibPDF: Assert compressed xref's 2nd field is non-zero
  Userland/Libraries/LibPDF/DocumentParser.cpp
Owners: none

LibPDF: Fix incorrectly parsing subsections in xref stream
  Userland/Libraries/LibPDF/DocumentParser.cpp
Owners: none

LibPDF: Do not crash when linearized length is incorrect
  Userland/Libraries/LibPDF/DocumentParser.cpp
Owners: none

LibPDF: Simplify AESV2 code a bit
  Userland/Libraries/LibPDF/Encryption.cpp
Owners: none

LibCrypto: Make create_aligned_buffer() static
  Userland/Libraries/LibCrypto/Cipher/Mode/Mode.h
Owners: @alimpfard

LibJS: Provide a mutable SourceTextModule to HostGetImportMetaProperties
  Userland/Libraries/LibJS/Runtime/VM.h
Owners: @linusg

LibWeb: Implement the HostGetImportMetaProperties hook
  Userland/Libraries/LibWeb/Bindings/MainThreadVM.cpp
Owners: none

PixelPaint: Fetch skmagiik's changes and fix merge conflicts
  Userland/Applications/PixelPaint/ImageEditor.cpp
  Userland/Applications/PixelPaint/Tools/BrushTool.cpp
  Userland/Applications/PixelPaint/Tools/BrushTool.h
  Userland/Applications/PixelPaint/Tools/EraseTool.cpp
  Userland/Applications/PixelPaint/Tools/Tool.h
Owners: none

PixelPaint: Update Brushtool to disappear when edges escape window
  Userland/Applications/PixelPaint/Tools/BrushTool.cpp
Owners: none

PixelPaint: Use lines to build eraser cursor at windows edge
  Userland/Applications/PixelPaint/Tools/EraseTool.cpp
Owners: none

LibWeb: Resolve flex item percentages against used flex container sizes
  Tests/LibWeb/Layout/expected/flex/flex-column-item-with-percentage-max-width.txt
  Tests/LibWeb/Layout/input/flex/flex-column-item-with-percentage-max-width.html
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.h
  Userland/Libraries/LibWeb/Layout/FormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/FormattingContext.h
Owners: none

Ports: Update and refactor opentyrian
  Ports/AvailablePorts.md
  Ports/opentyrian-data/package.sh
  Ports/opentyrian/package.sh
  Ports/opentyrian/patches/0001-Build-with-CMake.patch
Owners: none

LibWeb: More correctly paint joins between borders
  Base/res/html/misc/border-radius.html
  Userland/Libraries/LibWeb/Painting/BorderPainting.cpp
  Userland/Libraries/LibWeb/Painting/BorderPainting.h
Owners: none

LibJS: Disallow negative set record sizes
  Userland/Libraries/LibJS/Runtime/SetPrototype.cpp
  Userland/Libraries/LibJS/Tests/builtins/Set/Set.prototype.difference.js
  Userland/Libraries/LibJS/Tests/builtins/Set/Set.prototype.intersection.js
  Userland/Libraries/LibJS/Tests/builtins/Set/Set.prototype.isDisjointFrom.js
  Userland/Libraries/LibJS/Tests/builtins/Set/Set.prototype.isSubsetOf.js
  Userland/Libraries/LibJS/Tests/builtins/Set/Set.prototype.isSupersetOf.js
  Userland/Libraries/LibJS/Tests/builtins/Set/Set.prototype.symmetricDifference.js
  Userland/Libraries/LibJS/Tests/builtins/Set/Set.prototype.union.js
Owners: @linusg

FileManager: Remove unused PropertyValuePair struct
  Userland/Applications/FileManager/PropertiesWindow.h
Owners: none

FileManager: Don't wrap long paths on Properties window
  Userland/Applications/FileManager/PropertiesWindowGeneralTab.gml
Owners: none

LibJS: Disallow negative set record sizes
  Userland/Libraries/LibJS/Runtime/SetPrototype.cpp
  Userland/Libraries/LibJS/Tests/builtins/Set/Set.prototype.difference.js
  Userland/Libraries/LibJS/Tests/builtins/Set/Set.prototype.intersection.js
  Userland/Libraries/LibJS/Tests/builtins/Set/Set.prototype.isDisjointFrom.js
  Userland/Libraries/LibJS/Tests/builtins/Set/Set.prototype.isSubsetOf.js
  Userland/Libraries/LibJS/Tests/builtins/Set/Set.prototype.isSupersetOf.js
  Userland/Libraries/LibJS/Tests/builtins/Set/Set.prototype.symmetricDifference.js
  Userland/Libraries/LibJS/Tests/builtins/Set/Set.prototype.union.js
Owners: @linusg

FileManager: Extract creation of PropertiesWindow General tab
  Userland/Applications/FileManager/PropertiesWindow.cpp
  Userland/Applications/FileManager/PropertiesWindow.h
Owners: none

LibAudio: Use ReadonlyBytes instead of Bytes for buffer parameters
  Userland/Libraries/LibAudio/Loader.cpp
  Userland/Libraries/LibAudio/Loader.h
  Userland/Libraries/LibAudio/WavLoader.cpp
  Userland/Libraries/LibAudio/WavLoader.h
Owners: none

Ports: Update and refactor opentyrian
  Ports/AvailablePorts.md
  Ports/opentyrian-data/package.sh
  Ports/opentyrian/package.sh
  Ports/opentyrian/patches/0001-Build-with-CMake.patch
Owners: none

LibGfx: Don't assume that image decoder plugin creation succeeds
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.cpp
Owners: none

LibGfx: Remove `ImageDecoderPlugin::initialize()`
  Meta/Lagom/Fuzzers/FuzzBMPLoader.cpp
  Meta/Lagom/Fuzzers/FuzzGIFLoader.cpp
  Meta/Lagom/Fuzzers/FuzzICOLoader.cpp
  Meta/Lagom/Fuzzers/FuzzJPEGLoader.cpp
  Meta/Lagom/Fuzzers/FuzzPBMLoader.cpp
  Meta/Lagom/Fuzzers/FuzzPGMLoader.cpp
  Meta/Lagom/Fuzzers/FuzzPNGLoader.cpp
  Meta/Lagom/Fuzzers/FuzzPPMLoader.cpp
  Meta/Lagom/Fuzzers/FuzzQOILoader.cpp
  Meta/Lagom/Fuzzers/FuzzTGALoader.cpp
  Meta/Lagom/Fuzzers/FuzzWebPLoader.cpp
  Tests/LibGfx/TestICCProfile.cpp
  Tests/LibGfx/TestImageDecoder.cpp
  Userland/Libraries/LibGUI/FileIconProvider.cpp
  Userland/Libraries/LibGfx/ImageFormats/ICOLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.cpp
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.h
  Userland/Libraries/LibPDF/Filter.cpp
Owners: none

LibGfx: Comment ImageDecoderPlugin's interface
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.h
Owners: none

LibGfx: Provide a default implementation for animation-related methods
  Userland/Libraries/LibGfx/ImageFormats/BMPLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/BMPLoader.h
  Userland/Libraries/LibGfx/ImageFormats/DDSLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/DDSLoader.h
  Userland/Libraries/LibGfx/ImageFormats/ICOLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/ICOLoader.h
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.h
  Userland/Libraries/LibGfx/ImageFormats/JPEGLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/JPEGLoader.h
  Userland/Libraries/LibGfx/ImageFormats/PortableImageMapLoader.h
  Userland/Libraries/LibGfx/ImageFormats/QOILoader.h
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.h
  Userland/Libraries/LibGfx/ImageFormats/TinyVGLoader.h
Owners: none

LibCore: Error on a fail to write in Command::write_lines
  Userland/Libraries/LibCore/Command.cpp
Owners: none

LibCore: Port Command::write_lines to ErrorOr
  Tests/LibJS/test-test262.cpp
  Userland/Libraries/LibCore/Command.cpp
  Userland/Libraries/LibCore/Command.h
Owners: none

LibCore+Tests: Unify process handling into Command class
  Tests/LibJS/test-test262.cpp
  Tests/Utilities/TestSed.cpp
  Userland/Libraries/LibCore/Command.cpp
  Userland/Libraries/LibCore/Command.h
Owners: none

LibCore: Add System::environment
  Userland/Libraries/LibCore/Process.cpp
  Userland/Libraries/LibCore/System.cpp
  Userland/Libraries/LibCore/System.h
Owners: none

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg
