Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timschumi, @GMTA, @AtkinsSJ, @BertalanD, @alimpfard, @trflynn89

.github/CODEOWNERS:

/AK/CircularBuffer.* @timschumi
/AK/MaybeOwned.h @timschumi
/AK/*Stream.* @timschumi
/Kernel/Devices/Audio @GMTA
/Lagom/Tools/CodeGenerators/LibWeb @AtkinsSJ
/Ports @timschumi
/Tests/LibCompress @timschumi
/Toolchain @BertalanD
/Userland/Applications/Spreadsheet @alimpfard
/Userland/BuggieBox @timschumi
/Userland/DynamicLoader @BertalanD
/Userland/Libraries/LibArchive @timschumi
/Userland/Libraries/LibCompress @timschumi
/Userland/Libraries/LibCore/File.* @timschumi
/Userland/Libraries/LibCore/Socket.* @timschumi
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibELF @BertalanD
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/CSS @AtkinsSJ
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @trflynn89
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/gzip.cpp @timschumi
/Userland/Utilities/lzcat.cpp @timschumi
/Userland/Utilities/readelf.cpp @BertalanD
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/tar.cpp @timschumi
/Userland/Utilities/unzip.cpp @timschumi
/Userland/Utilities/wasm.cpp @alimpfard
/Userland/Utilities/xzcat.cpp @timschumi
/Userland/Utilities/zip.cpp @timschumi

Kernel/Storage: Remove ATA IDE support
  Base/usr/share/man/man7/boot_parameters.md
  Kernel/Arch/init.cpp
  Kernel/Arch/x86_64/ISABus/IDEController.cpp
  Kernel/Arch/x86_64/ISABus/IDEController.h
  Kernel/Arch/x86_64/PCI/IDELegacyModeController.cpp
  Kernel/Arch/x86_64/PCI/IDELegacyModeController.h
  Kernel/Boot/CommandLine.cpp
  Kernel/Boot/CommandLine.h
  Kernel/CMakeLists.txt
  Kernel/Devices/Storage/AHCI/ATADevice.cpp
  Kernel/Devices/Storage/AHCI/ATADevice.h
  Kernel/Devices/Storage/AHCI/ATADiskDevice.cpp
  Kernel/Devices/Storage/AHCI/ATADiskDevice.h
  Kernel/Devices/Storage/AHCI/Controller.cpp
  Kernel/Devices/Storage/AHCI/Controller.h
  Kernel/Devices/Storage/AHCI/Definitions.h
  Kernel/Devices/Storage/AHCI/InterruptHandler.cpp
  Kernel/Devices/Storage/AHCI/InterruptHandler.h
  Kernel/Devices/Storage/AHCI/Port.cpp
  Kernel/Devices/Storage/AHCI/Port.h
  Kernel/Devices/Storage/ATA/ATAController.cpp
  Kernel/Devices/Storage/ATA/ATAController.h
  Kernel/Devices/Storage/ATA/ATADevice.h
  Kernel/Devices/Storage/ATA/ATAPort.cpp
  Kernel/Devices/Storage/ATA/ATAPort.h
  Kernel/Devices/Storage/ATA/Definitions.h
  Kernel/Devices/Storage/ATA/GenericIDE/Channel.cpp
  Kernel/Devices/Storage/ATA/GenericIDE/Channel.h
  Kernel/Devices/Storage/ATA/GenericIDE/Controller.cpp
  Kernel/Devices/Storage/ATA/GenericIDE/Controller.h
  Kernel/Devices/Storage/StorageManagement.cpp
  Kernel/Devices/Storage/StorageManagement.h
  Meta/gn/secondary/Kernel/BUILD.gn
Owners: none

Kernel/x86: Bake the Prekernel and the Kernel into one image
  Kernel/Arch/init.cpp
  Kernel/Boot/BootInfo.h
  Kernel/CMakeLists.txt
  Kernel/Memory/MemoryManager.cpp
  Kernel/Prekernel/CMakeLists.txt
  Kernel/Prekernel/Prekernel.h
  Kernel/Prekernel/init.cpp
  Kernel/Prekernel/linker.ld
  Meta/debug-kernel.sh
  Meta/run.py
Owners: none

LibJS/Bytecode: Don't bother propagating completion values in functions
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.h
Owners: none

LibJS/Bytecode: Sort ENUMERATE_BYTECODE_OPS list
  Userland/Libraries/LibJS/Bytecode/Instruction.h
Owners: none

LibCompress: Rename LZWDecoder.h => Lzw.h
  Userland/Libraries/LibCompress/Lzw.h
  Userland/Libraries/LibGfx/ImageFormats/GIFLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TIFFLoader.cpp
  Userland/Libraries/LibPDF/Filter.cpp
Owners: @timschumi

LibCompress/Lzw: Move shareable code to a base class
  Userland/Libraries/LibCompress/Lzw.h
Owners: @timschumi

LibCompress: Rename LZWDecoder => LzwDecompressor
  Userland/Libraries/LibCompress/Lzw.h
  Userland/Libraries/LibGfx/ImageFormats/GIFLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TIFFLoader.cpp
  Userland/Libraries/LibPDF/Filter.cpp
Owners: @timschumi

LibCompress/Lzw: Name a magic variable
  Userland/Libraries/LibCompress/Lzw.h
Owners: @timschumi

LibCompress: Add an LZW compressor
  Tests/LibCompress/CMakeLists.txt
  Tests/LibCompress/TestLzw.cpp
  Userland/Libraries/LibCompress/Lzw.h
Owners: @timschumi

image: Support exporting GIF files
  Userland/Utilities/image.cpp
Owners: none

LibGfx: Add a GIF writer
  Tests/LibGfx/TestImageWriter.cpp
  Userland/Libraries/LibGfx/CMakeLists.txt
  Userland/Libraries/LibGfx/ImageFormats/GIFWriter.cpp
  Userland/Libraries/LibGfx/ImageFormats/GIFWriter.h
Owners: none

LibGfx/GIF: Add a spec link
  Userland/Libraries/LibGfx/ImageFormats/GIFLoader.h
Owners: none

LibJS/Bytecode: Remove all the unreachable execute_impl() functions
  Userland/Libraries/LibJS/Bytecode/Interpreter.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
Owners: none

LibJS/Bytecode: Split SetVariable into four separate instructions
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/CommonImplementations.h
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.h
  Userland/Libraries/LibJS/Bytecode/Instruction.h
  Userland/Libraries/LibJS/Bytecode/Interpreter.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
Owners: none

LibJS/Bytecode: Rename GetVariable => GetBinding
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Instruction.h
  Userland/Libraries/LibJS/Bytecode/Interpreter.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
Owners: none

LibJS/Bytecode: Allow assignment expression to write directly to locals
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
Owners: none

Ports: Make package.sh executable
  Ports/SonicMania/package.sh
Owners: @timschumi

Ports: Modify package.sh file
  Ports/SonicMania/package.sh
Owners: @timschumi

Ports: Re-add AvailablePorts
  Ports/AvailablePorts.md
Owners: @timschumi

LibWeb: Implement Document.dir
  Tests/LibWeb/Text/expected/DOM/Document-dir.txt
  Tests/LibWeb/Text/input/DOM/Document-dir.html
  Userland/Libraries/LibWeb/DOM/Document.cpp
  Userland/Libraries/LibWeb/DOM/Document.h
  Userland/Libraries/LibWeb/DOM/Document.idl
Owners: none

LibGfx/GIFLoader: Add debug logging for image descriptors
  Userland/Libraries/LibGfx/ImageFormats/GIFLoader.cpp
Owners: none

LibGfx/WebP: Move some code shared by loader and writer to WebPShared.h
  Userland/Libraries/LibGfx/ImageFormats/WebPLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/WebPShared.h
  Userland/Libraries/LibGfx/ImageFormats/WebPWriter.cpp
Owners: none

LibGfx: Move AnimationWriter to its own file
  Meta/gn/secondary/Userland/Libraries/LibGfx/BUILD.gn
  Tests/LibGfx/TestImageWriter.cpp
  Userland/Libraries/LibGfx/CMakeLists.txt
  Userland/Libraries/LibGfx/ImageFormats/AnimationWriter.cpp
  Userland/Libraries/LibGfx/ImageFormats/AnimationWriter.h
  Userland/Libraries/LibGfx/ImageFormats/WebPWriter.cpp
  Userland/Libraries/LibGfx/ImageFormats/WebPWriter.h
  Userland/Utilities/animation.cpp
Owners: none

LibGfx/WebPWriter: Add some checks to write_ANMF_chunk()
  Userland/Libraries/LibGfx/ImageFormats/WebPWriter.cpp
Owners: none

LibGfx/WebPWriter: Add debug logging for ANMF chunks
  Userland/Libraries/LibGfx/ImageFormats/WebPWriter.cpp
Owners: none

LibGfx+animation: Only store changed pixels in animation frames
  Tests/LibGfx/TestImageWriter.cpp
  Userland/Libraries/LibGfx/ImageFormats/AnimationWriter.cpp
  Userland/Libraries/LibGfx/ImageFormats/AnimationWriter.h
  Userland/Utilities/animation.cpp
Owners: none

LibWeb: Add scaffolding for DynamicsCompressorNode
  Meta/Lagom/Tools/CodeGenerators/LibWeb/BindingsGenerator/IDLGenerators.cpp
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/Forward.h
  Userland/Libraries/LibWeb/WebAudio/DynamicsCompressorNode.cpp
  Userland/Libraries/LibWeb/WebAudio/DynamicsCompressorNode.h
  Userland/Libraries/LibWeb/WebAudio/DynamicsCompressorNode.idl
  Userland/Libraries/LibWeb/idl_files.cmake
Owners: none

LibWeb: Implement BaseAudioContext.createDynamicsCompressor
  Tests/LibWeb/Text/expected/WebAudio/DynamicsCompressorNode.txt
  Tests/LibWeb/Text/input/WebAudio/DynamicsCompressorNode.html
  Userland/Libraries/LibWeb/WebAudio/BaseAudioContext.cpp
  Userland/Libraries/LibWeb/WebAudio/BaseAudioContext.h
  Userland/Libraries/LibWeb/WebAudio/BaseAudioContext.idl
Owners: none

CMake: Export targets for Clang Plugins so they can be used by Serenity
  Meta/CMake/clang_development.cmake
  Meta/CMake/utils.cmake
  Meta/Lagom/CMakeLists.txt
  Meta/Lagom/ClangPlugins/CMakeLists.txt
  Tests/ClangPlugins/CMakeLists.txt
Owners: none

CMake: Enable ClangPlugins for Serenity builds if ENABLE_CLANG_PLUGINS
  CMakeLists.txt
Owners: none

LibWeb: Support loading FontFaces constructed with binary data
  Tests/LibWeb/Text/expected/css/FontFace-binary-data.txt
  Tests/LibWeb/Text/input/css/FontFace-binary-data.html
  Userland/Libraries/LibWeb/CSS/FontFace.cpp
  Userland/Libraries/LibWeb/CSS/FontFace.h
  Userland/Libraries/LibWeb/CSS/FontFace.idl
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Parser/Parser.h
  Userland/Libraries/LibWeb/HTML/EventLoop/Task.h
Owners: @AtkinsSJ

LibCompress: Rename LZWDecoder.h => Lzw.h
  Userland/Libraries/LibCompress/Lzw.h
  Userland/Libraries/LibGfx/ImageFormats/GIFLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TIFFLoader.cpp
  Userland/Libraries/LibPDF/Filter.cpp
Owners: @timschumi

LibGfx: Add a GIF writer
  Tests/LibGfx/TestImageWriter.cpp
  Userland/Libraries/LibGfx/CMakeLists.txt
  Userland/Libraries/LibGfx/ImageFormats/GIFWriter.cpp
  Userland/Libraries/LibGfx/ImageFormats/GIFWriter.h
Owners: none

LibCompress: Add an LZW compressor
  Tests/LibCompress/CMakeLists.txt
  Tests/LibCompress/TestLzw.cpp
  Userland/Libraries/LibCompress/Lzw.h
Owners: @timschumi

LibCompress: Rename LZWDecoder => LzwDecompressor
  Userland/Libraries/LibCompress/Lzw.h
  Userland/Libraries/LibGfx/ImageFormats/GIFLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TIFFLoader.cpp
  Userland/Libraries/LibPDF/Filter.cpp
Owners: @timschumi

LibCompress/Lzw: Move shareable code to a base class
  Userland/Libraries/LibCompress/Lzw.h
Owners: @timschumi

image: Support exporting GIF files
  Userland/Utilities/image.cpp
Owners: none

LibGfx/GIF: Add a spec link
  Userland/Libraries/LibGfx/ImageFormats/GIFLoader.h
Owners: none

LibCompress/Lzw: Name a magic variable
  Userland/Libraries/LibCompress/Lzw.h
Owners: @timschumi
