Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

LibWeb: Prevent max-width expanding the width
  Tests/LibWeb/Layout/expected/block-and-inline/max-width-must-not-expand-element.txt
  Tests/LibWeb/Layout/input/block-and-inline/max-width-must-not-expand-element.html
  Userland/Libraries/LibWeb/Layout/BlockFormattingContext.cpp
Owners: none

Tests/LibPDF: Make encrypted_with_aes test some metadata too
  Tests/LibPDF/TestPDF.cpp
Owners: none

LibWeb: Remove many redundant SVGUseElement clone calls
  Userland/Libraries/LibWeb/SVG/SVGElement.cpp
Owners: none

LibWeb: Rename loaded observer event to match spec
  Userland/Libraries/LibWeb/DOM/Document.cpp
  Userland/Libraries/LibWeb/DOM/DocumentObserver.h
  Userland/Libraries/LibWeb/SVG/SVGUseElement.cpp
Owners: none

LibJS: Identify global variables during parsing
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Parser.cpp
  Userland/Libraries/LibJS/Parser.h
  Userland/Libraries/LibJS/Runtime/ShadowRealm.cpp
Owners: @linusg

LibPDF: Make encrypted object streams work
  Tests/LibPDF/CMakeLists.txt
  Tests/LibPDF/TestPDF.cpp
  Tests/LibPDF/encryption_nocopy.pdf
  Userland/Libraries/LibPDF/DocumentParser.cpp
  Userland/Libraries/LibPDF/Parser.h
Owners: none

LibJS: Add modification counter in DeclarativeEnvironment
  Userland/Libraries/LibJS/Runtime/DeclarativeEnvironment.cpp
  Userland/Libraries/LibJS/Runtime/DeclarativeEnvironment.h
Owners: @linusg

LibWeb+LibXML: Make SVG file loaded directly
  Userland/Libraries/LibWeb/XML/XMLDocumentBuilder.cpp
  Userland/Libraries/LibXML/Parser/Parser.cpp
Owners: @alimpfard

LibJS: Add optimized GetGlobal instruction to access global variables
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Executable.h
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.h
  Userland/Libraries/LibJS/Bytecode/Instruction.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
Owners: @linusg

LibJS: Add optimized GetGlobal instruction to access global variables
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Executable.h
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.h
  Userland/Libraries/LibJS/Bytecode/Instruction.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
Owners: @linusg

LibJS: Add modification counter in DeclarativeEnvironment
  Userland/Libraries/LibJS/Runtime/DeclarativeEnvironment.cpp
  Userland/Libraries/LibJS/Runtime/DeclarativeEnvironment.h
Owners: @linusg

LibJS: Identify global variables during parsing
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Parser.cpp
  Userland/Libraries/LibJS/Parser.h
  Userland/Libraries/LibJS/Runtime/ShadowRealm.cpp
Owners: @linusg

LibPDF: Mark PDF::Error nodiscard
  Userland/Libraries/LibPDF/Error.h
Owners: none

AK: Mark Error nodiscard
  AK/Error.h
Owners: none

AK: Work around Xcode 15 beta mishandling trailing `requires` clauses
  AK/NonnullRefPtr.h
  AK/RefPtr.h
Owners: none

Ports: Don't import GPG keys on download
  Ports/.port_include.sh
Owners: none

Ports: Remove the "no HTTPS" workaround
  Ports/.port_include.sh
Owners: none

Ports: Remove the separate branch for extracting .tar.gz files
  Ports/.port_include.sh
Owners: none

AK: Mark Error nodiscard
  AK/Error.h
Owners: none

LibPDF: Mark PDF::Error nodiscard
  Userland/Libraries/LibPDF/Error.h
Owners: none

LibPDF: Make encrypted object streams work
  Tests/LibPDF/CMakeLists.txt
  Tests/LibPDF/TestPDF.cpp
  Tests/LibPDF/encryption_nocopy.pdf
  Userland/Libraries/LibPDF/DocumentParser.cpp
  Userland/Libraries/LibPDF/Parser.h
Owners: none

Tests/LibPDF: Make encrypted_with_aes test some metadata too
  Tests/LibPDF/TestPDF.cpp
Owners: none

LibWeb: Fix a few comment typos
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

LibWeb: Fix a few comment typos
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

LibPDF: Remove an unused variable
  Userland/Libraries/LibPDF/Fonts/SimpleFont.cpp
Owners: none

ps: Select user-specified processes only when the `-q` option is used
  Userland/Utilities/ps.cpp
Owners: none

LibWeb: Include scrollable overflow in the "absolute paint rect"
  Userland/Libraries/LibWeb/Painting/PaintableBox.cpp
Owners: none

LibGfx: Add Rect::unite_{horizontally,vertically}()
  Tests/LibGfx/TestRect.cpp
  Userland/Libraries/LibGfx/Rect.h
Owners: none

LibWeb: Add LineBox::absolute_rect()
  Userland/Libraries/LibWeb/Layout/LayoutState.cpp
  Userland/Libraries/LibWeb/Layout/LineBox.h
Owners: none

LibWeb: Bring measuring of scrollable overflow closer to spec
  Userland/Libraries/LibWeb/Dump.cpp
  Userland/Libraries/LibWeb/Layout/LayoutState.cpp
  Userland/Libraries/LibWeb/Painting/PaintableBox.h
  Userland/Services/WebContent/PageHost.cpp
Owners: none

LibPDF: Remove an unused variable
  Userland/Libraries/LibPDF/Fonts/SimpleFont.cpp
Owners: none

LibJS/Bytecode: Make Bytecode::Register constexpr
  Userland/Libraries/LibJS/Bytecode/Register.h
Owners: @linusg

LibGUI+Calendar: Move date control logic to the calendar widget
  Userland/Applications/Calendar/main.cpp
  Userland/Libraries/LibGUI/Calendar.cpp
  Userland/Libraries/LibGUI/Calendar.h
  Userland/Services/Taskbar/ClockWidget.cpp
Owners: none

LibGUI: Make the calendar widget scrollable
  Userland/Libraries/LibGUI/Calendar.cpp
  Userland/Libraries/LibGUI/Calendar.h
  Userland/Services/Taskbar/ClockWidget.cpp
Owners: none

ClockWidget: Deduplicate logic for updating calendar buttons
  Userland/Services/Taskbar/ClockWidget.cpp
  Userland/Services/Taskbar/ClockWidget.h
Owners: none

LibPDF: Fix off-by-one in Reader
  Userland/Libraries/LibPDF/Reader.h
Owners: none

LibPDF: Fix off-by-one in Reader
  Userland/Libraries/LibPDF/Reader.h
Owners: none

MailSettings: Make TLS option checked by default
  Userland/Applications/MailSettings/MailSettingsWidget.cpp
Owners: none

LibPDF: Implement set_flatness_tolerance
  Userland/Libraries/LibPDF/Renderer.cpp
  Userland/Libraries/LibPDF/Renderer.h
Owners: none

LibIPC: Do not leak the Core::File fd by default
  Userland/Libraries/LibIPC/File.h
  Userland/Services/FileSystemAccessServer/ConnectionFromClient.cpp
  Userland/Utilities/headless-browser.cpp
Owners: none
