Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleinesfilmroellchen, @linusg, @trflynn89

Base: Make the serenity-application HackStudio template build again
  Base/res/devel/templates/serenity-application/main.cpp
Owners: none

icc: Extract out_optional() function
  Userland/Utilities/icc.cpp
Owners: none

LibFileSystemAccessClient: Rename try_* functions to try_*_deprecated
  Userland/Applications/3DFileViewer/main.cpp
  Userland/Applications/HexEditor/HexEditorWidget.cpp
  Userland/Applications/HexEditor/main.cpp
  Userland/Applications/PDFViewer/PDFViewerWidget.cpp
  Userland/Applications/PDFViewer/main.cpp
  Userland/Applications/PixelPaint/ImageEditor.cpp
  Userland/Applications/PixelPaint/MainWidget.cpp
  Userland/Applications/PixelPaint/main.cpp
  Userland/Applications/Presenter/PresenterWidget.cpp
  Userland/Applications/Spreadsheet/SpreadsheetWidget.cpp
  Userland/Applications/Spreadsheet/main.cpp
  Userland/Applications/TextEditor/MainWidget.cpp
  Userland/Applications/TextEditor/main.cpp
  Userland/Applications/ThemeEditor/MainWidget.cpp
  Userland/Applications/ThemeEditor/PreviewWidget.cpp
  Userland/Applications/ThemeEditor/main.cpp
  Userland/Demos/WidgetGallery/GalleryWidget.cpp
  Userland/DevTools/GMLPlayground/main.cpp
  Userland/Games/Chess/main.cpp
  Userland/Libraries/LibFileSystemAccessClient/Client.cpp
  Userland/Libraries/LibFileSystemAccessClient/Client.h
  Userland/Libraries/LibWebView/OutOfProcessWebView.cpp
Owners: @kleinesfilmroellchen

LibFileSystemAccessClient+CrashReporter: Introduce FSAC::File and use it
  Userland/Applications/CrashReporter/main.cpp
  Userland/Libraries/LibFileSystemAccessClient/Client.cpp
  Userland/Libraries/LibFileSystemAccessClient/Client.h
Owners: @linusg

LibCore: Add forward declaration for `Core::Stream::File`
  Userland/Libraries/LibCore/Forward.h
Owners: none

LibFileSystemAccessClient: Add functions returning FSAC::File
  Userland/Libraries/LibFileSystemAccessClient/Client.cpp
  Userland/Libraries/LibFileSystemAccessClient/Client.h
Owners: none

PixelPaint: Port to `Core::Stream` :^)
  Userland/Applications/PixelPaint/Image.cpp
  Userland/Applications/PixelPaint/Image.h
  Userland/Applications/PixelPaint/ImageEditor.cpp
  Userland/Applications/PixelPaint/ImageEditor.h
  Userland/Applications/PixelPaint/MainWidget.cpp
  Userland/Applications/PixelPaint/MainWidget.h
  Userland/Applications/PixelPaint/PaletteWidget.cpp
  Userland/Applications/PixelPaint/PaletteWidget.h
  Userland/Applications/PixelPaint/ProjectLoader.cpp
  Userland/Applications/PixelPaint/ProjectLoader.h
  Userland/Applications/PixelPaint/main.cpp
Owners: none

Snake: Add drawn snake body
  Base/res/icons/snake/skins/ladybird/corner.png
  Base/res/icons/snake/skins/ladybird/head.png
  Base/res/icons/snake/skins/ladybird/horizontal.png
  Base/res/icons/snake/skins/ladybird/tail.png
  Base/res/icons/snake/skins/ladybird/vertical.png
  Base/res/icons/snake/skins/snake/corner.png
  Base/res/icons/snake/skins/snake/head.png
  Base/res/icons/snake/skins/snake/horizontal.png
  Base/res/icons/snake/skins/snake/tail.png
  Base/res/icons/snake/skins/snake/vertical.png
  Userland/Games/Snake/Game.cpp
  Userland/Games/Snake/Game.h
  Userland/Games/Snake/main.cpp
Owners: none

LibCrypto: Use default Crypto::Hash::Digest comparison operators
  Userland/Libraries/LibCrypto/Hash/HashFunction.h
Owners: none

LibWebView+WebContent: Expose the Accessibility Tree to Other Processes
  Ladybird/WebContentView.cpp
  Ladybird/WebContentView.h
  Userland/Libraries/LibWebView/OutOfProcessWebView.cpp
  Userland/Libraries/LibWebView/OutOfProcessWebView.h
  Userland/Libraries/LibWebView/ViewImplementation.h
  Userland/Libraries/LibWebView/WebContentClient.cpp
  Userland/Libraries/LibWebView/WebContentClient.h
  Userland/Services/WebContent/ConnectionFromClient.cpp
  Userland/Services/WebContent/ConnectionFromClient.h
  Userland/Services/WebContent/WebContentClient.ipc
  Userland/Services/WebContent/WebContentServer.ipc
Owners: none

Browser: Add Accessibility Tab to Inspector Widget
  Userland/Applications/Browser/InspectorWidget.cpp
  Userland/Applications/Browser/InspectorWidget.h
  Userland/Applications/Browser/Tab.cpp
  Userland/Libraries/LibWebView/AccessibilityTreeModel.cpp
  Userland/Libraries/LibWebView/AccessibilityTreeModel.h
  Userland/Libraries/LibWebView/CMakeLists.txt
Owners: none

Kernel: Mark Process::jail() method as const
  Kernel/Devices/Device.cpp
  Kernel/FileSystem/SysFS/Subsystems/Kernel/GlobalInformation.cpp
  Kernel/JailManagement.cpp
  Kernel/Process.cpp
  Kernel/Process.h
  Kernel/Syscalls/execve.cpp
Owners: none

Spreadsheet: Remove cursor keys from is_navigation
  Userland/Applications/Spreadsheet/SpreadsheetView.h
Owners: none

.github/CODEOWNERS:

/AK/FixedArray.h @kleinesfilmroellchen
/AK/NoAllocationGuard.h @kleinesfilmroellchen
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Help @kleinesfilmroellchen
/Userland/Applications/Piano @kleinesfilmroellchen
/Userland/Applications/Presenter @kleinesfilmroellchen
/Userland/Applications/SoundPlayer @kleinesfilmroellchen
/Userland/Libraries/LibAudio @kleinesfilmroellchen
/Userland/Libraries/LibCore/EventLoop.* @kleinesfilmroellchen
/Userland/Libraries/LibCore/SharedCircularQueue.h @kleinesfilmroellchen
/Userland/Libraries/LibDSP @kleinesfilmroellchen
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibManual @kleinesfilmroellchen
/Userland/Libraries/LibSQL @trflynn89
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibThreading @kleinesfilmroellchen
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Utilities/abench.cpp @kleinesfilmroellchen
/Userland/Utilities/aplay.cpp @kleinesfilmroellchen
/Userland/Utilities/asctl.cpp @kleinesfilmroellchen
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/man.cpp @kleinesfilmroellchen
/Userland/Utilities/sql.cpp @trflynn89
*.js @linusg
