Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleinesfilmroellchen, @linusg, @trflynn89

Everywhere: Make global `inline` functions not `static`
  Kernel/Process.h
  Userland/Libraries/LibGfx/FillPathImplementation.h
  Userland/Utilities/touch.cpp
Owners: none

LibRegex: Tweak get_error() function
  Userland/Libraries/LibRegex/C/Regex.cpp
Owners: none

LibRegex: Return StringView from get_error_string()
  Userland/Libraries/LibRegex/RegexError.h
Owners: none

LibGfx: Sort ICC parsing functions by spec number
  Userland/Libraries/LibGfx/ICCProfile.cpp
Owners: none

Everywhere: Remove some redundant `inline` keywords
  Kernel/PerformanceManager.h
  Kernel/Process.h
  Kernel/Thread.h
  Userland/Libraries/LibCrypto/Hash/MD5.h
  Userland/Libraries/LibCrypto/Hash/SHA1.h
  Userland/Libraries/LibCrypto/Hash/SHA2.h
  Userland/Libraries/LibWeb/CSS/StyleValue.h
Owners: none

LibRegex: Tweak get_error() function
  Userland/Libraries/LibRegex/C/Regex.cpp
Owners: none

Everywhere: Make global `inline` functions not `static`
  Kernel/Process.h
  Userland/Libraries/LibGfx/FillPathImplementation.h
  Userland/Utilities/touch.cpp
Owners: none

LibRegex: Return StringView from get_error_string()
  Userland/Libraries/LibRegex/RegexError.h
Owners: none

Ports: Fix the libmpg123 patch
  Ports/libmpg123/patches/0001-Teach-the-multiple-configure-files-that-serenity-is-.patch
Owners: none

LibCrypto: Use nested namespace specifiers in Hash/
  Userland/Libraries/LibCrypto/Hash/HashFunction.h
  Userland/Libraries/LibCrypto/Hash/MD5.cpp
  Userland/Libraries/LibCrypto/Hash/MD5.h
  Userland/Libraries/LibCrypto/Hash/SHA1.cpp
  Userland/Libraries/LibCrypto/Hash/SHA1.h
  Userland/Libraries/LibCrypto/Hash/SHA2.cpp
  Userland/Libraries/LibCrypto/Hash/SHA2.h
Owners: none

LibIPC: Move most of DeprecatedString's encoder to StringView's encoder
  Userland/Libraries/LibIPC/Encoder.cpp
Owners: none

LibIPC+LibC: Add and use a helper to encode/decoder container sizes
  Userland/Libraries/LibC/netdb.cpp
  Userland/Libraries/LibIPC/Decoder.cpp
  Userland/Libraries/LibIPC/Decoder.h
  Userland/Libraries/LibIPC/Encoder.cpp
  Userland/Libraries/LibIPC/Encoder.h
Owners: none

LibIPC: Remove declarations of unimplemented IPC::Encoder methods
  Userland/Libraries/LibIPC/Encoder.h
Owners: none

SoundPlayer: Parse Main::Arguments with Core::ArgsParser
  Userland/Applications/SoundPlayer/main.cpp
Owners: @kleinesfilmroellchen

SystemMonitor: Update stats/graph immediately on launch
  Userland/Applications/SystemMonitor/main.cpp
Owners: none

LibCrypto: Add a Formatter for Crypto::Hash::Digest<>
  Userland/Libraries/LibCrypto/Hash/HashFunction.h
Owners: none

LibGfx: Store profile id MD5 in ICCProfile
  Userland/Libraries/LibGfx/ICCProfile.cpp
  Userland/Libraries/LibGfx/ICCProfile.h
Owners: none

LibGfx: East-const-ify ICCProfile::pcs_illuminant()
  Userland/Libraries/LibGfx/ICCProfile.h
Owners: none

icc: Print profile id
  Userland/Utilities/icc.cpp
Owners: none

LibGfx: Remove useless name from try_load_from_externally_owned_memory()
  Userland/Libraries/LibGfx/ICCProfile.h
Owners: none

LibCrypto: Add equality operators for Crypto::Hash::Digest<>
  Userland/Libraries/LibCrypto/Hash/HashFunction.h
Owners: none

LibGfx+icc: Print if profile id is valid
  Userland/Libraries/LibGfx/ICCProfile.cpp
  Userland/Libraries/LibGfx/ICCProfile.h
  Userland/Utilities/icc.cpp
Owners: none

Presenter: Add save actions
  Userland/Applications/Presenter/PresenterWidget.cpp
  Userland/Applications/Presenter/main.cpp
Owners: @kleinesfilmroellchen

Presenter: Add JSON serialization of Presentation
  Userland/Applications/Presenter/Presentation.cpp
  Userland/Applications/Presenter/Presentation.h
  Userland/Applications/Presenter/Slide.cpp
  Userland/Applications/Presenter/Slide.h
  Userland/Applications/Presenter/SlideObject.cpp
  Userland/Applications/Presenter/SlideObject.h
Owners: @kleinesfilmroellchen

Everywhere: Remove unused includes of AtomicRefCounted.h
  Kernel/FileSystem/SysFS/Subsystems/Kernel/Variables/BooleanVariable.h
  Kernel/FileSystem/SysFS/Subsystems/Kernel/Variables/StringVariable.h
Owners: none

Everywhere: Remove unused includes of Checked.h
  AK/String.cpp
  Kernel/Graphics/Bochs/GraphicsAdapter.cpp
  Kernel/Graphics/VMWare/GraphicsAdapter.cpp
  Tests/AK/TestSpan.cpp
  Userland/Libraries/LibJS/Runtime/Intl/NumberFormat.cpp
  Userland/Libraries/LibWeb/Painting/GradientPainting.cpp
Owners: @trflynn89

Everywhere: Remove unused includes of Error.h
  Kernel/Devices/Audio/Management.h
  Userland/Libraries/LibGLSL/LinkedShader.h
  Userland/Libraries/LibGfx/VectorN.h
  Userland/Libraries/LibVideo/VP9/Decoder.h
Owners: none

Everywhere: Remove unused includes of CircularQueue.h
  Kernel/Arch/x86_64/ISABus/HID/PS2KeyboardDevice.h
  Kernel/Arch/x86_64/ISABus/HID/PS2MouseDevice.h
  Kernel/Arch/x86_64/ISABus/HID/VMWareMouseDevice.h
  Kernel/Devices/HID/HIDManagement.h
  Userland/Libraries/LibCompress/Brotli.h
Owners: none

Everywhere: Remove unused includes of DateTimeLexer.h
  Userland/Libraries/LibJS/Runtime/Temporal/AbstractOperations.cpp
Owners: @linusg

Everywhere: Remove unused includes of DisjointChunks.h
  Userland/Libraries/LibDSP/Track.h
Owners: @kleinesfilmroellchen

Everywhere: Remove unused includes of BinarySearch.h
  Userland/Libraries/LibLine/Editor.h
  Userland/Shell/Shell.cpp
Owners: none

Everywhere: Remove unused includes of Endian.h
  AK/IPv6Address.h
  Tests/AK/TestIPv6Address.cpp
  Userland/Libraries/LibCompress/Deflate.h
  Userland/Libraries/LibCrypto/Curves/X25519.cpp
  Userland/Libraries/LibDeviceTree/Validation.cpp
  Userland/Libraries/LibEDID/EDID.cpp
  Userland/Libraries/LibEDID/EDID.h
  Userland/Libraries/LibGfx/PBMLoader.cpp
  Userland/Libraries/LibGfx/PGMLoader.cpp
  Userland/Libraries/LibGfx/PPMLoader.cpp
  Userland/Libraries/LibGfx/PortableImageLoaderCommon.h
  Userland/Libraries/LibTLS/Handshake.cpp
  Userland/Libraries/LibTLS/HandshakeCertificate.cpp
Owners: none

Everywhere: Remove unused includes of EnumBits.h
  AK/StringView.h
  Kernel/FileSystem/ISO9660FS/FileSystem.h
  Userland/Libraries/LibGUI/Widget.h
Owners: none

Everywhere: Remove unused includes of ByteReader.h
  Kernel/Bus/PCI/Access.cpp
  Kernel/Bus/PCI/Controller/VolumeManagementDevice.cpp
  Kernel/IOWindow.h
  Userland/Libraries/LibCrypto/Curves/X25519.cpp
  Userland/Libraries/LibEDID/EDID.cpp
  Userland/Libraries/LibEDID/EDID.h
Owners: none

Everywhere: Remove unused includes of Badge, BinaryBufferWriter, Bitmap*
  AK/Format.h
  AK/StringView.cpp
  Kernel/Arch/x86_64/PCI/Controller/HostBridge.h
  Kernel/Bus/PCI/Access.h
  Kernel/Bus/PCI/Controller/MemoryBackedHostBridge.h
  Kernel/Bus/PCI/Controller/VolumeManagementDevice.h
  Kernel/Devices/Audio/Management.h
  Kernel/FileSystem/VirtualFileSystem.h
  Kernel/Graphics/VirtIOGPU/DisplayConnector.h
  Kernel/Graphics/VirtIOGPU/GraphicsAdapter.cpp
  Userland/Libraries/LibCrypto/ASN1/DER.cpp
  Userland/Libraries/LibCrypto/ASN1/DER.h
  Userland/Libraries/LibCrypto/PK/RSA.cpp
  Userland/Libraries/LibJS/Heap/Handle.h
  Userland/Libraries/LibJS/Runtime/Object.h
  Userland/Libraries/LibSoftGPU/Device.cpp
  Userland/Services/AudioServer/Mixer.h
Owners: @linusg

Everywhere: Remove unused includes of Assertions.h
  AK/Result.h
  AK/Userspace.h
  AK/Weakable.h
  Kernel/Arch/x86_64/CPU.cpp
  Kernel/Scheduler.h
  Kernel/Syscalls/utimensat.cpp
  Userland/DevTools/Profiler/EventSerialNumber.h
  Userland/DevTools/UserspaceEmulator/EmulatorControl.h
  Userland/Libraries/LibC/sys/file.cpp
  Userland/Libraries/LibC/sys/socket.cpp
  Userland/Libraries/LibELF/DynamicLoader.h
  Userland/Libraries/LibGL/Vertex.cpp
  Userland/Libraries/LibJS/Runtime/Array.h
  Userland/Libraries/LibManual/Node.cpp
  Userland/Utilities/arp.cpp
  Userland/Utilities/copy.cpp
  Userland/Utilities/ifconfig.cpp
  Userland/Utilities/ping.cpp
Owners: @linusg, @kleinesfilmroellchen

Everywhere: Remove unused includes of CharacterTypes.h
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GenerateNumberFormatData.cpp
  Meta/Lagom/Tools/CodeGenerators/LibWeb/GenerateWindowOrWorkerInterfaces.cpp
  Userland/Games/MasterWord/WordGame.cpp
  Userland/Libraries/LibGUI/EditingEngine.cpp
  Userland/Libraries/LibGfx/Font/BitmapFont.cpp
  Userland/Libraries/LibGfx/Font/BitmapFont.h
  Userland/Libraries/LibGfx/Painter.cpp
  Userland/Libraries/LibIDL/IDLParser.cpp
  Userland/Libraries/LibIDL/IDLParser.h
  Userland/Libraries/LibJS/Runtime/RegExpPrototype.cpp
  Userland/Libraries/LibJS/Runtime/Temporal/AbstractOperations.cpp
  Userland/Libraries/LibWeb/HTML/HTMLInputElement.cpp
  Userland/Libraries/LibWeb/HTML/Parser/HTMLEncodingDetection.cpp
  Userland/Libraries/LibWeb/HTML/Parser/HTMLParser.cpp
  Userland/Libraries/LibWeb/Page/EventHandler.cpp
Owners: @linusg

AK+LibLocale: Remove unused includes of AK/AllOf.h
  AK/Format.h
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GenerateNumberFormatData.cpp
Owners: none

Everywhere: Remove unused includes of Demangle.h
  Userland/Libraries/LibDebug/DebugSession.h
  Userland/Libraries/LibWeb/Layout/Node.cpp
Owners: none

Everywhere: Remove unused includes of Atomic.h
  AK/NonnullRefPtr.h
  AK/RefPtr.h
  Kernel/Arch/x86_64/CPU.h
  Kernel/FileSystem/Plan9FS/Inode.h
  Kernel/Graphics/Bochs/GraphicsAdapter.cpp
  Kernel/Graphics/VMWare/GraphicsAdapter.cpp
  Kernel/Locking/Mutex.h
  Kernel/WaitQueue.h
  Userland/Libraries/LibAudio/ConnectionToServer.cpp
  Userland/Libraries/LibC/pthread_tls.cpp
  Userland/Libraries/LibC/time.cpp
  Userland/Libraries/LibVideo/PlaybackManager.h
  Userland/Services/AudioServer/Mixer.h
Owners: @kleinesfilmroellchen

.github/CODEOWNERS:

/AK/FixedArray.h @kleinesfilmroellchen
/AK/NoAllocationGuard.h @kleinesfilmroellchen
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Help @kleinesfilmroellchen
/Userland/Applications/Piano @kleinesfilmroellchen
/Userland/Applications/Presenter @kleinesfilmroellchen
/Userland/Applications/SoundPlayer @kleinesfilmroellchen
/Userland/Libraries/LibAudio @kleinesfilmroellchen
/Userland/Libraries/LibCore/EventLoop.* @kleinesfilmroellchen
/Userland/Libraries/LibCore/SharedCircularQueue.h @kleinesfilmroellchen
/Userland/Libraries/LibDSP @kleinesfilmroellchen
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibManual @kleinesfilmroellchen
/Userland/Libraries/LibSQL @trflynn89
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibThreading @kleinesfilmroellchen
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Utilities/abench.cpp @kleinesfilmroellchen
/Userland/Utilities/aplay.cpp @kleinesfilmroellchen
/Userland/Utilities/asctl.cpp @kleinesfilmroellchen
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/man.cpp @kleinesfilmroellchen
/Userland/Utilities/sql.cpp @trflynn89
*.js @linusg
