Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

pdf: Minorly tweak a help text
  Userland/Utilities/pdf.cpp
Owners: none

LibJS: Speed up has declaration check in ScopePusher
  Userland/Libraries/LibJS/Parser.cpp
Owners: @linusg

LibWeb: Include scrollable overflow in the "absolute paint rect"
  Userland/Libraries/LibWeb/Painting/PaintableBox.cpp
Owners: none

LibWeb: Bring measuring of scrollable overflow closer to spec
  Userland/Libraries/LibWeb/Dump.cpp
  Userland/Libraries/LibWeb/Layout/LayoutState.cpp
  Userland/Libraries/LibWeb/Painting/PaintableBox.h
  Userland/Services/WebContent/PageHost.cpp
Owners: none

LibGfx: Add Rect::unite_{horizontally,vertically}()
  Tests/LibGfx/TestRect.cpp
  Userland/Libraries/LibGfx/Rect.h
Owners: none

LibWeb: Add LineBox::absolute_rect()
  Userland/Libraries/LibWeb/Layout/LayoutState.cpp
  Userland/Libraries/LibWeb/Layout/LineBox.h
Owners: none

Ports: Remove the separate branch for extracting .tar.gz files
  Ports/.port_include.sh
Owners: none

Ports: Don't import GPG keys on download
  Ports/.port_include.sh
Owners: none

Ports: Remove the "no HTTPS" workaround
  Ports/.port_include.sh
Owners: none

LibWeb: Fully implement CSS animation-timing-function
  Base/res/html/misc/css-animations.html
  Userland/Libraries/LibWeb/CSS/Properties.json
  Userland/Libraries/LibWeb/CSS/StyleComputer.cpp
  Userland/Libraries/LibWeb/CSS/StyleComputer.h
Owners: none

Meta/CodeGenerators+LibWeb: Implement parsing CSS easing functions
  Meta/CMake/libweb_generators.cmake
  Meta/Lagom/Tools/CodeGenerators/LibWeb/CMakeLists.txt
  Meta/Lagom/Tools/CodeGenerators/LibWeb/GenerateCSSEasingFunctions.cpp
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/CSS/EasingFunctions.json
  Userland/Libraries/LibWeb/CSS/Identifiers.json
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Parser/Parser.h
  Userland/Libraries/LibWeb/CSS/StyleValue.cpp
  Userland/Libraries/LibWeb/CSS/StyleValue.h
  Userland/Libraries/LibWeb/CSS/StyleValues/EasingStyleValue.cpp
  Userland/Libraries/LibWeb/CSS/StyleValues/EasingStyleValue.h
  Userland/Libraries/LibWeb/Forward.h
Owners: none

Meta/CodeGenerators+LibWeb: Add support for 'easing-function' CSS values
  Meta/Lagom/Tools/CodeGenerators/LibWeb/GenerateCSSPropertyID.cpp
  Userland/Libraries/LibWeb/CSS/CSSNumericType.cpp
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
Owners: none

less: Restore original terminal state when SIGTERM is received
  Userland/Utilities/less.cpp
Owners: none

less: Ignore SIGINT signals
  Userland/Utilities/less.cpp
Owners: none

less: Replace LibC calls with their LibCore equivalents
  Userland/Utilities/less.cpp
Owners: none

LibJS: Implement import.meta for bytecode
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Instruction.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
  Userland/Libraries/LibJS/Runtime/VM.cpp
  Userland/Libraries/LibJS/Runtime/VM.h
  Userland/Libraries/LibJS/SourceTextModule.h
Owners: @linusg

LibXML: Parser handle standalone declaration
  Userland/Libraries/LibXML/Parser/Parser.cpp
Owners: @alimpfard

LibWeb: Min-width expands width of parent element
  Tests/LibWeb/Layout/expected/block-and-inline/min-width-must-expand-parent-element.txt
  Tests/LibWeb/Layout/input/block-and-inline/min-width-must-expand-parent-element.html
  Userland/Libraries/LibWeb/Layout/BlockFormattingContext.cpp
Owners: none

AK: Remove redundant information from `TypeErasedFormatParams`
  AK/Format.h
Owners: none

LibJS/Bytecode: Use malloc instead of mmap for BasicBlock buffers
  Userland/Libraries/LibJS/Bytecode/BasicBlock.cpp
Owners: @linusg

LibJS/Bytecode: Use malloc instead of mmap for BasicBlock buffers
  Userland/Libraries/LibJS/Bytecode/BasicBlock.cpp
Owners: @linusg

LibJS: Remove unhelpful environment lookup optimization for globals
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Runtime/EnvironmentCoordinate.h
  Userland/Libraries/LibJS/Runtime/GlobalEnvironment.cpp
  Userland/Libraries/LibJS/Runtime/Reference.cpp
Owners: @linusg

less: Replace LibC calls with their LibCore equivalents
  Userland/Utilities/less.cpp
Owners: none

less: Restore original terminal state when SIGTERM is received
  Userland/Utilities/less.cpp
Owners: none

less: Ignore SIGINT signals
  Userland/Utilities/less.cpp
Owners: none

LibGUI: Add new RangeSlider widget
  Userland/Libraries/LibGUI/CMakeLists.txt
  Userland/Libraries/LibGUI/RangeSlider.cpp
  Userland/Libraries/LibGUI/RangeSlider.h
Owners: none

LibJS: Remove unhelpful environment lookup optimization for globals
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Runtime/EnvironmentCoordinate.h
  Userland/Libraries/LibJS/Runtime/GlobalEnvironment.cpp
  Userland/Libraries/LibJS/Runtime/Reference.cpp
Owners: @linusg

LibDiff: Add Diff::apply_patch
  Userland/Libraries/LibDiff/Applier.cpp
  Userland/Libraries/LibDiff/Applier.h
  Userland/Libraries/LibDiff/CMakeLists.txt
  Userland/Libraries/LibDiff/Forward.h
  Userland/Libraries/LibDiff/Hunks.h
Owners: none

LibFileSystem: Add FileSystem::move_file
  Userland/Libraries/LibFileSystem/FileSystem.cpp
  Userland/Libraries/LibFileSystem/FileSystem.h
Owners: none

LibFileSystem: Add FileSystem::is_regular_file
  Userland/Libraries/LibFileSystem/FileSystem.cpp
  Userland/Libraries/LibFileSystem/FileSystem.h
Owners: none

patch: Add the beginnings of a patch utility
  Userland/Utilities/CMakeLists.txt
  Userland/Utilities/patch.cpp
Owners: none

LibDiff: Make parsing of unified hunks more robust
  Userland/Libraries/LibDiff/Forward.h
  Userland/Libraries/LibDiff/Hunks.cpp
  Userland/Libraries/LibDiff/Hunks.h
Owners: none

LibDiff: Implement ability to parse a patch header
  Userland/Libraries/LibDiff/Forward.h
  Userland/Libraries/LibDiff/Hunks.cpp
  Userland/Libraries/LibDiff/Hunks.h
Owners: none

LibWeb: Compute border rectangles using CSSPixels
  Userland/Libraries/LibWeb/Painting/TableBordersPainting.cpp
Owners: none

LibPDF: Make Object::to_deprecated_string() look more like PDF source
  Userland/Libraries/LibPDF/ObjectDerivatives.cpp
Owners: none

LibJS/Bytecode: Don't reparse regular expressions on instantiation
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Executable.h
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
  Userland/Libraries/LibJS/Bytecode/RegexTable.cpp
  Userland/Libraries/LibJS/Bytecode/RegexTable.h
  Userland/Libraries/LibJS/CMakeLists.txt
Owners: @linusg

LibJS/Bytecode: Don't reparse regular expressions on instantiation
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Executable.h
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
  Userland/Libraries/LibJS/Bytecode/RegexTable.cpp
  Userland/Libraries/LibJS/Bytecode/RegexTable.h
  Userland/Libraries/LibJS/CMakeLists.txt
Owners: @linusg

LibWeb: Do not crash if "fill: none" is specified for svg text
  Tests/LibWeb/Layout/expected/svg/text-fill-none.txt
  Tests/LibWeb/Layout/input/svg/text-fill-none.html
  Userland/Libraries/LibWeb/Painting/SVGTextPaintable.cpp
Owners: none

LibWeb: Print FIXME instead of crashing if fill is url() in svg text
  Userland/Libraries/LibWeb/Painting/SVGTextPaintable.cpp
Owners: none

LibPDF: Add method to Document to dump a Page and all related objects
  Userland/Libraries/LibPDF/Document.cpp
  Userland/Libraries/LibPDF/Document.h
Owners: none
