Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

Meta/CodeGenerators+LibWeb: Add support for 'easing-function' CSS values
  Meta/Lagom/Tools/CodeGenerators/LibWeb/GenerateCSSPropertyID.cpp
  Userland/Libraries/LibWeb/CSS/CSSNumericType.cpp
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
Owners: none

LibWeb: Fully implement CSS animation-timing-function
  Base/res/html/misc/css-animations.html
  Userland/Libraries/LibWeb/CSS/Properties.json
  Userland/Libraries/LibWeb/CSS/StyleComputer.cpp
  Userland/Libraries/LibWeb/CSS/StyleComputer.h
Owners: none

Meta/CodeGenerators+LibWeb: Implement parsing CSS easing functions
  Meta/CMake/libweb_generators.cmake
  Meta/Lagom/Tools/CodeGenerators/LibWeb/CMakeLists.txt
  Meta/Lagom/Tools/CodeGenerators/LibWeb/GenerateCSSEasingFunctions.cpp
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/CSS/EasingFunctions.json
  Userland/Libraries/LibWeb/CSS/Identifiers.json
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Parser/Parser.h
  Userland/Libraries/LibWeb/CSS/StyleValue.cpp
  Userland/Libraries/LibWeb/CSS/StyleValue.h
  Userland/Libraries/LibWeb/CSS/StyleValues/EasingStyleValue.cpp
  Userland/Libraries/LibWeb/CSS/StyleValues/EasingStyleValue.h
  Userland/Libraries/LibWeb/Forward.h
Owners: none

Base: Add man page for nohup
  Base/usr/share/man/man1/nohup.md
Owners: none

Meta: Update gn build files with latest changes
  Meta/gn/secondary/Userland/Libraries/LibGfx/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibJS/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibWeb/CSS/Parser/BUILD.gn
Owners: none

pdf: Add function to render a page of a PDF to a bitmap
  Meta/Lagom/CMakeLists.txt
  Userland/Utilities/CMakeLists.txt
  Userland/Utilities/pdf.cpp
Owners: none

LibGfx/PNGWriter: Use a better limit for scanline capactiy
  Userland/Libraries/LibGfx/ImageFormats/PNGWriter.cpp
Owners: none

LibPDF: Add support for AESV2 encryption
  Userland/Libraries/LibPDF/CommonNames.h
  Userland/Libraries/LibPDF/Encryption.cpp
  Userland/Libraries/LibPDF/Encryption.h
Owners: none

Tests/LibPDF: Use MUST() more
  Tests/LibPDF/TestPDF.cpp
Owners: none

Tests/LibPDF: Add test for AES-encrypted PDF
  Tests/LibPDF/CMakeLists.txt
  Tests/LibPDF/TestPDF.cpp
  Tests/LibPDF/password-is-sup.pdf
Owners: none

Piano: Cache buffers in Track and WaveWidget
  Userland/Applications/Piano/MainWidget.cpp
  Userland/Applications/Piano/WaveWidget.cpp
  Userland/Applications/Piano/WaveWidget.h
  Userland/Libraries/LibDSP/Track.cpp
  Userland/Libraries/LibDSP/Track.h
Owners: none

Base: Add more emoji
  Base/res/emoji/U+1F9AB.png
  Base/res/emoji/U+1F9CE_U+1F3FB.png
  Base/res/emoji/U+1F9CE_U+1F3FB_U+200D_U+2640.png
  Base/res/emoji/U+1F9CE_U+1F3FB_U+200D_U+2642.png
  Base/res/emoji/U+1F9CE_U+1F3FC.png
  Base/res/emoji/U+1F9CE_U+1F3FC_U+200D_U+2640.png
  Base/res/emoji/U+1F9CE_U+1F3FC_U+200D_U+2642.png
  Base/res/emoji/U+1F9CE_U+1F3FD.png
  Base/res/emoji/U+1F9CE_U+1F3FD_U+200D_U+2640.png
  Base/res/emoji/U+1F9CE_U+1F3FD_U+200D_U+2642.png
  Base/res/emoji/U+1F9CE_U+1F3FE.png
  Base/res/emoji/U+1F9CE_U+1F3FE_U+200D_U+2640.png
  Base/res/emoji/U+1F9CE_U+1F3FE_U+200D_U+2642.png
  Base/res/emoji/U+1F9CE_U+1F3FF.png
  Base/res/emoji/U+1F9CE_U+1F3FF_U+200D_U+2640.png
  Base/res/emoji/U+1F9CE_U+1F3FF_U+200D_U+2642.png
Owners: none

LibJS: Re-implement the Array Grouping proposal as static methods
  Userland/Libraries/LibJS/Runtime/AbstractOperations.h
  Userland/Libraries/LibJS/Runtime/ArrayPrototype.cpp
  Userland/Libraries/LibJS/Runtime/CommonPropertyNames.h
  Userland/Libraries/LibJS/Runtime/MapConstructor.cpp
  Userland/Libraries/LibJS/Runtime/MapConstructor.h
  Userland/Libraries/LibJS/Runtime/ObjectConstructor.cpp
  Userland/Libraries/LibJS/Runtime/ObjectConstructor.h
  Userland/Libraries/LibJS/Tests/builtins/Array/Array.prototype-generic-functions.js
  Userland/Libraries/LibJS/Tests/builtins/Map/Map.groupBy.js
  Userland/Libraries/LibJS/Tests/builtins/Object/Object.groupBy.js
Owners: @linusg

LibJS: Re-implement the Array Grouping proposal as static methods
  Userland/Libraries/LibJS/Runtime/AbstractOperations.h
  Userland/Libraries/LibJS/Runtime/ArrayPrototype.cpp
  Userland/Libraries/LibJS/Runtime/CommonPropertyNames.h
  Userland/Libraries/LibJS/Runtime/MapConstructor.cpp
  Userland/Libraries/LibJS/Runtime/MapConstructor.h
  Userland/Libraries/LibJS/Runtime/ObjectConstructor.cpp
  Userland/Libraries/LibJS/Runtime/ObjectConstructor.h
  Userland/Libraries/LibJS/Tests/builtins/Array/Array.prototype-generic-functions.js
  Userland/Libraries/LibJS/Tests/builtins/Map/Map.groupBy.js
  Userland/Libraries/LibJS/Tests/builtins/Object/Object.groupBy.js
Owners: @linusg

LibJS: Unwrap correct completion in group_by()
  Userland/Libraries/LibJS/Runtime/AbstractOperations.h
Owners: @linusg

LibCore: Exit EventLoop::spin_until() when exit requested
  Userland/Libraries/LibCore/EventLoop.cpp
Owners: none

LibCore: Exit EventLoop::spin_until() when exit requested
  Userland/Libraries/LibCore/EventLoop.cpp
Owners: none

Base: Add more emoji
  Base/res/emoji/U+1F9AB.png
  Base/res/emoji/U+1F9CE_U+1F3FB.png
  Base/res/emoji/U+1F9CE_U+1F3FB_U+200D_U+2640.png
  Base/res/emoji/U+1F9CE_U+1F3FB_U+200D_U+2642.png
  Base/res/emoji/U+1F9CE_U+1F3FC.png
  Base/res/emoji/U+1F9CE_U+1F3FC_U+200D_U+2640.png
  Base/res/emoji/U+1F9CE_U+1F3FC_U+200D_U+2642.png
  Base/res/emoji/U+1F9CE_U+1F3FD.png
  Base/res/emoji/U+1F9CE_U+1F3FD_U+200D_U+2640.png
  Base/res/emoji/U+1F9CE_U+1F3FD_U+200D_U+2642.png
  Base/res/emoji/U+1F9CE_U+1F3FE.png
  Base/res/emoji/U+1F9CE_U+1F3FE_U+200D_U+2640.png
  Base/res/emoji/U+1F9CE_U+1F3FE_U+200D_U+2642.png
  Base/res/emoji/U+1F9CE_U+1F3FF.png
  Base/res/emoji/U+1F9CE_U+1F3FF_U+200D_U+2640.png
  Base/res/emoji/U+1F9CE_U+1F3FF_U+200D_U+2642.png
Owners: none

Tests/LibPDF: Add test for AES-encrypted PDF
  Tests/LibPDF/CMakeLists.txt
  Tests/LibPDF/TestPDF.cpp
  Tests/LibPDF/password-is-sup.pdf
Owners: none

LibPDF: Do not crash on encrypted files that start unluckily
  Userland/Libraries/LibPDF/DocumentParser.cpp
  Userland/Libraries/LibPDF/Parser.cpp
  Userland/Libraries/LibPDF/Parser.h
Owners: none

LibPDF: Add support for AESV2 encryption
  Userland/Libraries/LibPDF/CommonNames.h
  Userland/Libraries/LibPDF/Encryption.cpp
  Userland/Libraries/LibPDF/Encryption.h
Owners: none

LibPDF: Rename m_disable_encryption to m_enable_encryption
  Userland/Libraries/LibPDF/Parser.cpp
  Userland/Libraries/LibPDF/Parser.h
Owners: none

LibPDF: Use more direct method to access linearization dict
  Userland/Libraries/LibPDF/DocumentParser.cpp
Owners: none

LibPDF: Remove a pointless template specialization
  Userland/Libraries/LibPDF/Encryption.cpp
  Userland/Libraries/LibPDF/Encryption.h
Owners: none

pdf: Add a --password option for encrypted PDFs
  Userland/Utilities/pdf.cpp
Owners: none

Tests/LibPDF: Use MUST() more
  Tests/LibPDF/TestPDF.cpp
Owners: none

LibWeb: Resolve table border conflicts with cells
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-cell.txt
  Tests/LibWeb/Layout/input/table/border-conflict-resolution-with-cell.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

LibWeb: Resolve table border conflicts with rows
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-row.txt
  Tests/LibWeb/Layout/input/table/border-conflict-resolution-with-row.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

LibWeb: Add border conflict resolution with rowgroup
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-rowgroup.txt
  Tests/LibWeb/Layout/input/table/border-conflict-resolution-with-rowgroup.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

Everywhere: Use nested namespace qualifiers
  Userland/Libraries/LibCrypto/Authentication/GHash.cpp
  Userland/Libraries/LibCrypto/Authentication/GHash.h
  Userland/Libraries/LibCrypto/Authentication/HMAC.h
  Userland/Libraries/LibCrypto/Cipher/AES.cpp
  Userland/Libraries/LibCrypto/Cipher/AES.h
  Userland/Libraries/LibCrypto/Cipher/Cipher.h
  Userland/Libraries/LibCrypto/Cipher/Mode/CBC.h
  Userland/Libraries/LibCrypto/Cipher/Mode/CTR.h
  Userland/Libraries/LibCrypto/Cipher/Mode/GCM.h
  Userland/Libraries/LibCrypto/Cipher/Mode/Mode.h
  Userland/Libraries/LibCrypto/Hash/HashManager.h
  Userland/Libraries/LibCrypto/NumberTheory/ModularFunctions.cpp
  Userland/Libraries/LibCrypto/NumberTheory/ModularFunctions.h
  Userland/Libraries/LibCrypto/PK/Code/Code.h
  Userland/Libraries/LibCrypto/PK/Code/EMSA_PKCS1_V1_5.h
  Userland/Libraries/LibCrypto/PK/Code/EMSA_PSS.h
  Userland/Libraries/LibCrypto/PK/PK.h
  Userland/Libraries/LibCrypto/PK/RSA.cpp
  Userland/Libraries/LibCrypto/PK/RSA.h
  Userland/Libraries/LibEDID/Definitions.h
  Userland/Libraries/LibGUI/Layout.h
  Userland/Libraries/LibGUI/Widget.h
  Userland/Libraries/LibLine/VT.h
  Userland/Libraries/LibWeb/HTML/AttributeNames.cpp
  Userland/Libraries/LibWeb/HTML/AttributeNames.h
  Userland/Libraries/LibWeb/HTML/Parser/Entities.cpp
  Userland/Libraries/LibWeb/HTML/Parser/Entities.h
Owners: @alimpfard

LibEDID: Use AssertSize<> for ExtensionBlock
  Userland/Libraries/LibEDID/Definitions.h
Owners: none

Base: Add man page for nohup
  Base/usr/share/man/man1/nohup.md
Owners: none

Utilites: Implement nohup
  Userland/Utilities/nohup.cpp
Owners: none

LibGfx/PNGWriter: Use a better limit for scanline capactiy
  Userland/Libraries/LibGfx/ImageFormats/PNGWriter.cpp
Owners: none

pdf: Add function to render a page of a PDF to a bitmap
  Meta/Lagom/CMakeLists.txt
  Userland/Utilities/CMakeLists.txt
  Userland/Utilities/pdf.cpp
Owners: none

AK: Work around Xcode 15 beta mishandling trailing `requires` clauses
  AK/NonnullRefPtr.h
  AK/RefPtr.h
Owners: none

Meta: Update gn build files with latest changes
  Meta/gn/secondary/Userland/Libraries/LibGfx/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibJS/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibWeb/CSS/Parser/BUILD.gn
Owners: none

MailSettings: Make TLS option checked by default
  Userland/Applications/MailSettings/MailSettingsWidget.cpp
Owners: none

LibWeb: Rename loaded observer event to match spec
  Userland/Libraries/LibWeb/DOM/Document.cpp
  Userland/Libraries/LibWeb/DOM/DocumentObserver.h
  Userland/Libraries/LibWeb/SVG/SVGUseElement.cpp
Owners: none

LibWeb: Remove many redundant SVGUseElement clone calls
  Userland/Libraries/LibWeb/SVG/SVGElement.cpp
Owners: none
