Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleinesfilmroellchen, @linusg, @trflynn89

.github/CODEOWNERS:

/AK/FixedArray.h @kleinesfilmroellchen
/AK/NoAllocationGuard.h @kleinesfilmroellchen
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Help @kleinesfilmroellchen
/Userland/Applications/Piano @kleinesfilmroellchen
/Userland/Applications/Presenter @kleinesfilmroellchen
/Userland/Applications/SoundPlayer @kleinesfilmroellchen
/Userland/Libraries/LibAudio @kleinesfilmroellchen
/Userland/Libraries/LibCore/EventLoop.* @kleinesfilmroellchen
/Userland/Libraries/LibCore/SharedCircularQueue.h @kleinesfilmroellchen
/Userland/Libraries/LibDSP @kleinesfilmroellchen
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibManual @kleinesfilmroellchen
/Userland/Libraries/LibSQL @trflynn89
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibThreading @kleinesfilmroellchen
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Utilities/abench.cpp @kleinesfilmroellchen
/Userland/Utilities/aplay.cpp @kleinesfilmroellchen
/Userland/Utilities/asctl.cpp @kleinesfilmroellchen
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/man.cpp @kleinesfilmroellchen
/Userland/Utilities/sql.cpp @trflynn89
*.js @linusg

Ports: Update serenity-theming use latest commit 7a39b7d
  Ports/AvailablePorts.md
  Ports/serenity-theming/package.sh
Owners: none

LibGL: Implement `GL_BLEND_DST` and `GL_BLEND_SRC`
  Userland/Libraries/LibGL/ContextParameter.cpp
  Userland/Libraries/LibGL/GL/gl.h
Owners: none

Ports: Unbreak ScummVM icon pack generation
  Ports/scummvm/package.sh
Owners: none

Ports: Remove gltron patch for `glext.h`
  Ports/gltron/patches/0001-Build-Replace-lGL-with-lgl-to-reference-our-LibGL.patch
  Ports/gltron/patches/0002-Build-Remove-ansi-build-argument.patch
  Ports/gltron/patches/0003-Build-Fix-char-vs.-const-char-arguments.patch
  Ports/gltron/patches/0004-Build-Disable-nebu-using-SDL-s-glext.h-constants.patch
  Ports/gltron/patches/ReadMe.md
Owners: none

LibGL: Implement `GL_BLEND_DST` and `GL_BLEND_SRC`
  Userland/Libraries/LibGL/ContextParameter.cpp
  Userland/Libraries/LibGL/GL/gl.h
Owners: none

IPCCompiler+LibIPC: Propagate IPC encoder errors
  Meta/Lagom/Tools/CodeGenerators/IPCCompiler/main.cpp
  Userland/Libraries/LibIPC/Connection.cpp
  Userland/Libraries/LibIPC/Message.h
  Userland/Libraries/LibIPC/Stub.h
Owners: none

LibIPC: Replace Encoder::encode methods with IPC::encode specializations
  Userland/Libraries/LibIPC/Encoder.cpp
  Userland/Libraries/LibIPC/Encoder.h
Owners: none

LibIPC: Add a Dictionary for-each method for fallible callbacks
  Userland/Libraries/LibIPC/Dictionary.h
Owners: none

LibIPC+Everywhere: Change IPC::encode's return type to ErrorOr
  Userland/DevTools/HackStudio/AutoCompleteResponse.h
  Userland/Libraries/LibCore/AnonymousBuffer.h
  Userland/Libraries/LibCore/DateTime.h
  Userland/Libraries/LibCore/Proxy.h
  Userland/Libraries/LibDNS/Answer.cpp
  Userland/Libraries/LibDNS/Answer.h
  Userland/Libraries/LibGfx/Color.cpp
  Userland/Libraries/LibGfx/Color.h
  Userland/Libraries/LibGfx/Point.cpp
  Userland/Libraries/LibGfx/Point.h
  Userland/Libraries/LibGfx/Rect.cpp
  Userland/Libraries/LibGfx/Rect.h
  Userland/Libraries/LibGfx/ShareableBitmap.cpp
  Userland/Libraries/LibGfx/ShareableBitmap.h
  Userland/Libraries/LibGfx/Size.cpp
  Userland/Libraries/LibGfx/Size.h
  Userland/Libraries/LibIPC/Encoder.cpp
  Userland/Libraries/LibIPC/Encoder.h
  Userland/Libraries/LibIPC/Forward.h
  Userland/Libraries/LibSQL/Value.cpp
  Userland/Libraries/LibSQL/Value.h
  Userland/Libraries/LibWeb/Cookie/Cookie.cpp
  Userland/Libraries/LibWeb/Cookie/Cookie.h
  Userland/Libraries/LibWeb/Cookie/ParsedCookie.cpp
  Userland/Libraries/LibWeb/Cookie/ParsedCookie.h
  Userland/Libraries/LibWeb/WebDriver/Response.cpp
  Userland/Libraries/LibWeb/WebDriver/Response.h
  Userland/Services/WindowServer/ScreenLayout.h
  Userland/Services/WindowServer/ScreenLayout.ipp
Owners: @trflynn89, @linusg

LibIPC: Remove now-unused stream operator from IPC::Encoder
  Userland/Libraries/LibIPC/Encoder.h
Owners: none

Kernel/FileSystem: Fix handling of FAT names that don't fill an entry
  Kernel/FileSystem/FATFS/Inode.cpp
  Kernel/FileSystem/FATFS/Inode.h
Owners: none

Kernel/FileSystem: Remove FIXME about old/new path being the same
  Kernel/FileSystem/VirtualFileSystem.cpp
Owners: none

Documentation: Add how to update build to use SerenityOS-provided CMake
  Documentation/BuildInstructions.md
Owners: none

LibIPC: Remove now-unused stream operator from IPC::Encoder
  Userland/Libraries/LibIPC/Encoder.h
Owners: none

IPCCompiler+LibIPC: Propagate IPC encoder errors
  Meta/Lagom/Tools/CodeGenerators/IPCCompiler/main.cpp
  Userland/Libraries/LibIPC/Connection.cpp
  Userland/Libraries/LibIPC/Message.h
  Userland/Libraries/LibIPC/Stub.h
Owners: none

LibIPC+Everywhere: Change IPC::encode's return type to ErrorOr
  Userland/DevTools/HackStudio/AutoCompleteResponse.h
  Userland/Libraries/LibCore/AnonymousBuffer.h
  Userland/Libraries/LibCore/DateTime.h
  Userland/Libraries/LibCore/Proxy.h
  Userland/Libraries/LibDNS/Answer.cpp
  Userland/Libraries/LibDNS/Answer.h
  Userland/Libraries/LibGfx/Color.cpp
  Userland/Libraries/LibGfx/Color.h
  Userland/Libraries/LibGfx/Point.cpp
  Userland/Libraries/LibGfx/Point.h
  Userland/Libraries/LibGfx/Rect.cpp
  Userland/Libraries/LibGfx/Rect.h
  Userland/Libraries/LibGfx/ShareableBitmap.cpp
  Userland/Libraries/LibGfx/ShareableBitmap.h
  Userland/Libraries/LibGfx/Size.cpp
  Userland/Libraries/LibGfx/Size.h
  Userland/Libraries/LibIPC/Encoder.cpp
  Userland/Libraries/LibIPC/Encoder.h
  Userland/Libraries/LibIPC/Forward.h
  Userland/Libraries/LibSQL/Value.cpp
  Userland/Libraries/LibSQL/Value.h
  Userland/Libraries/LibWeb/Cookie/Cookie.cpp
  Userland/Libraries/LibWeb/Cookie/Cookie.h
  Userland/Libraries/LibWeb/Cookie/ParsedCookie.cpp
  Userland/Libraries/LibWeb/Cookie/ParsedCookie.h
  Userland/Libraries/LibWeb/WebDriver/Response.cpp
  Userland/Libraries/LibWeb/WebDriver/Response.h
  Userland/Services/WindowServer/ScreenLayout.h
  Userland/Services/WindowServer/ScreenLayout.ipp
Owners: @trflynn89, @linusg

LibIPC: Replace Encoder::encode methods with IPC::encode specializations
  Userland/Libraries/LibIPC/Encoder.cpp
  Userland/Libraries/LibIPC/Encoder.h
Owners: none

LibIPC: Add a Dictionary for-each method for fallible callbacks
  Userland/Libraries/LibIPC/Dictionary.h
Owners: none

LibWeb: Add spec-mandated rules for embedded content to Default.css
  Userland/Libraries/LibWeb/CSS/Default.css
Owners: none

LibWeb: Support more presentational hints from the HTML spec
  Userland/Libraries/LibWeb/HTML/HTMLHeadingElement.cpp
  Userland/Libraries/LibWeb/HTML/HTMLHeadingElement.h
  Userland/Libraries/LibWeb/HTML/HTMLParagraphElement.cpp
  Userland/Libraries/LibWeb/HTML/HTMLParagraphElement.h
  Userland/Libraries/LibWeb/HTML/HTMLTableCaptionElement.cpp
  Userland/Libraries/LibWeb/HTML/HTMLTableCaptionElement.h
Owners: none

LibWeb: Support "start" and "end" values for justify-content
  Userland/Libraries/LibWeb/CSS/Enums.json
  Userland/Libraries/LibWeb/CSS/Identifiers.json
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
Owners: none

Kernel: Repair build for aarch64
  Kernel/Arch/aarch64/RPi/InterruptController.h
Owners: none

AK: Restrict include of LibC header
  AK/NoAllocationGuard.h
Owners: @kleinesfilmroellchen

Tests: Remove already-completed fixme
  Tests/LibC/TestAbort.cpp
Owners: none

Everywhere: Remove "LibC/" includes, add lint-rule against it
  AK/Error.h
  Meta/check-style.py
  Tests/LibC/TestMalloc.cpp
  Tests/LibC/TestMemalign.cpp
  Tests/LibELF/test-elf.cpp
  Tests/LibRegex/RegexLibC.cpp
  Userland/Applications/CrashReporter/main.cpp
  Userland/Applications/Debugger/main.cpp
  Userland/DynamicLoader/main.cpp
  Userland/Libraries/LibC/bits/stdio_file_implementation.h
  Userland/Libraries/LibC/cxxabi.cpp
  Userland/Libraries/LibC/ifaddrs.cpp
  Userland/Libraries/LibC/math.cpp
  Userland/Libraries/LibC/net.cpp
  Userland/Libraries/LibC/stdio.cpp
  Userland/Libraries/LibDebug/DebugSession.h
  Userland/Libraries/LibDebug/ProcessInspector.h
  Userland/Services/SpiceAgent/SpiceAgent.cpp
  Userland/Services/SpiceAgent/main.cpp
  Userland/Utilities/functrace.cpp
  Userland/Utilities/strace.cpp
Owners: @linusg

DONOTPULL: Restrict HeaderCheck because it's basically dead
  Meta/HeaderCheck/generate_all.py
Owners: none

Everywhere: Include required headers in most places
  AK/RecursionDecision.h
  AK/RefCountForwarder.h
  AK/ScopedValueRollback.h
  Userland/Libraries/LibCore/Process.h
  Userland/Libraries/LibJS/Runtime/FunctionKind.h
Owners: @linusg

PixelPaint: Fix typo in variable name
  Userland/Applications/PixelPaint/Tools/MoveTool.cpp
  Userland/Applications/PixelPaint/Tools/MoveTool.h
Owners: none

PixelPaint: Allow move tool to scale in all directions
  Userland/Applications/PixelPaint/Tools/MoveTool.cpp
  Userland/Applications/PixelPaint/Tools/MoveTool.h
Owners: none

LibPDF: Fix calculation of encryption key
  Userland/Libraries/LibPDF/Encryption.cpp
Owners: none

Ports: Fix the libmpg123 patch
  Ports/libmpg123/patches/0001-Teach-the-multiple-configure-files-that-serenity-is-.patch
Owners: none

LibWeb: Generate missing parents for table elements
  Userland/Libraries/LibWeb/Layout/TreeBuilder.cpp
Owners: none

LibPDF: Fix calculation of encryption key
  Userland/Libraries/LibPDF/Encryption.cpp
Owners: none

LibIPC+LibC: Add and use a helper to encode/decoder container sizes
  Userland/Libraries/LibC/netdb.cpp
  Userland/Libraries/LibIPC/Decoder.cpp
  Userland/Libraries/LibIPC/Decoder.h
  Userland/Libraries/LibIPC/Encoder.cpp
  Userland/Libraries/LibIPC/Encoder.h
Owners: none

LibIPC: Move most of DeprecatedString's encoder to StringView's encoder
  Userland/Libraries/LibIPC/Encoder.cpp
Owners: none

LibIPC: Remove declarations of unimplemented IPC::Encoder methods
  Userland/Libraries/LibIPC/Encoder.h
Owners: none

Everywhere: Remove some redundant `inline` keywords
  Kernel/PerformanceManager.h
  Kernel/Process.h
  Kernel/Thread.h
  Userland/Libraries/LibCrypto/Hash/MD5.h
  Userland/Libraries/LibCrypto/Hash/SHA1.h
  Userland/Libraries/LibCrypto/Hash/SHA2.h
  Userland/Libraries/LibWeb/CSS/StyleValue.h
Owners: none

Presenter: Add Slide::add_slide_object method
  Userland/Applications/Presenter/Slide.cpp
  Userland/Applications/Presenter/Slide.h
Owners: @kleinesfilmroellchen

Presenter: Add text slide object to slide on mousedown
  Userland/Applications/Presenter/Presentation.cpp
  Userland/Applications/Presenter/Presentation.h
  Userland/Applications/Presenter/PresenterWidget.cpp
  Userland/Applications/Presenter/PresenterWidget.h
  Userland/Applications/Presenter/SlideObject.cpp
  Userland/Applications/Presenter/SlideObject.h
Owners: @kleinesfilmroellchen

Presenter: Rework Presentation class
  Userland/Applications/Presenter/Presentation.cpp
  Userland/Applications/Presenter/Presentation.h
Owners: @kleinesfilmroellchen
