Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

Ports/glib: Update to 2.77.0
  Ports/AvailablePorts.md
  Ports/glib/package.sh
Owners: none

Ports/glib: Reformat package.sh according to our current style
  Ports/glib/package.sh
Owners: none

LibCore: Build LocalSocket on Android
  Userland/Libraries/LibCore/CMakeLists.txt
Owners: none

Ladybird: Make Android build work again, and tidy up files
  Ladybird/AndroidPlatform.cpp
  Ladybird/CMakeLists.txt
  Ladybird/WebContent/CMakeLists.txt
  Ladybird/WebDriver/CMakeLists.txt
  Ladybird/android/AndroidManifest.xml
  Ladybird/android/assets/.gitkeep
  Ladybird/android/build.gradle
  Ladybird/android/gradle.properties
  Ladybird/cmake/AndroidExtras.cmake
  Ladybird/cmake/InstallRules.cmake
Owners: @linusg

GMLPlayground: Keep a RefPtr to the "Save As..." action
  Userland/DevTools/GMLPlayground/MainWidget.cpp
  Userland/DevTools/GMLPlayground/MainWidget.h
Owners: none

SoundPlayer: Use AK::human_readable_size() for file sizes
  Userland/Applications/SoundPlayer/PlaylistWidget.cpp
  Userland/Applications/SoundPlayer/PlaylistWidget.h
Owners: none

SoundPlayer: Rename main widget to SoundPlayerWidget
  Userland/Applications/SoundPlayer/CMakeLists.txt
  Userland/Applications/SoundPlayer/SoundPlayerWidget.cpp
  Userland/Applications/SoundPlayer/SoundPlayerWidget.h
  Userland/Applications/SoundPlayer/main.cpp
Owners: none

SoundPlayer: Use an enum for PlaylistModel columns
  Userland/Applications/SoundPlayer/PlaylistWidget.cpp
  Userland/Applications/SoundPlayer/PlaylistWidget.h
Owners: none

Meta: Port recent LibWeb and LibJS changes to gn build
  Meta/gn/secondary/Userland/Libraries/LibJS/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibWeb/CSS/StyleValues/BUILD.gn
Owners: none

LibPDF: Implement 7.6.4.3.4 Algorithm 2.B: Computing a hash
  Userland/Libraries/LibPDF/Encryption.cpp
  Userland/Libraries/LibPDF/Encryption.h
Owners: none

Ladybird: Scroll the JS console to the bottom on input
  Ladybird/ConsoleWidget.cpp
Owners: @linusg

Ladybird: Fix typo in variable name
  Ladybird/InspectorWidget.cpp
Owners: @linusg

Ladybird: Implement JS console input history
  Ladybird/ConsoleWidget.cpp
  Ladybird/ConsoleWidget.h
Owners: @linusg

Ladybird: Prevent QAction leaking
  Ladybird/BrowserWindow.cpp
  Ladybird/Tab.cpp
Owners: @linusg

Ladybird: Allow copying text in the js console
  Ladybird/Tab.cpp
  Ladybird/Tab.h
Owners: @linusg

LibCrypto: Make create_aligned_buffer() static
  Userland/Libraries/LibCrypto/Cipher/Mode/Mode.h
Owners: @alimpfard

LibPDF: Implement 7.6.4.3.4 Algorithm 2.B: Computing a hash
  Userland/Libraries/LibPDF/Encryption.cpp
  Userland/Libraries/LibPDF/Encryption.h
Owners: none

LibGUI: Make folded lines take up 0 vertical space in no-wrap mode
  Userland/Libraries/LibGUI/TextEditor.cpp
Owners: none

HackStudio+LibGUI: Remove TextDocument::is_code_document()
  Userland/DevTools/HackStudio/CodeDocument.h
  Userland/DevTools/HackStudio/Editor.cpp
  Userland/Libraries/LibGUI/TextDocument.h
Owners: none

HackStudio: Remove Editor::gutter_icon_rect()
  Userland/DevTools/HackStudio/Editor.cpp
  Userland/DevTools/HackStudio/Editor.h
Owners: none

nohup: Don't leak fd used to open nohup.out
  Userland/Utilities/nohup.cpp
Owners: none

LibJS: Deduplicate scoped continue & break bytecode generation
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.h
Owners: @linusg

LibJS: Deduplicate labelled continue & break bytecode generation
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.h
Owners: @linusg

Meta: Port recent LibWeb and LibJS changes to gn build
  Meta/gn/secondary/Userland/Libraries/LibJS/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibWeb/CSS/StyleValues/BUILD.gn
Owners: none

LibGfx: Replace a magic number in ScaledFont with the calculation
  Userland/Libraries/LibGfx/Font/ScaledFont.cpp
Owners: none

LibPDF: Resize fonts when the text and line matrices change
  Userland/Libraries/LibPDF/Fonts/PDFFont.h
  Userland/Libraries/LibPDF/Fonts/TrueTypeFont.cpp
  Userland/Libraries/LibPDF/Fonts/TrueTypeFont.h
  Userland/Libraries/LibPDF/Fonts/Type0Font.cpp
  Userland/Libraries/LibPDF/Fonts/Type0Font.h
  Userland/Libraries/LibPDF/Fonts/Type1Font.cpp
  Userland/Libraries/LibPDF/Fonts/Type1Font.h
  Userland/Libraries/LibPDF/Renderer.cpp
Owners: none

LibPDF: Propogate errors from ColorSpace::color()
  Userland/Libraries/LibPDF/ColorSpace.cpp
  Userland/Libraries/LibPDF/ColorSpace.h
  Userland/Libraries/LibPDF/Renderer.cpp
Owners: none

LibPDF: Use proper ICC profiles for ICCBasedColorSpace
  Userland/Libraries/LibPDF/ColorSpace.cpp
  Userland/Libraries/LibPDF/ColorSpace.h
Owners: none

LibGfx: Forward-declare TagData in WellKnownProfiles
  Userland/Libraries/LibGfx/ICC/WellKnownProfiles.h
Owners: none

Ports/glib: Reformat package.sh according to our current style
  Ports/glib/package.sh
Owners: none

Ports/glib: Update to 2.77.0
  Ports/AvailablePorts.md
  Ports/glib/package.sh
Owners: none

Ports/openssl: Reformat package.sh according to our current style
  Ports/openssl/package.sh
Owners: none

Ports/curl: Update to 8.2.0
  Ports/AvailablePorts.md
  Ports/curl/package.sh
Owners: none

Ports/openssl: Update to 3.0.9
  Ports/AvailablePorts.md
  Ports/openssl/package.sh
  Ports/openssl/patches/0001-Add-a-serenity-configuration.patch
  Ports/openssl/patches/0002-Add-build-configuration-info-for-serenity.patch
  Ports/openssl/patches/0003-Add-serenity-alias-to-linker-version-script.patch
  Ports/openssl/patches/ReadMe.md
Owners: none

Toolchain+Ports: Update QEMU to 8.0.3
  Ports/AvailablePorts.md
  Ports/qemu/version.sh
Owners: none

LibAudio: Use ReadonlyBytes instead of Bytes for buffer parameters
  Userland/Libraries/LibAudio/Loader.cpp
  Userland/Libraries/LibAudio/Loader.h
  Userland/Libraries/LibAudio/WavLoader.cpp
  Userland/Libraries/LibAudio/WavLoader.h
Owners: none

LibGfx: Add a method to get a specific tag from an ICC Profile
  Userland/Libraries/LibGfx/ICC/Profile.h
Owners: none

FileManager: Add "Image" tab to File Properties window
  Userland/Applications/FileManager/CMakeLists.txt
  Userland/Applications/FileManager/PropertiesWindow.cpp
  Userland/Applications/FileManager/PropertiesWindow.h
  Userland/Applications/FileManager/PropertiesWindowImageTab.gml
Owners: none

LibGfx: Add method to get String data from an ICC Profile tag
  Userland/Libraries/LibGfx/ICC/Profile.cpp
  Userland/Libraries/LibGfx/ICC/Profile.h
Owners: none

FileManager: Extract creation of PropertiesWindow General tab
  Userland/Applications/FileManager/PropertiesWindow.cpp
  Userland/Applications/FileManager/PropertiesWindow.h
Owners: none
