Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

LibWeb: Make sure we fallback to "Unsupported type" if type unrecognized
  Userland/Libraries/LibWeb/HTML/StructuredSerialize.cpp
Owners: none

LibWeb: Add 'object-fit' property
  Userland/Libraries/LibWeb/CSS/ComputedValues.h
  Userland/Libraries/LibWeb/CSS/Enums.json
  Userland/Libraries/LibWeb/CSS/Identifiers.json
  Userland/Libraries/LibWeb/CSS/Properties.json
  Userland/Libraries/LibWeb/CSS/StyleProperties.cpp
  Userland/Libraries/LibWeb/CSS/StyleProperties.h
Owners: none

LibWeb: Add object-fit support to HTMLImageElement
  Userland/Libraries/LibWeb/Painting/ImagePaintable.cpp
Owners: none

LibWeb: Make the linter happy in Properties.json
  Userland/Libraries/LibWeb/CSS/Properties.json
Owners: none

Ports: Update freeciv to version 3.0.8
  Ports/AvailablePorts.md
  Ports/freeciv/package.sh
  Ports/freeciv/patches/0001-Log-to-dev-null-if-the-log-file-doesn-t-exist.patch
  Ports/freeciv/patches/ReadMe.md
Owners: none

FileOperation: Set umask to 0 when creating new files or directories
  Userland/Services/FileOperation/main.cpp
Owners: none

LibWeb: Set max-width for inline child boxes after inside layout
  Tests/LibWeb/Layout/expected/block-and-inline/max-width-for-box-with-inline-children.txt
  Tests/LibWeb/Layout/input/block-and-inline/max-width-for-box-with-inline-children.html
  Userland/Libraries/LibWeb/Layout/BlockFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/FormattingContext.cpp
Owners: none

LibWeb: Don't lay out light DOM children of elements with a shadow root
  Userland/Libraries/LibWeb/Layout/TreeBuilder.cpp
Owners: none

LibWeb: Support for Access-Control-Expose-Headers in Fetch
  Userland/Libraries/LibWeb/Fetch/Fetching/Fetching.cpp
  Userland/Libraries/LibWeb/Fetch/Infrastructure/HTTP/Headers.cpp
  Userland/Libraries/LibWeb/Fetch/Infrastructure/HTTP/Headers.h
Owners: @linusg

LibWeb: Parse header value lists for some CORS headers
  Userland/Libraries/LibWeb/Fetch/Fetching/Fetching.cpp
  Userland/Libraries/LibWeb/Fetch/Infrastructure/HTTP/Headers.cpp
Owners: @linusg

LibWeb: Implement URL.createObjectURL and URL.revokeObjectURL
  Userland/Libraries/LibWeb/URL/URL.cpp
  Userland/Libraries/LibWeb/URL/URL.h
  Userland/Libraries/LibWeb/URL/URL.idl
Owners: none

LibWeb: Implement an ephemeral Blob URL store
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/FileAPI/BlobURLStore.cpp
  Userland/Libraries/LibWeb/FileAPI/BlobURLStore.h
Owners: none

LibWeb: Implement extracting the origin of a blob URL
  Userland/Libraries/LibWeb/URL/URL.cpp
Owners: none

LibWeb: Mark Blob::get_stream() as public
  Userland/Libraries/LibWeb/FileAPI/Blob.h
Owners: none

LibWeb: Set up the Fetch response's body with the appropriate stream
  Userland/Libraries/LibWeb/Fetch/BodyInit.cpp
Owners: @linusg

LibWeb: Begin support for requesting blob URLs with Fetch infrastructure
  Userland/Libraries/LibWeb/Fetch/Fetching/Fetching.cpp
  Userland/Libraries/LibWeb/Fetch/Infrastructure/HTTP/Bodies.cpp
Owners: @linusg

LibWeb: Parse header value lists for some CORS headers
  Userland/Libraries/LibWeb/Fetch/Fetching/Fetching.cpp
  Userland/Libraries/LibWeb/Fetch/Infrastructure/HTTP/Headers.cpp
Owners: @linusg

LibWeb: Support for Access-Control-Expose-Headers in Fetch
  Userland/Libraries/LibWeb/Fetch/Fetching/Fetching.cpp
  Userland/Libraries/LibWeb/Fetch/Infrastructure/HTTP/Headers.cpp
  Userland/Libraries/LibWeb/Fetch/Infrastructure/HTTP/Headers.h
Owners: @linusg

LibWeb: Implement URL.createObjectURL and URL.revokeObjectURL
  Userland/Libraries/LibWeb/URL/URL.cpp
  Userland/Libraries/LibWeb/URL/URL.h
  Userland/Libraries/LibWeb/URL/URL.idl
Owners: none

LibWeb: Begin support for requesting blob URLs with Fetch infrastructure
  Userland/Libraries/LibWeb/Fetch/Fetching/Fetching.cpp
  Userland/Libraries/LibWeb/Fetch/Infrastructure/HTTP/Bodies.cpp
Owners: @linusg

LibWeb: Implement an ephemeral Blob URL store
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/FileAPI/BlobURLStore.cpp
  Userland/Libraries/LibWeb/FileAPI/BlobURLStore.h
Owners: none

LibWeb: Implement extracting the origin of a blob URL
  Userland/Libraries/LibWeb/URL/URL.cpp
Owners: none

Meta: Port b3f82f724deb268cf9533478215374aede899fd5 to gn build
  Meta/gn/secondary/Userland/Libraries/LibWeb/FileAPI/BUILD.gn
Owners: none

LibTLS: Allow applications to provide a custom default CA Cert path
  Userland/Libraries/LibTLS/Certificate.h
  Userland/Libraries/LibTLS/TLSv12.cpp
Owners: @alimpfard

LibProtocol+LibWebView: Allow callers provide their own RequestClient
  Userland/Libraries/LibProtocol/RequestClient.h
  Userland/Libraries/LibWebView/RequestServerAdapter.cpp
  Userland/Libraries/LibWebView/RequestServerAdapter.h
Owners: none

Ladybird+LibWebView: Move Lagom code to Ladybird, Qt code to Utilities
  Ladybird/HelperProcess.cpp
  Ladybird/HelperProcess.h
  Ladybird/Utilities.cpp
  Ladybird/Utilities.h
  Ladybird/WebContentView.cpp
  Ladybird/WebDriver/CMakeLists.txt
  Meta/gn/secondary/Ladybird/WebDriver/BUILD.gn
  Userland/Libraries/LibWebView/ViewImplementation.cpp
  Userland/Libraries/LibWebView/ViewImplementation.h
  Userland/Utilities/headless-browser.cpp
Owners: @linusg

Ladybird: Don't link SQLServer against Qt when it doesn't need it
  Ladybird/SQLServer/CMakeLists.txt
  Meta/gn/secondary/Ladybird/SQLServer/BUILD.gn
Owners: @linusg

Ladybird: Don't prefix application files with Applications/
  Ladybird/Settings.cpp
Owners: @linusg

Ladybird: Add RequestServer process to optionally replace Qt Networking
  Ladybird/BrowserWindow.cpp
  Ladybird/BrowserWindow.h
  Ladybird/CMakeLists.txt
  Ladybird/ConsoleWidget.cpp
  Ladybird/HelperProcess.cpp
  Ladybird/HelperProcess.h
  Ladybird/RequestServer/CMakeLists.txt
  Ladybird/RequestServer/main.cpp
  Ladybird/Tab.cpp
  Ladybird/Tab.h
  Ladybird/Types.h
  Ladybird/WebContent/CMakeLists.txt
  Ladybird/WebContent/main.cpp
  Ladybird/WebContentView.cpp
  Ladybird/WebContentView.h
  Ladybird/cmake/InstallRules.cmake
  Ladybird/main.cpp
  Meta/Lagom/CMakeLists.txt
  Meta/gn/secondary/Ladybird/BUILD.gn
  Meta/gn/secondary/Ladybird/RequestServer/BUILD.gn
  Meta/gn/secondary/Ladybird/WebContent/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibProtocol/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibWebView/BUILD.gn
  Userland/Libraries/LibProtocol/CMakeLists.txt
  Userland/Services/CMakeLists.txt
  Userland/Utilities/headless-browser.cpp
Owners: @linusg

LibWeb: Don't lay out light DOM children of elements with a shadow root
  Userland/Libraries/LibWeb/Layout/TreeBuilder.cpp
Owners: none

LibWeb: Set max-width for inline child boxes after inside layout
  Tests/LibWeb/Layout/expected/block-and-inline/max-width-for-box-with-inline-children.txt
  Tests/LibWeb/Layout/input/block-and-inline/max-width-for-box-with-inline-children.html
  Userland/Libraries/LibWeb/Layout/BlockFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/FormattingContext.cpp
Owners: none

LibWeb: Snap table grid to device pixels in collapsed borders mode
  Userland/Libraries/LibWeb/Painting/TableBordersPainting.cpp
Owners: none

Ladybird: Don't prefix application files with Applications/
  Ladybird/Settings.cpp
Owners: @linusg

LibTLS: Allow applications to provide a custom default CA Cert path
  Userland/Libraries/LibTLS/Certificate.h
  Userland/Libraries/LibTLS/TLSv12.cpp
Owners: @alimpfard

Ladybird: Don't link SQLServer against Qt when it doesn't need it
  Ladybird/SQLServer/CMakeLists.txt
  Meta/gn/secondary/Ladybird/SQLServer/BUILD.gn
Owners: @linusg

Ladybird+LibWebView: Move Lagom code to Ladybird, Qt code to Utilities
  Ladybird/HelperProcess.cpp
  Ladybird/HelperProcess.h
  Ladybird/Utilities.cpp
  Ladybird/Utilities.h
  Ladybird/WebContentView.cpp
  Ladybird/WebDriver/CMakeLists.txt
  Meta/gn/secondary/Ladybird/WebDriver/BUILD.gn
  Userland/Libraries/LibWebView/ViewImplementation.cpp
  Userland/Libraries/LibWebView/ViewImplementation.h
  Userland/Utilities/headless-browser.cpp
Owners: @linusg

Ladybird: Add RequestServer process to optionally replace Qt Networking
  Ladybird/BrowserWindow.cpp
  Ladybird/BrowserWindow.h
  Ladybird/CMakeLists.txt
  Ladybird/ConsoleWidget.cpp
  Ladybird/HelperProcess.cpp
  Ladybird/HelperProcess.h
  Ladybird/RequestServer/CMakeLists.txt
  Ladybird/RequestServer/main.cpp
  Ladybird/Tab.cpp
  Ladybird/Tab.h
  Ladybird/Types.h
  Ladybird/WebContent/CMakeLists.txt
  Ladybird/WebContent/main.cpp
  Ladybird/WebContentView.cpp
  Ladybird/WebContentView.h
  Ladybird/cmake/InstallRules.cmake
  Ladybird/main.cpp
  Meta/Lagom/CMakeLists.txt
  Meta/gn/secondary/Ladybird/BUILD.gn
  Meta/gn/secondary/Ladybird/RequestServer/BUILD.gn
  Meta/gn/secondary/Ladybird/WebContent/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibProtocol/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibWebView/BUILD.gn
  Userland/Libraries/LibProtocol/CMakeLists.txt
  Userland/Services/CMakeLists.txt
  Userland/Utilities/headless-browser.cpp
Owners: @linusg

LibProtocol+LibWebView: Allow callers provide their own RequestClient
  Userland/Libraries/LibProtocol/RequestClient.h
  Userland/Libraries/LibWebView/RequestServerAdapter.cpp
  Userland/Libraries/LibWebView/RequestServerAdapter.h
Owners: none

LibIMAP: Implement serializing FetchCommands with PeekBody type
  Userland/Libraries/LibIMAP/Objects.cpp
Owners: none

Mail: Fetch mailbox contents with BODY.PEEK[] type instead of BODY[]
  Userland/Applications/Mail/MailWidget.cpp
Owners: none
