Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

LibAudio: Add a seek point at the first sample in MP3Loader
  Userland/Libraries/LibAudio/MP3Loader.cpp
Owners: none

watch: Replace LibC function calls with their LibCore equivalents
  Userland/Utilities/watch.cpp
Owners: none

watch: Use stdout rather than stderr to display output
  Userland/Utilities/watch.cpp
Owners: none

LibGLSL: Add initial GLSL parser implementation
  Userland/Libraries/LibGLSL/AST.cpp
  Userland/Libraries/LibGLSL/AST.h
  Userland/Libraries/LibGLSL/CMakeLists.txt
  Userland/Libraries/LibGLSL/Lexer.cpp
  Userland/Libraries/LibGLSL/Lexer.h
  Userland/Libraries/LibGLSL/Parser.cpp
  Userland/Libraries/LibGLSL/Parser.h
  Userland/Libraries/LibGLSL/Preprocessor.cpp
  Userland/Libraries/LibGLSL/Preprocessor.h
  Userland/Libraries/LibGLSL/Token.cpp
  Userland/Libraries/LibGLSL/Token.h
Owners: none

watch: Use alternate buffer to display output
  Userland/Utilities/watch.cpp
Owners: none

LibAudio: Create a playback class with a PulseAudio implementation
  Meta/Lagom/CMakeLists.txt
  Userland/Libraries/LibAudio/CMakeLists.txt
  Userland/Libraries/LibAudio/Forward.h
  Userland/Libraries/LibAudio/PlaybackStream.cpp
  Userland/Libraries/LibAudio/PlaybackStream.h
  Userland/Libraries/LibAudio/PlaybackStreamPulseAudio.cpp
  Userland/Libraries/LibAudio/PlaybackStreamPulseAudio.h
  Userland/Libraries/LibAudio/PulseAudioWrappers.cpp
  Userland/Libraries/LibAudio/PulseAudioWrappers.h
Owners: none

LibWeb/Ladybird: Use the abstract audio output in a new audio plugin
  Ladybird/WebContent/CMakeLists.txt
  Ladybird/WebContent/main.cpp
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/Platform/AudioCodecPluginAgnostic.cpp
  Userland/Libraries/LibWeb/Platform/AudioCodecPluginAgnostic.h
Owners: @linusg

watch: Replace LibC function calls with their LibCore equivalents
  Userland/Utilities/watch.cpp
Owners: none

watch: Use stdout rather than stderr to display output
  Userland/Utilities/watch.cpp
Owners: none

watch: Use alternate buffer to display output
  Userland/Utilities/watch.cpp
Owners: none

LibWeb: Add missing visit in CSSStyleSheet::visit_edges()
  Userland/Libraries/LibWeb/CSS/CSSStyleSheet.cpp
Owners: none

LibWeb: Add fast_is<SVGGraphicsElement>()
  Userland/Libraries/LibWeb/DOM/Node.h
  Userland/Libraries/LibWeb/SVG/SVGGraphicsElement.h
Owners: none

LibWeb: Don't filter CSS rules into separate list based on @namespace
  Userland/Libraries/LibWeb/CSS/StyleComputer.cpp
  Userland/Libraries/LibWeb/CSS/StyleComputer.h
Owners: none

Ports/glm: Create `/usr/local/include` if it doesn't exist
  Ports/glm/package.sh
Owners: none

LibAudio: Add a seek point at the first sample in MP3Loader
  Userland/Libraries/LibAudio/MP3Loader.cpp
Owners: none

Meta: Update maintainer list in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

CI: Disable aarch64 tests
  .github/workflows/cmake.yml
Owners: none

LibWeb: Implement HTMLCanvasElement.toDataURL() closer to spec
  Userland/Libraries/LibWeb/HTML/HTMLCanvasElement.cpp
Owners: none

LibWeb: Add support for encoding Canvas to JPEG
  Userland/Libraries/LibWeb/HTML/HTMLCanvasElement.cpp
Owners: none

LibWeb: Implement HTMLCanvasElement.toBlob()
  Userland/Libraries/LibWeb/HTML/EventLoop/Task.h
  Userland/Libraries/LibWeb/HTML/HTMLCanvasElement.cpp
  Userland/Libraries/LibWeb/HTML/HTMLCanvasElement.h
  Userland/Libraries/LibWeb/HTML/HTMLCanvasElement.idl
Owners: none

Meta: Add ImageFormats/JPEGWriter.cpp to gn build
  Meta/gn/secondary/Userland/Libraries/LibGfx/BUILD.gn
Owners: none

LibMarkdown: Preserve blank lines in `CodeBlock`s
  Userland/Libraries/LibMarkdown/CodeBlock.cpp
Owners: none

Utilities: Fix title formatting in `man`
  Userland/Utilities/man.cpp
Owners: none

Shell: Correctly track nested expansions in POSIX mode
  Userland/Shell/PosixLexer.cpp
  Userland/Shell/PosixLexer.h
Owners: @alimpfard

Shell: Add support for the '!' POSIX pipeline prefix
  Userland/Shell/PosixParser.cpp
  Userland/Shell/PosixParser.h
Owners: @alimpfard

PixelPaint: New submenu for masking actions
  Userland/Applications/PixelPaint/MainWidget.cpp
Owners: none

PixelPaint: Add function to visualize editing-masks
  Userland/Applications/PixelPaint/ImageEditor.cpp
  Userland/Applications/PixelPaint/ImageEditor.h
  Userland/Applications/PixelPaint/Layer.cpp
  Userland/Applications/PixelPaint/Layer.h
  Userland/Applications/PixelPaint/MainWidget.cpp
  Userland/Applications/PixelPaint/MainWidget.h
Owners: none

LibGUI: Add new RangeSlider widget
  Userland/Libraries/LibGUI/CMakeLists.txt
  Userland/Libraries/LibGUI/RangeSlider.cpp
  Userland/Libraries/LibGUI/RangeSlider.h
Owners: none

PixelPaint: Add color-masking for editing masks
  Userland/Applications/PixelPaint/CMakeLists.txt
  Userland/Applications/PixelPaint/ColorMasking.gml
  Userland/Applications/PixelPaint/ImageMasking.cpp
  Userland/Applications/PixelPaint/ImageMasking.h
  Userland/Applications/PixelPaint/MainWidget.cpp
  Userland/Applications/PixelPaint/MainWidget.h
Owners: none

WindowServer: Fix menu height when invisible items are involved
  Userland/Services/WindowServer/Menu.cpp
Owners: none

PixelPaint: Add luminosity masking for editing masks
  Userland/Applications/PixelPaint/CMakeLists.txt
  Userland/Applications/PixelPaint/ImageMasking.cpp
  Userland/Applications/PixelPaint/ImageMasking.h
  Userland/Applications/PixelPaint/LuminosityMasking.gml
  Userland/Applications/PixelPaint/MainWidget.cpp
  Userland/Applications/PixelPaint/MainWidget.h
Owners: none

PixelPaint: Use editing masks in filter gallery
  Userland/Applications/PixelPaint/ImageProcessor.cpp
Owners: none

LibWeb: Remove hardcoded span = 2 while sizing spanning items in GFC
  Tests/LibWeb/Layout/expected/grid/grid-span-4.txt
  Tests/LibWeb/Layout/input/grid/grid-span-4.html
  Userland/Libraries/LibWeb/Layout/GridFormattingContext.cpp
Owners: none

LibWeb: Update reactive images according to spec after fetches finish
  Userland/Libraries/LibWeb/HTML/HTMLImageElement.cpp
Owners: none
