Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

LibWeb: More correctly paint joins between borders
  Base/res/html/misc/border-radius.html
  Userland/Libraries/LibWeb/Painting/BorderPainting.cpp
  Userland/Libraries/LibWeb/Painting/BorderPainting.h
Owners: none

LibJS: Provide a mutable SourceTextModule to HostGetImportMetaProperties
  Userland/Libraries/LibJS/Runtime/VM.h
Owners: @linusg

LibWeb: Implement the HostGetImportMetaProperties hook
  Userland/Libraries/LibWeb/Bindings/MainThreadVM.cpp
Owners: none

Userland: Add LibBitTorrent
  Userland/Libraries/CMakeLists.txt
  Userland/Libraries/LibBitTorrent/Bencode/BDecoder.cpp
  Userland/Libraries/LibBitTorrent/Bencode/BDecoder.h
  Userland/Libraries/LibBitTorrent/Bencode/BEncoder.cpp
  Userland/Libraries/LibBitTorrent/Bencode/BEncoder.h
  Userland/Libraries/LibBitTorrent/Bencode/BTypes.h
  Userland/Libraries/LibBitTorrent/BitField.cpp
  Userland/Libraries/LibBitTorrent/BitField.h
  Userland/Libraries/LibBitTorrent/CMakeLists.txt
  Userland/Libraries/LibBitTorrent/Configuration.h
  Userland/Libraries/LibBitTorrent/Engine.cpp
  Userland/Libraries/LibBitTorrent/Engine.h
  Userland/Libraries/LibBitTorrent/Files.h
  Userland/Libraries/LibBitTorrent/FixedSizeByteString.h
  Userland/Libraries/LibBitTorrent/Message.cpp
  Userland/Libraries/LibBitTorrent/Message.h
  Userland/Libraries/LibBitTorrent/MetaInfo.cpp
  Userland/Libraries/LibBitTorrent/MetaInfo.h
  Userland/Libraries/LibBitTorrent/Net/Connection.cpp
  Userland/Libraries/LibBitTorrent/Net/Connection.h
  Userland/Libraries/LibBitTorrent/Net/ConnectionManager.cpp
  Userland/Libraries/LibBitTorrent/Net/ConnectionManager.h
  Userland/Libraries/LibBitTorrent/Net/HandshakeMessage.h
  Userland/Libraries/LibBitTorrent/Peer.cpp
  Userland/Libraries/LibBitTorrent/Peer.h
  Userland/Libraries/LibBitTorrent/PeerSession.cpp
  Userland/Libraries/LibBitTorrent/PeerSession.h
  Userland/Libraries/LibBitTorrent/Torrent.cpp
  Userland/Libraries/LibBitTorrent/Torrent.h
  Userland/Libraries/LibBitTorrent/TorrentState.h
Owners: none

LibPDF: Simplify AESV2 code a bit
  Userland/Libraries/LibPDF/Encryption.cpp
Owners: none

LibBitTorrent: Validate the local and downloaded data with hashes
  Userland/Libraries/LibBitTorrent/CMakeLists.txt
  Userland/Libraries/LibBitTorrent/Checker.cpp
  Userland/Libraries/LibBitTorrent/Checker.h
  Userland/Libraries/LibBitTorrent/Engine.cpp
  Userland/Libraries/LibBitTorrent/Engine.h
  Userland/Libraries/LibBitTorrent/MetaInfo.cpp
  Userland/Libraries/LibBitTorrent/MetaInfo.h
  Userland/Libraries/LibBitTorrent/Torrent.cpp
  Userland/Libraries/LibBitTorrent/Torrent.h
  Userland/Libraries/LibBitTorrent/TorrentDataFileMap.cpp
  Userland/Libraries/LibBitTorrent/TorrentDataFileMap.h
  Userland/Libraries/LibBitTorrent/TorrentState.h
Owners: none

Userland: Add Bits, a BitTorrent GUI client based on LibBitTorrent
  Base/res/apps/Bits.af
  Userland/Applications/Bits/BitsWidget.cpp
  Userland/Applications/Bits/BitsWidget.h
  Userland/Applications/Bits/CMakeLists.txt
  Userland/Applications/Bits/GeneralTorrentInfoWidget.cpp
  Userland/Applications/Bits/GeneralTorrentInfoWidget.h
  Userland/Applications/Bits/PeerListWidget.cpp
  Userland/Applications/Bits/PeerListWidget.h
  Userland/Applications/Bits/main.cpp
  Userland/Applications/CMakeLists.txt
  Userland/Libraries/LibBitTorrent/Engine.cpp
  Userland/Libraries/LibBitTorrent/Engine.h
  Userland/Libraries/LibBitTorrent/TorrentView.h
Owners: none

LibBitTorrent: Use a min-heap to pick the next piece for download
  Userland/Libraries/LibBitTorrent/CMakeLists.txt
  Userland/Libraries/LibBitTorrent/Engine.cpp
  Userland/Libraries/LibBitTorrent/Engine.h
  Userland/Libraries/LibBitTorrent/PeerSession.h
  Userland/Libraries/LibBitTorrent/PieceHeap.cpp
  Userland/Libraries/LibBitTorrent/PieceHeap.h
  Userland/Libraries/LibBitTorrent/Torrent.h
Owners: none

LibBitTorrent: Persist the downloaded data to the local filesystem
  Userland/Libraries/LibBitTorrent/CMakeLists.txt
  Userland/Libraries/LibBitTorrent/Engine.cpp
  Userland/Libraries/LibBitTorrent/Engine.h
  Userland/Libraries/LibBitTorrent/Files.cpp
  Userland/Libraries/LibBitTorrent/Files.h
  Userland/Libraries/LibBitTorrent/Torrent.cpp
  Userland/Libraries/LibBitTorrent/Torrent.h
  Userland/Libraries/LibBitTorrent/TorrentDataFileMap.cpp
  Userland/Libraries/LibBitTorrent/TorrentDataFileMap.h
Owners: none

LibBitTorrent: Announcing to trackers to get peers
  Userland/Libraries/LibBitTorrent/Announcer.cpp
  Userland/Libraries/LibBitTorrent/Announcer.h
  Userland/Libraries/LibBitTorrent/CMakeLists.txt
  Userland/Libraries/LibBitTorrent/Engine.cpp
  Userland/Libraries/LibBitTorrent/Engine.h
  Userland/Libraries/LibBitTorrent/MetaInfo.cpp
  Userland/Libraries/LibBitTorrent/MetaInfo.h
  Userland/Libraries/LibBitTorrent/Torrent.cpp
  Userland/Libraries/LibBitTorrent/Torrent.h
Owners: none

SoundPlayer: Correct formatting of PlaylistModel duration text
  Userland/Applications/SoundPlayer/PlaylistWidget.cpp
Owners: none

Tests/LibGfx: Call `ImageDecoder::size()` before `frame()`
  Tests/LibGfx/TestImageDecoder.cpp
Owners: none

LibJS+LibWeb: Refactor GetIterator to use GetIteratorFromMethod
  Meta/Lagom/Tools/CodeGenerators/LibWeb/BindingsGenerator/IDLGenerators.cpp
  Userland/Libraries/LibJS/Runtime/ArrayConstructor.cpp
  Userland/Libraries/LibJS/Runtime/IteratorOperations.cpp
  Userland/Libraries/LibJS/Runtime/IteratorOperations.h
  Userland/Libraries/LibWeb/HTML/CustomElements/CustomElementRegistry.cpp
Owners: @linusg

LibJS: Rename IterableToList to IteratorToList
  Userland/Libraries/LibJS/Runtime/AggregateErrorConstructor.cpp
  Userland/Libraries/LibJS/Runtime/IteratorOperations.cpp
  Userland/Libraries/LibJS/Runtime/IteratorOperations.h
  Userland/Libraries/LibJS/Runtime/TypedArray.cpp
  Userland/Libraries/LibJS/Runtime/TypedArrayConstructor.cpp
  Userland/Libraries/LibWeb/WebAssembly/WebAssembly.cpp
Owners: @linusg, @alimpfard

LibJS: Throw a TypeError early for undefined methods in GetIterator
  Userland/Libraries/LibJS/Runtime/IteratorOperations.cpp
Owners: @linusg

LibJS: Make GetIterator's hint parameter required
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Runtime/AbstractOperations.h
  Userland/Libraries/LibJS/Runtime/IteratorOperations.cpp
  Userland/Libraries/LibJS/Runtime/IteratorOperations.h
  Userland/Libraries/LibJS/Runtime/PromiseConstructor.cpp
  Userland/Libraries/LibJS/Runtime/VM.cpp
Owners: @linusg

LibGfx/TGA: Compute the number of pixels with a wider type
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.cpp
Owners: none

LibJS: Replace Set's GetKeysIterator AO with GetIteratorFromMethod
  Userland/Libraries/LibJS/Runtime/SetPrototype.cpp
Owners: @linusg

LibGfx: Fix double x_scale multiply when glyph kerning is cached
  Userland/Libraries/LibGfx/Font/OpenType/Font.cpp
Owners: none

Documentation: Add a rough guide on setting up SPICE on Ubuntu
  Documentation/SpiceIntergration.md
Owners: none

Tests/LibGfx: Call `ImageDecoder::size()` before `frame()`
  Tests/LibGfx/TestImageDecoder.cpp
Owners: none

SoundPlayer: Correct formatting of PlaylistModel duration text
  Userland/Applications/SoundPlayer/PlaylistWidget.cpp
Owners: none

Documentation: Add a rough guide on setting up SPICE on Ubuntu
  Documentation/SpiceIntergration.md
Owners: none

LibGfx: Forward-declare TagData in WellKnownProfiles
  Userland/Libraries/LibGfx/ICC/WellKnownProfiles.h
Owners: none

LibPDF: Use proper ICC profiles for ICCBasedColorSpace
  Userland/Libraries/LibPDF/ColorSpace.cpp
  Userland/Libraries/LibPDF/ColorSpace.h
Owners: none

LibPDF: Propogate errors from ColorSpace::color()
  Userland/Libraries/LibPDF/ColorSpace.cpp
  Userland/Libraries/LibPDF/ColorSpace.h
  Userland/Libraries/LibPDF/Renderer.cpp
Owners: none

LibPDF: Resize fonts when the text and line matrices change
  Userland/Libraries/LibPDF/Fonts/PDFFont.h
  Userland/Libraries/LibPDF/Fonts/TrueTypeFont.cpp
  Userland/Libraries/LibPDF/Fonts/TrueTypeFont.h
  Userland/Libraries/LibPDF/Fonts/Type0Font.cpp
  Userland/Libraries/LibPDF/Fonts/Type0Font.h
  Userland/Libraries/LibPDF/Fonts/Type1Font.cpp
  Userland/Libraries/LibPDF/Fonts/Type1Font.h
  Userland/Libraries/LibPDF/Renderer.cpp
Owners: none

LibGfx: Replace a magic number in ScaledFont with the calculation
  Userland/Libraries/LibGfx/Font/ScaledFont.cpp
Owners: none

LibGfx: Fix double x_scale multiply when glyph kerning is cached
  Userland/Libraries/LibGfx/Font/OpenType/Font.cpp
Owners: none

Fuzzers: Add a TinyVG fuzzer
  Meta/Lagom/Fuzzers/FuzzTinyVGLoader.cpp
  Meta/Lagom/Fuzzers/fuzzers.cmake
  Userland/Utilities/test-fuzz.cpp
Owners: none

Fuzzers: Add a DDS fuzzer
  Meta/Lagom/Fuzzers/FuzzDDSLoader.cpp
  Meta/Lagom/Fuzzers/fuzzers.cmake
  Userland/Utilities/test-fuzz.cpp
Owners: none

LibGfx/TGA: Compute the number of pixels with a wider type
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.cpp
Owners: none

LibJS: Make GetIterator's hint parameter required
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Runtime/AbstractOperations.h
  Userland/Libraries/LibJS/Runtime/IteratorOperations.cpp
  Userland/Libraries/LibJS/Runtime/IteratorOperations.h
  Userland/Libraries/LibJS/Runtime/PromiseConstructor.cpp
  Userland/Libraries/LibJS/Runtime/VM.cpp
Owners: @linusg

LibJS: Replace Set's GetKeysIterator AO with GetIteratorFromMethod
  Userland/Libraries/LibJS/Runtime/SetPrototype.cpp
Owners: @linusg

LibJS+LibWeb: Refactor GetIterator to use GetIteratorFromMethod
  Meta/Lagom/Tools/CodeGenerators/LibWeb/BindingsGenerator/IDLGenerators.cpp
  Userland/Libraries/LibJS/Runtime/ArrayConstructor.cpp
  Userland/Libraries/LibJS/Runtime/IteratorOperations.cpp
  Userland/Libraries/LibJS/Runtime/IteratorOperations.h
  Userland/Libraries/LibWeb/HTML/CustomElements/CustomElementRegistry.cpp
Owners: @linusg

LibJS: Rename IterableToList to IteratorToList
  Userland/Libraries/LibJS/Runtime/AggregateErrorConstructor.cpp
  Userland/Libraries/LibJS/Runtime/IteratorOperations.cpp
  Userland/Libraries/LibJS/Runtime/IteratorOperations.h
  Userland/Libraries/LibJS/Runtime/TypedArray.cpp
  Userland/Libraries/LibJS/Runtime/TypedArrayConstructor.cpp
  Userland/Libraries/LibWeb/WebAssembly/WebAssembly.cpp
Owners: @linusg, @alimpfard

LibJS: Throw a TypeError early for undefined methods in GetIterator
  Userland/Libraries/LibJS/Runtime/IteratorOperations.cpp
Owners: @linusg

Toolchain: Copy the same headers as GNU when building Clang
  Toolchain/BuildClang.sh
  Toolchain/BuildGNU.sh
Owners: none

LibC: Add most of the "header may make visible" dependencies from POSIX
  Userland/Libraries/LibC/arpa/inet.h
  Userland/Libraries/LibC/fcntl.h
  Userland/Libraries/LibC/langinfo.h
  Userland/Libraries/LibC/netdb.h
  Userland/Libraries/LibC/netinet/in.h
  Userland/Libraries/LibC/pthread.h
  Userland/Libraries/LibC/sched.h
  Userland/Libraries/LibC/semaphore.h
  Userland/Libraries/LibC/signal.h
  Userland/Libraries/LibC/spawn.h
  Userland/Libraries/LibC/stdio.h
  Userland/Libraries/LibC/stdlib.h
  Userland/Libraries/LibC/string.h
  Userland/Libraries/LibC/sys/resource.h
  Userland/Libraries/LibC/sys/select.h
  Userland/Libraries/LibC/sys/socket.h
  Userland/Libraries/LibC/sys/time.h
  Userland/Libraries/LibC/sys/wait.h
  Userland/Libraries/LibC/time.h
  Userland/Libraries/LibC/wchar.h
  Userland/Libraries/LibC/wctype.h
Owners: none

LibC: Make `getopt` available from `getopt.h`
  Userland/Libraries/LibC/bits/getopt.h
  Userland/Libraries/LibC/getopt.h
  Userland/Libraries/LibC/unistd.h
Owners: none
