Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

LibAudio: Don't return a seek point if it is after the desired sample
  Userland/Libraries/LibAudio/GenericTypes.cpp
Owners: none

LibAudio: Seek accurately to the target frame in the FLAC loader
  Userland/Libraries/LibAudio/FlacLoader.cpp
Owners: none

LibPDF: Fix a typo in a function name
  Userland/Libraries/LibPDF/Document.h
  Userland/Libraries/LibPDF/Parser.cpp
Owners: none

LibPDF: Fix a typo in a function name
  Userland/Libraries/LibPDF/Document.h
  Userland/Libraries/LibPDF/Parser.cpp
Owners: none

Ports: Drop Python bindings for Boost
  Ports/boost/package.sh
Owners: none

Ports: Drop Python bindings for Boost
  Ports/boost/package.sh
Owners: none

Ports: Add poppler
  Ports/AvailablePorts.md
  Ports/poppler/package.sh
Owners: none

IPCMagicLinter: Add missing format parameter to an error log
  Meta/Lagom/Tools/IPCMagicLinter/main.cpp
Owners: none

Meta: Support enabling compile-time format string checking on Lagom
  Meta/Lagom/CMakeLists.txt
Owners: none

LibJS: Add vector of local variables in ExecutionContext
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
  Userland/Libraries/LibJS/Runtime/ExecutionContext.cpp
  Userland/Libraries/LibJS/Runtime/ExecutionContext.h
Owners: @linusg

LibJS: Update parser to detect if identifier refer a "local" variable
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Parser.cpp
  Userland/Libraries/LibJS/Parser.h
Owners: @linusg

LibJS: Add ScopeNode::for_each_var_declared_identifier()
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
Owners: @linusg

LibJS+LibWeb: Plumb local variables names to ECMAScriptFunctionObject
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Runtime/AbstractOperations.cpp
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.h
  Userland/Libraries/LibJS/Runtime/FunctionConstructor.cpp
  Userland/Libraries/LibJS/Runtime/FunctionObject.h
  Userland/Libraries/LibJS/SourceTextModule.cpp
  Userland/Libraries/LibWeb/DOM/EventTarget.cpp
  Userland/Libraries/LibWeb/WebDriver/ExecuteScript.cpp
Owners: @linusg, @trflynn89

LibJS: Add for_each_bound_identifier for AST::Declaration
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
Owners: @linusg

LibJS: Use Identifier to represent name of FunctionNode
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Runtime/AbstractOperations.cpp
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
Owners: @linusg

LibJS: Update bytecode generator to use local variables
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.h
  Userland/Libraries/LibJS/Bytecode/Instruction.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
  Userland/Libraries/LibJS/Forward.h
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
Owners: @linusg

LibJS: Use Identifier to represent name of ClassExpression
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Parser.cpp
Owners: @linusg

LibWeb: Implement CSSNumericType
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/CSS/CSSNumericType.cpp
  Userland/Libraries/LibWeb/CSS/CSSNumericType.h
Owners: none

LibWeb: Use CSSNumericType for CalculatedStyleValue resolved type
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/StyleComputer.cpp
  Userland/Libraries/LibWeb/CSS/StyleProperties.cpp
  Userland/Libraries/LibWeb/CSS/StyleValues/CalculatedStyleValue.h
Owners: none

LibWeb: Implement "Determine the type of a calculation" algorithm
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/StyleValues/CalculatedStyleValue.cpp
  Userland/Libraries/LibWeb/CSS/StyleValues/CalculatedStyleValue.h
Owners: none

LibWeb: Generate function for what properties resolve percentages to
  Meta/Lagom/Tools/CodeGenerators/LibWeb/GenerateCSSPropertyID.cpp
  Userland/Libraries/LibWeb/CSS/Properties.json
Owners: none

LibJS: Null check current scope pusher before register_identifier call
  Userland/Libraries/LibJS/Parser.cpp
Owners: @linusg

LibJS: Null check current scope pusher before register_identifier call
  Userland/Libraries/LibJS/Parser.cpp
Owners: @linusg

LibJS/Bytecode: Use proper `this` for receiver in get/set for super expr
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Instruction.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
  Userland/Libraries/LibJS/Bytecode/Pass/LoadElimination.cpp
Owners: @linusg

LibJS: Avoid RequireObjectCoercible when creating super references
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Runtime/AbstractOperations.cpp
Owners: @linusg

Tests: Add a test for grayscale JPEGs with an App14 segment
  Tests/LibGfx/TestImageDecoder.cpp
  Tests/LibGfx/test-inputs/jpg/grayscale_app14.jpg
Owners: none

Ports: Fix a typo in `.port_include.sh`
  Ports/.port_include.sh
Owners: none

Ports/backward-cpp: Update to the latest available commit
  Ports/AvailablePorts.md
  Ports/backward-cpp/package.sh
  Ports/backward-cpp/patches/0002-backward-Pretend-to-be-Linux-with-some-modifications.patch
Owners: none

Browser+LibWebView: Load and Display ARIA Properites and State
  Userland/Applications/Browser/InspectorWidget.cpp
  Userland/Applications/Browser/InspectorWidget.h
  Userland/Applications/Browser/Tab.cpp
  Userland/Libraries/LibWebView/AriaPropertiesStateModel.cpp
  Userland/Libraries/LibWebView/AriaPropertiesStateModel.h
  Userland/Libraries/LibWebView/CMakeLists.txt
  Userland/Libraries/LibWebView/ViewImplementation.cpp
  Userland/Libraries/LibWebView/ViewImplementation.h
  Userland/Libraries/LibWebView/WebContentClient.cpp
  Userland/Libraries/LibWebView/WebContentClient.h
  Userland/Services/WebContent/ConnectionFromClient.cpp
  Userland/Services/WebContent/WebContentClient.ipc
  Userland/Services/WebContent/WebContentServer.ipc
Owners: @linusg

LibWeb: Build out the ARIA role model
  Meta/Lagom/Tools/CodeGenerators/LibWeb/CMakeLists.txt
  Meta/Lagom/Tools/CodeGenerators/LibWeb/GenerateAriaRoles.cpp
  Userland/Libraries/LibWeb/ARIA/AriaRoles.json
  Userland/Libraries/LibWeb/ARIA/RoleType.cpp
  Userland/Libraries/LibWeb/ARIA/RoleType.h
  Userland/Libraries/LibWeb/CMakeLists.txt
Owners: none

LibWeb: Add ReadableStreamGetReaderOptions to ReadableStream.getReader
  Userland/Libraries/LibWeb/Forward.h
  Userland/Libraries/LibWeb/Streams/ReadableStream.cpp
  Userland/Libraries/LibWeb/Streams/ReadableStream.h
  Userland/Libraries/LibWeb/Streams/ReadableStream.idl
Owners: none

LibWeb: Implement the Streams AcquireReadableStreamBYOBReader AO
  Userland/Libraries/LibWeb/Streams/AbstractOperations.cpp
  Userland/Libraries/LibWeb/Streams/AbstractOperations.h
Owners: none

LibWeb: Implement the Streams SetUpReadableStreamBYOBReader AO
  Userland/Libraries/LibWeb/Streams/AbstractOperations.cpp
  Userland/Libraries/LibWeb/Streams/AbstractOperations.h
Owners: none

LibWeb: Add ReadableStreamGetReaderOptions to ReadableStream.getReader
  Userland/Libraries/LibWeb/Forward.h
  Userland/Libraries/LibWeb/Streams/ReadableStream.cpp
  Userland/Libraries/LibWeb/Streams/ReadableStream.h
  Userland/Libraries/LibWeb/Streams/ReadableStream.idl
Owners: none

LibWeb: Implement the Streams AcquireReadableStreamBYOBReader AO
  Userland/Libraries/LibWeb/Streams/AbstractOperations.cpp
  Userland/Libraries/LibWeb/Streams/AbstractOperations.h
Owners: none

LibWeb: Implement the Streams SetUpReadableStreamBYOBReader AO
  Userland/Libraries/LibWeb/Streams/AbstractOperations.cpp
  Userland/Libraries/LibWeb/Streams/AbstractOperations.h
Owners: none

LibCore: Remove some dead code in wait_for_events
  Userland/Libraries/LibCore/EventLoopImplementationUnix.cpp
Owners: none

LibWeb: Separate comparator for cell border specificity
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

LibWeb: Resolve table border conflicts at edge level
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

LibWeb: Move collapsed table border painting to a separate function
  Userland/Libraries/LibWeb/Painting/PaintableBox.h
  Userland/Libraries/LibWeb/Painting/StackingContext.cpp
Owners: none
