Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

Ports/acpica-tools: Prevent dangling pointer compiler warning
  Ports/acpica-tools/patches/0001-Stop-compiler-warnings-on-dangling-pointer.patch
Owners: none

Ports/backward-cpp: Update to the latest available commit
  Ports/AvailablePorts.md
  Ports/backward-cpp/package.sh
  Ports/backward-cpp/patches/0002-backward-Pretend-to-be-Linux-with-some-modifications.patch
Owners: none

Ports: Fix a typo in `.port_include.sh`
  Ports/.port_include.sh
Owners: none

AK: Split up `CircularBuffer::find_copy_in_seekback`
  AK/CircularBuffer.cpp
  AK/CircularBuffer.h
  Tests/AK/TestCircularBuffer.cpp
  Userland/Libraries/LibCompress/Lzma.cpp
Owners: none

AK: Add search-related helpers to `CircularBuffer`
  AK/CircularBuffer.cpp
  AK/CircularBuffer.h
Owners: none

AK: Add `Span<T>::matching_prefix_length`
  AK/Span.h
Owners: none

AK: Rewrite the hint-based `CircularBuffer::find_copy_in_seekback`
  AK/CircularBuffer.cpp
  AK/CircularBuffer.h
  Tests/AK/TestCircularBuffer.cpp
  Userland/Libraries/LibCompress/Lzma.cpp
Owners: none

AK: Make `CircularBuffer::read_with_seekback` const
  AK/CircularBuffer.cpp
  AK/CircularBuffer.h
Owners: none

AK: Use hashing to accelerate searching a `CircularBuffer`
  AK/CircularBuffer.cpp
  AK/CircularBuffer.h
  Tests/AK/TestCircularBuffer.cpp
  Userland/Libraries/LibCompress/Lzma.cpp
Owners: none

AK: Move parts for searching CircularBuffer into a new class
  AK/CircularBuffer.cpp
  AK/CircularBuffer.h
  AK/Forward.h
  Tests/AK/TestCircularBuffer.cpp
  Userland/Libraries/LibCompress/Lzma.cpp
  Userland/Libraries/LibCompress/Lzma.h
Owners: none

AK: Allow passing an offset to `CircularBuffer::next_read_span()`
  AK/CircularBuffer.cpp
  AK/CircularBuffer.h
Owners: none

LibWeb: Add a helper class to work around empty execution context stack
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/HTML/Scripting/TemporaryExecutionContext.cpp
  Userland/Libraries/LibWeb/HTML/Scripting/TemporaryExecutionContext.h
Owners: @linusg

LibWeb: Update workarounds for the empty execution context stack
  Userland/Libraries/LibWeb/Fetch/Body.cpp
  Userland/Libraries/LibWeb/Fetch/FetchMethod.cpp
  Userland/Libraries/LibWeb/FileAPI/Blob.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMediaElement.cpp
  Userland/Libraries/LibWeb/HTML/Scripting/Fetching.cpp
  Userland/Libraries/LibWeb/Page/Page.cpp
  Userland/Libraries/LibWeb/WebDriver/ExecuteScript.cpp
Owners: @linusg, @trflynn89

LibCore: Keep track of file offset to avoid system call for tell()
  Tests/LibCore/TestLibCoreStream.cpp
  Userland/Libraries/LibCore/File.cpp
  Userland/Libraries/LibCore/File.h
Owners: none

LibWeb: Add prototype header to CustomElementRegistry.cpp
  Userland/Libraries/LibWeb/HTML/CustomElements/CustomElementRegistry.cpp
Owners: none

LibWeb: Ensure prototype of CSSKeyframe{s}Rule
  Userland/Libraries/LibWeb/CSS/CSSKeyframeRule.cpp
  Userland/Libraries/LibWeb/CSS/CSSKeyframesRule.cpp
Owners: none

Ladybird: Add missing QUrl include to WebContentView
  Ladybird/WebContentView.h
Owners: @linusg

IPCCompiler: Add option to pass output file path
  Meta/CMake/code_generators.cmake
  Meta/Lagom/Tools/CodeGenerators/IPCCompiler/main.cpp
Owners: none

Ladybird: Move the AudioThread class into its own file
  Ladybird/AudioCodecPluginLadybird.cpp
  Ladybird/AudioThread.cpp
  Ladybird/AudioThread.h
  Ladybird/WebContent/CMakeLists.txt
Owners: @linusg

LibAudio: Optimize FlacLoader by avoiding allocations
  Userland/Libraries/LibAudio/FlacLoader.cpp
  Userland/Libraries/LibAudio/FlacLoader.h
  Userland/Libraries/LibAudio/MultiChannel.h
Owners: none

LibAudio: Optimize FlacLoader by avoiding allocations
  Userland/Libraries/LibAudio/FlacLoader.cpp
  Userland/Libraries/LibAudio/FlacLoader.h
  Userland/Libraries/LibAudio/MultiChannel.h
Owners: none

LibVideo/VP9: Implement lossless residual decoding
  Userland/Libraries/LibVideo/VP9/Decoder.cpp
Owners: none

LibCore: Keep track of file offset to avoid system call for tell()
  Tests/LibCore/TestLibCoreStream.cpp
  Userland/Libraries/LibCore/File.cpp
  Userland/Libraries/LibCore/File.h
Owners: none

LibWeb: Add a helper class to work around empty execution context stack
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/HTML/Scripting/TemporaryExecutionContext.cpp
  Userland/Libraries/LibWeb/HTML/Scripting/TemporaryExecutionContext.h
Owners: @linusg

LibWeb: Update workarounds for the empty execution context stack
  Userland/Libraries/LibWeb/Fetch/Body.cpp
  Userland/Libraries/LibWeb/Fetch/FetchMethod.cpp
  Userland/Libraries/LibWeb/FileAPI/Blob.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMediaElement.cpp
  Userland/Libraries/LibWeb/HTML/Scripting/Fetching.cpp
  Userland/Libraries/LibWeb/Page/Page.cpp
  Userland/Libraries/LibWeb/WebDriver/ExecuteScript.cpp
Owners: @linusg, @trflynn89

Utilites: Implement nohup
  Userland/Utilities/nohup.cpp
Owners: none

LibJS: Do not coerce nullish references to unresolvable references
  Userland/Libraries/LibJS/Runtime/Reference.h
  Userland/Libraries/LibJS/Tests/operators/delete-basic.js
Owners: @linusg

LibJS: Do not coerce nullish references to unresolvable references
  Userland/Libraries/LibJS/Runtime/Reference.h
  Userland/Libraries/LibJS/Tests/operators/delete-basic.js
Owners: @linusg

LibJS: Allow converting a reference to an object to fail in `delete`
  Userland/Libraries/LibJS/Runtime/Reference.cpp
Owners: @linusg

LibJS/Bytecode: Do note coerce referenced values to an Object too early
  Userland/Libraries/LibJS/Bytecode/Op.cpp
Owners: @linusg

LibJS: Forward declare the MemberExpression AST node
  Userland/Libraries/LibJS/Forward.h
Owners: @linusg

LibJS/Bytecode: Extract code to generate a super reference to a helper
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.h
Owners: @linusg

IPC: Log errors on post_message
  Meta/Lagom/Tools/CodeGenerators/IPCCompiler/main.cpp
Owners: none

LibJS/Bytecode: Generate bytecode for deleting super properties
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Instruction.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
  Userland/Libraries/LibJS/Bytecode/Pass/LoadElimination.cpp
Owners: @linusg

LibJS: Use Identifier to represent FunctionParameter name
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Parser.cpp
  Userland/Libraries/LibJS/Runtime/AbstractOperations.cpp
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
Owners: @linusg

LibJS/Bytecode: Ensure we do not generate bytecode for super expressions
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
Owners: @linusg

LibJS: Use local variables to store function parameters in some cases
  Userland/Libraries/LibJS/Parser.cpp
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
Owners: @linusg

Ports: Add jakt
  Ports/AvailablePorts.md
  Ports/jakt/package.sh
Owners: none

Ports: Add poppler
  Ports/AvailablePorts.md
  Ports/poppler/package.sh
Owners: none

LibWeb: Implement DOMRect(ReadOnly)#fromRect
  Userland/Libraries/LibWeb/Geometry/DOMRect.cpp
  Userland/Libraries/LibWeb/Geometry/DOMRect.h
  Userland/Libraries/LibWeb/Geometry/DOMRect.idl
  Userland/Libraries/LibWeb/Geometry/DOMRectReadOnly.cpp
  Userland/Libraries/LibWeb/Geometry/DOMRectReadOnly.h
  Userland/Libraries/LibWeb/Geometry/DOMRectReadOnly.idl
Owners: none
