Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kleinesfilmroellchen, @linusg, @trflynn89

.github/CODEOWNERS:

/AK/FixedArray.h @kleinesfilmroellchen
/AK/NoAllocationGuard.h @kleinesfilmroellchen
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Help @kleinesfilmroellchen
/Userland/Applications/Piano @kleinesfilmroellchen
/Userland/Applications/Presenter @kleinesfilmroellchen
/Userland/Applications/SoundPlayer @kleinesfilmroellchen
/Userland/Libraries/LibAudio @kleinesfilmroellchen
/Userland/Libraries/LibCore/EventLoop.* @kleinesfilmroellchen
/Userland/Libraries/LibCore/SharedCircularQueue.h @kleinesfilmroellchen
/Userland/Libraries/LibDSP @kleinesfilmroellchen
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibManual @kleinesfilmroellchen
/Userland/Libraries/LibSQL @trflynn89
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibThreading @kleinesfilmroellchen
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Utilities/abench.cpp @kleinesfilmroellchen
/Userland/Utilities/aplay.cpp @kleinesfilmroellchen
/Userland/Utilities/asctl.cpp @kleinesfilmroellchen
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/man.cpp @kleinesfilmroellchen
/Userland/Utilities/sql.cpp @trflynn89
*.js @linusg

Everywhere: Remove unused includes of BuiltinWrappers.h
  AK/Math.h
  Userland/Libraries/LibCrypto/BigInt/Algorithms/BitwiseOperations.cpp
Owners: none

Everywhere: Remove unused includes of DistinctNumeric.h
  Kernel/Graphics/VirtIOGPU/DisplayConnector.h
  Kernel/Graphics/VirtIOGPU/GPU3DDevice.h
  Kernel/Graphics/VirtIOGPU/GraphicsAdapter.h
  Kernel/JailManagement.h
Owners: none

Everywhere: Remove unused includes of AK/Span.h
  Tests/AK/TestBinarySearch.cpp
  Userland/Libraries/LibUnicode/CurrencyCode.h
  Userland/Libraries/LibUnicode/Normalize.h
  Userland/Libraries/LibWeb/Painting/GradientPainting.h
  Userland/Libraries/LibWeb/WebDriver/Client.cpp
  Userland/Utilities/tar.cpp
Owners: @trflynn89, @linusg

Everywhere: Remove unused includes of FloatingPointStringConversions.h
  Userland/Libraries/LibJS/Runtime/AbstractOperations.cpp
  Userland/Libraries/LibJS/Runtime/Value.cpp
  Userland/Libraries/LibJS/Token.cpp
  Userland/Libraries/LibWeb/CSS/Parser/Tokenizer.cpp
Owners: @linusg

Everywhere: Remove unused includes of MACAddress.h
  Kernel/Net/ICMP.h
  Kernel/Net/Intel/E1000ENetworkAdapter.cpp
  Kernel/Net/NE2000/NetworkAdapter.cpp
Owners: none

Everywhere: Remove unused includes of GenericLexer.h
  Userland/Libraries/LibGUI/GML/Parser.cpp
  Userland/Libraries/LibWeb/XHR/XMLHttpRequest.cpp
  Userland/Utilities/expr.cpp
Owners: none

Everywhere: Remove unused includes of JsonParser.h
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GenerateDateTimeFormatData.cpp
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GenerateLocaleData.cpp
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GenerateNumberFormatData.cpp
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GeneratePluralRulesData.cpp
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GenerateRelativeTimeFormatData.cpp
  Userland/Libraries/LibJS/Runtime/JSONObject.cpp
  Userland/Services/DHCPClient/DHCPv4Client.cpp
Owners: @linusg

Everywhere: Remove unused includes of FlyString.h
  Userland/Libraries/LibAudio/FlacLoader.cpp
  Userland/Libraries/LibJS/Runtime/CommonPropertyNames.h
  Userland/Libraries/LibPDF/Object.h
  Userland/Libraries/LibWeb/Bindings/LocationObject.cpp
  Userland/Libraries/LibWeb/CSS/MediaQuery.h
Owners: @kleinesfilmroellchen, @linusg

Everywhere: Remove unused includes of FixedArray.h
  Userland/Applications/ThemeEditor/MainWidget.h
  Userland/Applications/VideoPlayer/VideoPlayerWidget.h
  Userland/Utilities/lsusb.cpp
Owners: none

Everywhere: Remove unused includes of JsonArray.h
  Tests/LibMarkdown/TestCommonmark.cpp
  Userland/DevTools/Inspector/RemoteObjectGraphModel.h
  Userland/DevTools/Profiler/Profile.h
  Userland/Libraries/LibCore/ProcessStatisticsReader.cpp
  Userland/Libraries/LibGUI/CommonLocationsProvider.cpp
  Userland/Libraries/LibSymbolication/Symbolication.cpp
  Userland/Libraries/LibWeb/Loader/FrameLoader.cpp
  Userland/Services/DHCPClient/DHCPv4Client.cpp
  Userland/Services/LookupServer/MulticastDNS.cpp
  Userland/Services/NetworkServer/main.cpp
  Userland/Utilities/df.cpp
  Userland/Utilities/gron.cpp
  Userland/Utilities/ifconfig.cpp
  Userland/Utilities/lscpu.cpp
  Userland/Utilities/lsirq.cpp
  Userland/Utilities/lsjails.cpp
  Userland/Utilities/lsof.cpp
  Userland/Utilities/lspci.cpp
  Userland/Utilities/lsusb.cpp
  Userland/Utilities/mount.cpp
  Userland/Utilities/netstat.cpp
  Userland/Utilities/route.cpp
  Userland/Utilities/top.cpp
Owners: none

Everywhere: Remove unused includes of LexicalPath.h
  Tests/LibGL/TestShaders.cpp
  Userland/Applications/DisplaySettings/BackgroundSettingsWidget.cpp
  Userland/Applications/DisplaySettings/ThemesSettingsWidget.cpp
  Userland/Applications/FontEditor/MainWidget.cpp
  Userland/Applications/HexEditor/HexEditorWidget.cpp
  Userland/Applications/HexEditor/HexEditorWidget.h
  Userland/Applications/SoundPlayer/SoundPlayerWidgetAdvancedView.cpp
  Userland/Applications/TextEditor/MainWidget.cpp
  Userland/Applications/TextEditor/MainWidget.h
  Userland/Applications/ThemeEditor/MainWidget.cpp
  Userland/Applications/ThemeEditor/PreviewWidget.cpp
  Userland/DevTools/HackStudio/CodeDocument.h
  Userland/DevTools/HackStudio/Debugger/Debugger.cpp
  Userland/DevTools/HackStudio/Debugger/Debugger.h
  Userland/DevTools/HackStudio/GMLPreviewWidget.h
  Userland/DevTools/HackStudio/Git/GitRepo.h
  Userland/DevTools/HackStudio/LanguageClient.h
  Userland/DevTools/HackStudio/LanguageClients/ConnectionsToServer.h
  Userland/DevTools/HackStudio/LanguageServers/ConnectionFromClient.h
  Userland/DevTools/Profiler/FilesystemEventModel.cpp
  Userland/DevTools/Profiler/FilesystemEventModel.h
  Userland/Libraries/LibCodeComprehension/Cpp/CppComprehensionEngine.cpp
  Userland/Libraries/LibCore/ConfigFile.cpp
  Userland/Libraries/LibGUI/FilePicker.h
  Userland/Libraries/LibGfx/PPMLoader.cpp
  Userland/Libraries/LibTest/JavaScriptTestRunner.h
  Userland/Services/CrashDaemon/main.cpp
  Userland/Services/FileSystemAccessServer/ConnectionFromClient.cpp
  Userland/Services/WindowServer/Cursor.cpp
Owners: @kleinesfilmroellchen

Everywhere: Remove unused includes of JsonObject.h
  Userland/Applications/TerminalSettings/TerminalSettingsWidget.cpp
  Userland/DevTools/Inspector/RemoteObjectGraphModel.h
  Userland/DevTools/Profiler/Profile.cpp
  Userland/DevTools/Profiler/Profile.h
  Userland/Libraries/LibGUI/AbstractButton.cpp
  Userland/Libraries/LibGUI/BoxLayout.cpp
  Userland/Libraries/LibGUI/Margins.h
  Userland/Libraries/LibGUI/Widget.h
  Userland/Libraries/LibGUI/Window.cpp
  Userland/Libraries/LibHTTP/Job.cpp
  Userland/Services/LaunchServer/Launcher.cpp
  Userland/Services/WebContent/ConnectionFromClient.cpp
  Userland/Shell/Job.h
  Userland/Shell/Shell.cpp
  Userland/Utilities/lspci.cpp
  Userland/Utilities/top.cpp
Owners: none

Everywhere: Remove unused includes of Forward.h
  AK/NoAllocationGuard.h
  AK/UnicodeUtils.h
  Kernel/Arch/aarch64/CrashHandler.cpp
  Userland/Libraries/LibJS/Runtime/ClassFieldDefinition.h
  Userland/Libraries/LibJS/Runtime/PromiseCapability.h
  Userland/Libraries/LibWeb/DOM/NonDocumentTypeChildNode.h
  Userland/Libraries/LibWeb/Fetch/FetchMethod.h
  Userland/Libraries/LibWeb/Fetch/Infrastructure/FetchParams.h
  Userland/Libraries/LibWeb/Fetch/Infrastructure/HTTP/Statuses.h
  Userland/Libraries/LibWeb/Fetch/Infrastructure/PortBlocking.h
  Userland/Libraries/LibWeb/Fetch/Infrastructure/RequestOrResponseBlocking.h
  Userland/Libraries/LibWeb/HTML/WindowEventHandlers.h
  Userland/Libraries/LibWeb/Streams/ReadableStream.h
Owners: @kleinesfilmroellchen, @linusg

Everywhere: Remove unused includes of FixedPoint.h
  Userland/Applications/Piano/ProcessorParameterWidget/Slider.cpp
Owners: @kleinesfilmroellchen

Everywhere: Remove unused includes of Hex.h
  Userland/Applications/HexEditor/SearchResultsModel.h
  Userland/Applications/HexEditor/ValueInspectorModel.h
  Userland/Shell/Formatter.cpp
  Userland/Utilities/lsblk.cpp
  Userland/Utilities/lspci.cpp
Owners: none

Everywhere: Remove unused includes of IPv4Address.h
  Userland/Libraries/LibTLS/TLSv12.h
  Userland/Services/EchoServer/main.cpp
Owners: none

Everywhere: Remove unused includes of kmalloc.h
  AK/Buffered.h
  Kernel/Arch/x86_64/Hypervisor/VMWareBackdoor.h
  Kernel/Heap/Heap.h
  Kernel/Storage/NVMe/NVMeNameSpace.h
Owners: none

Everywhere: Remove unused includes of IntrusiveRedBlackTree.h
  Kernel/Memory/MemoryManager.h
Owners: none

Everywhere: Remove unused includes of Iterator.h
  AK/AllOf.h
  AK/AnyOf.h
  Userland/Libraries/LibMarkdown/LineIterator.h
  Userland/Utilities/syscall.cpp
Owners: none

Everywhere: Remove unused includes of Find.h
  AK/StringView.cpp
Owners: none

Everywhere: Remove unused includes of IntrusiveList.h
  Kernel/FileSystem/SysFS/Subsystems/DeviceIdentifiers/DeviceComponent.h
  Kernel/Scheduler.h
  Userland/Libraries/LibJS/Heap/Heap.h
Owners: @linusg

Everywhere: Remove unused includes of JsonValue.h
  Kernel/ProcessSpecificExposed.cpp
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GeneratePluralRulesData.cpp
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GenerateRelativeTimeFormatData.cpp
  Userland/DevTools/Inspector/RemoteObjectGraphModel.cpp
  Userland/DevTools/Inspector/RemoteObjectPropertyModel.h
  Userland/DevTools/Profiler/Profile.h
  Userland/Libraries/LibGUI/TabWidget.cpp
  Userland/Libraries/LibTest/TestRunner.h
  Userland/Services/LaunchServer/Launcher.cpp
  Userland/Shell/Job.h
Owners: none

Everywhere: Remove unused includes of IntegralMath.h
  Userland/Games/Flood/SettingsDialog.cpp
  Userland/Libraries/LibGL/Tex/Texture2D.h
  Userland/Libraries/LibVideo/Containers/Matroska/Reader.h
  Userland/Libraries/LibVideo/VP9/Decoder.cpp
Owners: none

SoundPlayer: Parse Main::Arguments with Core::ArgsParser
  Userland/Applications/SoundPlayer/main.cpp
Owners: @kleinesfilmroellchen

LibWeb: Generate missing parents for table elements
  Userland/Libraries/LibWeb/Layout/TreeBuilder.cpp
Owners: none

SystemMonitor: Update stats/graph immediately on launch
  Userland/Applications/SystemMonitor/main.cpp
Owners: none

Meta: Add Jelle Raaijmakers to list of project maintainers :^)
  CONTRIBUTING.md
Owners: none

Kernel: Add dmesgln_pci logging for Kernel::PCI
  Kernel/Arch/x86_64/PCI/IDELegacyModeController.h
  Kernel/Bus/PCI/Device.h
  Kernel/Bus/USB/UHCI/UHCIController.cpp
  Kernel/Bus/USB/UHCI/UHCIController.h
  Kernel/Bus/VirtIO/Console.h
  Kernel/Bus/VirtIO/RNG.h
  Kernel/Devices/Audio/AC97.h
  Kernel/Graphics/Bochs/GraphicsAdapter.h
  Kernel/Graphics/Intel/NativeGraphicsAdapter.cpp
  Kernel/Graphics/Intel/NativeGraphicsAdapter.h
  Kernel/Graphics/VMWare/GraphicsAdapter.h
  Kernel/Graphics/VirtIOGPU/GraphicsAdapter.h
  Kernel/Net/Intel/E1000NetworkAdapter.cpp
  Kernel/Net/Intel/E1000NetworkAdapter.h
  Kernel/Net/NE2000/NetworkAdapter.cpp
  Kernel/Net/NE2000/NetworkAdapter.h
  Kernel/Net/Realtek/RTL8139NetworkAdapter.cpp
  Kernel/Net/Realtek/RTL8139NetworkAdapter.h
  Kernel/Net/Realtek/RTL8168NetworkAdapter.cpp
  Kernel/Net/Realtek/RTL8168NetworkAdapter.h
  Kernel/Storage/ATA/AHCI/Controller.cpp
  Kernel/Storage/ATA/AHCI/Controller.h
  Kernel/Storage/NVMe/NVMeController.cpp
  Kernel/Storage/NVMe/NVMeController.h
Owners: none

Kernel: Convert 2 instances of `dbgln` to `dmesgln_pci` in AC'97
  Kernel/Devices/Audio/AC97.cpp
Owners: none

LibCards: Support highlighting cards of interest
  Userland/Libraries/LibCards/Card.cpp
  Userland/Libraries/LibCards/Card.h
  Userland/Libraries/LibCards/CardGame.cpp
  Userland/Libraries/LibCards/CardPainter.cpp
  Userland/Libraries/LibCards/CardPainter.h
Owners: none

Solitaire: Highlight cards beneath dragged cards that are valid targets
  Userland/Games/Solitaire/Game.cpp
  Userland/Games/Solitaire/Game.h
Owners: none

Base: Remove some old, not particularly useful aliases from .shellrc
  Base/etc/shellrc
Owners: none

LibCards: Add a helper to create an action to open Cards Settings
  Userland/Libraries/LibCards/CardGame.cpp
  Userland/Libraries/LibCards/CardGame.h
Owners: none

Games: Add a Cards Settings menu item to Hearts, Solitaire, and Spider
  Userland/Games/Hearts/main.cpp
  Userland/Games/Solitaire/main.cpp
  Userland/Games/Spider/main.cpp
Owners: none

LibWeb: Add (exclude/include)_from_accessibility_tree
  Userland/Libraries/LibWeb/DOM/ARIAMixin.h
  Userland/Libraries/LibWeb/DOM/Element.cpp
  Userland/Libraries/LibWeb/DOM/Element.h
Owners: none

LibWeb: Add has_global_aria_attribute
  Userland/Libraries/LibWeb/DOM/ARIAMixin.cpp
  Userland/Libraries/LibWeb/DOM/ARIAMixin.h
Owners: none

LibWeb: Add Functionality to Dump to Accessibility Tree
  Userland/Libraries/LibWeb/DOM/Document.cpp
  Userland/Libraries/LibWeb/DOM/Document.h
  Userland/Libraries/LibWeb/DOM/Node.cpp
  Userland/Libraries/LibWeb/DOM/Node.h
Owners: none

LibWeb: Add Function To Build Accessiblity Tree
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/DOM/AccessibilityTreeNode.cpp
  Userland/Libraries/LibWeb/DOM/AccessibilityTreeNode.h
  Userland/Libraries/LibWeb/Forward.h
Owners: none

LibCrypto: Use nested namespace specifiers in Hash/
  Userland/Libraries/LibCrypto/Hash/HashFunction.h
  Userland/Libraries/LibCrypto/Hash/MD5.cpp
  Userland/Libraries/LibCrypto/Hash/MD5.h
  Userland/Libraries/LibCrypto/Hash/SHA1.cpp
  Userland/Libraries/LibCrypto/Hash/SHA1.h
  Userland/Libraries/LibCrypto/Hash/SHA2.cpp
  Userland/Libraries/LibCrypto/Hash/SHA2.h
Owners: none

LibGfx: Sort ICC parsing functions by spec number
  Userland/Libraries/LibGfx/ICCProfile.cpp
Owners: none
