Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

LibJS: Add caching of this value in ResolveThisBinding instruction
  Userland/Libraries/LibJS/Bytecode/Interpreter.cpp
  Userland/Libraries/LibJS/Bytecode/Interpreter.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
Owners: @linusg

LibJS: Add caching of this value in ResolveThisBinding instruction
  Userland/Libraries/LibJS/Bytecode/Interpreter.cpp
  Userland/Libraries/LibJS/Bytecode/Interpreter.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
Owners: @linusg

LibWeb: Allow calc() values in image `sizes` attribute
  Userland/Libraries/LibWeb/CSS/CalculatedOr.cpp
  Userland/Libraries/LibWeb/CSS/CalculatedOr.h
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Parser/Parser.h
  Userland/Libraries/LibWeb/HTML/HTMLImageElement.cpp
  Userland/Libraries/LibWeb/HTML/SourceSet.cpp
  Userland/Libraries/LibWeb/HTML/SourceSet.h
Owners: none

LibWeb: Serialize and deserialize standard built-in objects
  Userland/Libraries/LibWeb/HTML/StructuredSerialize.cpp
Owners: none

Tests/LibWeb: Add standard built-in objects test for structuredClone()
  Tests/LibWeb/Text/expected/HTML/StructuredClone-object-primitives.txt
  Tests/LibWeb/Text/input/HTML/StructuredClone-object-primitives.html
Owners: none

LibWeb: Resolve currentColor when used for SVG gradient <stop>s
  Userland/Libraries/LibWeb/CSS/StyleProperties.cpp
Owners: none

LibWeb: Make responsive images react to changes in size viewport
  Userland/Libraries/LibWeb/HTML/HTMLImageElement.cpp
  Userland/Libraries/LibWeb/HTML/HTMLImageElement.h
Owners: none

LibWeb: Allow calc() values in image `sizes` attribute
  Userland/Libraries/LibWeb/CSS/CalculatedOr.cpp
  Userland/Libraries/LibWeb/CSS/CalculatedOr.h
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Parser/Parser.h
  Userland/Libraries/LibWeb/HTML/HTMLImageElement.cpp
  Userland/Libraries/LibWeb/HTML/SourceSet.cpp
  Userland/Libraries/LibWeb/HTML/SourceSet.h
Owners: none

LibWeb: Make responsive images react to changes in size viewport
  Userland/Libraries/LibWeb/HTML/HTMLImageElement.cpp
  Userland/Libraries/LibWeb/HTML/HTMLImageElement.h
Owners: none

LibRegex: Avoid slicing a RegexStringView in non-unicode Compare ops
  Userland/Libraries/LibRegex/RegexByteCode.cpp
  Userland/Libraries/LibRegex/RegexMatch.h
Owners: @alimpfard

LibRegex: Generate a search tree when patterns would benefit from it
  AK/DisjointChunks.h
  Tests/LibRegex/Regex.cpp
  Userland/Libraries/LibRegex/RegexByteCode.h
  Userland/Libraries/LibRegex/RegexOptimizer.cpp
Owners: @alimpfard

LibRegex: Add the literal string search optimisation
  Userland/Libraries/LibRegex/RegexByteCode.cpp
  Userland/Libraries/LibRegex/RegexMatch.h
  Userland/Libraries/LibRegex/RegexMatcher.cpp
  Userland/Libraries/LibRegex/RegexMatcher.h
  Userland/Libraries/LibRegex/RegexOptimizer.cpp
  Userland/Libraries/LibRegex/RegexParser.h
Owners: @alimpfard

LibRegex: Make OpCode_Compare use a switch-case instead of if-else
  Userland/Libraries/LibRegex/RegexByteCode.cpp
Owners: @alimpfard

Ports: Add perl5
  Ports/AvailablePorts.md
  Ports/perl5/package.sh
  Ports/perl5/patches/0001-configure-Hardcode-random-in-place-of-drand48.patch
  Ports/perl5/patches/0002-pp_sys-Avoid-redefining-h_errno.patch
  Ports/perl5/patches/0003-Makefile-Don-t-run-lib-unicore-mktables-with-maketes.patch
  Ports/perl5/patches/0004-Disable-nanosleep.patch
  Ports/perl5/patches/0005-configure-Add-hint-for-serenity.patch
  Ports/perl5/patches/ReadMe.md
Owners: none

Userland: Teach strace(1) to format pledge(2)
  Userland/Utilities/strace.cpp
Owners: none

LibC: Fix duplicated function symbols
  Userland/Libraries/LibC/complex.h
Owners: none

Kernel/Net: Rework ephemeral port allocation
  Kernel/Net/IPv4Socket.cpp
  Kernel/Net/IPv4Socket.h
  Kernel/Net/TCPSocket.cpp
  Kernel/Net/TCPSocket.h
  Kernel/Net/UDPSocket.cpp
  Kernel/Net/UDPSocket.h
Owners: none

Kernel/Net: Make a debug message more detailed
  Kernel/Net/NetworkTask.cpp
Owners: none

Ports: Port gn
  Ports/.port_include.sh
  Ports/AvailablePorts.md
  Ports/gn/package.sh
Owners: none

LibC: Fix struct declaration visibility
  Userland/Libraries/LibC/sys/select.h
Owners: none

Ports: Add perl5
  Ports/AvailablePorts.md
  Ports/perl5/package.sh
  Ports/perl5/patches/0001-configure-Hardcode-random-in-place-of-drand48.patch
  Ports/perl5/patches/0002-pp_sys-Avoid-redefining-h_errno.patch
  Ports/perl5/patches/0003-Makefile-Don-t-run-lib-unicore-mktables-with-maketes.patch
  Ports/perl5/patches/0004-Disable-nanosleep.patch
  Ports/perl5/patches/0005-configure-Add-hint-for-serenity.patch
  Ports/perl5/patches/ReadMe.md
Owners: none

Ports: Add `OBJDUMP` to hosted_defs
  Ports/.hosted_defs.sh
Owners: none

Ladybird: Ignore Qt preferred fonts and just load from our fallback list
  Ladybird/FontPluginQt.cpp
Owners: @linusg

LibWeb: Implement the CSS `all` property
  Meta/Lagom/Tools/CodeGenerators/LibWeb/GenerateCSSPropertyID.cpp
  Tests/LibWeb/Layout/expected/css-all-unset.txt
  Tests/LibWeb/Layout/input/css-all-unset.html
  Userland/Libraries/LibWeb/CSS/StyleComputer.cpp
  Userland/Libraries/LibWeb/CSS/StyleComputer.h
Owners: none

LibWeb: Verify that value is not saturated in set_content_width/height
  Userland/Libraries/LibWeb/Layout/LayoutState.cpp
Owners: none

Tests/LibWeb: Add standard built-in objects test for structuredClone()
  Tests/LibWeb/Text/expected/HTML/StructuredClone-object-primitives.txt
  Tests/LibWeb/Text/input/HTML/StructuredClone-object-primitives.html
Owners: none

LibWeb: Serialize and deserialize standard built-in objects
  Userland/Libraries/LibWeb/HTML/StructuredSerialize.cpp
Owners: none

LibWeb: Implement the CSS `revert` keyword
  Tests/LibWeb/Layout/expected/css-revert.txt
  Tests/LibWeb/Layout/input/css-revert.html
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/StyleComputer.cpp
  Userland/Libraries/LibWeb/CSS/StyleComputer.h
  Userland/Libraries/LibWeb/CSS/StyleProperties.h
  Userland/Libraries/LibWeb/CSS/StyleValue.h
  Userland/Libraries/LibWeb/CSS/StyleValues/RevertStyleValue.h
Owners: none

Ports: Port gn
  Ports/.port_include.sh
  Ports/AvailablePorts.md
  Ports/gn/package.sh
Owners: none

LibWeb: Optimize stacking context rebuilds on opacity change
  Userland/Libraries/LibWeb/DOM/Element.cpp
Owners: none

LibWeb: Optimize stacking context rebuilds on opacity change
  Userland/Libraries/LibWeb/DOM/Element.cpp
Owners: none

LibWeb: Implement the CSS `all` property
  Meta/Lagom/Tools/CodeGenerators/LibWeb/GenerateCSSPropertyID.cpp
  Tests/LibWeb/Layout/expected/css-all-unset.txt
  Tests/LibWeb/Layout/input/css-all-unset.html
  Userland/Libraries/LibWeb/CSS/StyleComputer.cpp
  Userland/Libraries/LibWeb/CSS/StyleComputer.h
Owners: none

LibWeb: Implement the CSS `revert` keyword
  Tests/LibWeb/Layout/expected/css-revert.txt
  Tests/LibWeb/Layout/input/css-revert.html
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/StyleComputer.cpp
  Userland/Libraries/LibWeb/CSS/StyleComputer.h
  Userland/Libraries/LibWeb/CSS/StyleProperties.h
  Userland/Libraries/LibWeb/CSS/StyleValue.h
  Userland/Libraries/LibWeb/CSS/StyleValues/RevertStyleValue.h
Owners: none

Ladybird: Ignore Qt preferred fonts and just load from our fallback list
  Ladybird/FontPluginQt.cpp
Owners: @linusg

Meta: Use `is` instead of `==` to compare types
  Meta/generate-libwasm-spec-test.py
Owners: none

Meta: Use `is` instead of `==` to compare types
  Meta/generate-libwasm-spec-test.py
Owners: none

AK: Move URL::cannot_have_a_username_or_password_or_port out of line
  AK/URL.cpp
  AK/URL.h
Owners: none

AK: Serialize URL hosts with 'concept-host-serializer'
  AK/URL.cpp
  AK/URL.h
  AK/URLParser.cpp
  Ladybird/LocationEdit.cpp
  Ladybird/WebSocketImplQt.cpp
  Tests/AK/TestURL.cpp
  Userland/Applications/Assistant/Providers.cpp
  Userland/Applications/Browser/CookieJar.cpp
  Userland/Applications/Browser/Tab.cpp
  Userland/Applications/Spreadsheet/HelpWindow.cpp
  Userland/Applications/Spreadsheet/Spreadsheet.cpp
  Userland/Libraries/LibCore/Proxy.h
  Userland/Libraries/LibGUI/TextBox.cpp
  Userland/Libraries/LibHTTP/HttpRequest.cpp
  Userland/Libraries/LibManual/Node.cpp
  Userland/Libraries/LibWeb/DOM/Document.cpp
  Userland/Libraries/LibWeb/Fetch/Fetching/Fetching.cpp
  Userland/Libraries/LibWeb/HTML/BrowsingContext.cpp
  Userland/Libraries/LibWeb/HTML/HTMLHyperlinkElementUtils.cpp
  Userland/Libraries/LibWeb/HTML/Location.cpp
  Userland/Libraries/LibWeb/HTML/NavigableContainer.cpp
  Userland/Libraries/LibWeb/HTML/Origin.h
  Userland/Libraries/LibWeb/HTML/WorkerLocation.cpp
  Userland/Libraries/LibWeb/SecureContexts/AbstractOperations.cpp
  Userland/Libraries/LibWeb/URL/URL.cpp
  Userland/Libraries/LibWeb/XHR/XMLHttpRequest.cpp
  Userland/Libraries/LibWebSocket/Impl/WebSocketImplSerenity.cpp
  Userland/Libraries/LibWebSocket/WebSocket.cpp
  Userland/Libraries/LibWebView/ViewImplementation.cpp
  Userland/Services/RequestServer/ConnectionCache.cpp
  Userland/Services/RequestServer/ConnectionCache.h
  Userland/Services/RequestServer/ConnectionFromClient.cpp
  Userland/Services/WebContent/ConnectionFromClient.cpp
  Userland/Shell/AST.cpp
  Userland/Utilities/markdown-check.cpp
  Userland/Utilities/pro.cpp
Owners: @linusg, @alimpfard

AK: Add typdefs for host URL definitions
  AK/URL.h
  AK/URLParser.cpp
Owners: none

LibWeb: Make Web::URL::host_is_domain accept an AK::URL::Host
  Userland/Libraries/LibWeb/Fetch/Fetching/Fetching.cpp
  Userland/Libraries/LibWeb/URL/URL.cpp
  Userland/Libraries/LibWeb/URL/URL.h
Owners: @linusg

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg
