Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

LibWeb: Add logical CSS properties for insets
  Tests/LibWeb/Layout/expected/css-logical-inset-properties.txt
  Tests/LibWeb/Layout/input/css-logical-inset-properties.html
  Userland/Libraries/LibWeb/CSS/Properties.json
  Userland/Libraries/LibWeb/CSS/StyleComputer.cpp
Owners: none

LibJS+LibWeb: Add fast_is<DOM::Node> for JS::Object
  Userland/Libraries/LibJS/Runtime/Object.h
  Userland/Libraries/LibWeb/DOM/Node.h
Owners: @linusg

LibJS/Bytecode: Skip CreateVariable for locals in "for" loop head
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
Owners: @linusg

LibJS: Implement import.meta for bytecode
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Instruction.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
  Userland/Libraries/LibJS/Runtime/VM.cpp
  Userland/Libraries/LibJS/Runtime/VM.h
  Userland/Libraries/LibJS/SourceTextModule.h
Owners: @linusg

LibGfx/JPEG: Decode the header in `create()`
  Userland/Libraries/LibGfx/ImageFormats/JPEGLoader.cpp
Owners: none

LibGfx/JPEG: Remove the unused method `initialize()`
  Userland/Libraries/LibGfx/ImageFormats/JPEGLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/JPEGLoader.h
Owners: none

LibGfx/QOI: Remove useless parameters from member functions
  Userland/Libraries/LibGfx/ImageFormats/QOILoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/QOILoader.h
Owners: none

LibGfx/QOI: Decode the header in `create()` and remove `initialize()`
  Userland/Libraries/LibGfx/ImageFormats/QOILoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/QOILoader.h
Owners: none

LibPDF: Some preparatory work for AESV3
  Userland/Libraries/LibPDF/Encryption.cpp
  Userland/Libraries/LibPDF/Encryption.h
Owners: none

AK: Remove redundant information from `TypeErasedFormatParams`
  AK/Format.h
Owners: none

LibRegex: Enable the atomic rewrite optimisation for unicode properties
  Userland/Libraries/LibRegex/RegexOptimizer.cpp
Owners: @alimpfard

LibGfx: Add simple VectorGraphic abstract base class
  Userland/Libraries/LibGfx/CMakeLists.txt
  Userland/Libraries/LibGfx/VectorGraphic.cpp
  Userland/Libraries/LibGfx/VectorGraphic.h
Owners: none

ImageViewer: Support displaying vector graphics (at arbitrary scales)
  Userland/Applications/ImageViewer/ViewWidget.cpp
  Userland/Applications/ImageViewer/ViewWidget.h
  Userland/Applications/ImageViewer/main.cpp
Owners: none

LibGfx: Lazily load TinyVG image data
  Userland/Libraries/LibGfx/ImageFormats/TinyVGLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TinyVGLoader.h
Owners: none

LibGfx: Allow requesting vector graphic frames from ImageDecoder
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.h
  Userland/Libraries/LibGfx/ImageFormats/TinyVGLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TinyVGLoader.h
Owners: none

LibGUI: Pass ideal size when requesting thumbnail bitmaps
  Userland/Libraries/LibGUI/FileSystemModel.cpp
Owners: none

LibGfx: Fix elliptical arcs after non orientation preserving transform
  Userland/Libraries/LibGfx/Path.cpp
Owners: none

LibGfx: Add AffineTransform::determinant()
  Userland/Libraries/LibGfx/AffineTransform.cpp
  Userland/Libraries/LibGfx/AffineTransform.h
Owners: none

LibGUI: Don't call `on_escape_pressed` from EditingEngines
  Userland/Libraries/LibGUI/RegularEditingEngine.cpp
  Userland/Libraries/LibGUI/VimEditingEngine.cpp
Owners: none

FileManager: Return a StringView from PropertiesWindow::get_description
  Userland/Applications/FileManager/PropertiesWindow.cpp
  Userland/Applications/FileManager/PropertiesWindow.h
Owners: none

FileManager: Exit the properties window on escape
  Userland/Applications/FileManager/PropertiesWindow.cpp
  Userland/Applications/FileManager/PropertiesWindow.h
Owners: none

LibGUI: Bubble up Key_Escape if no hook is plugged in TextEditor
  Userland/Libraries/LibGUI/TextEditor.cpp
Owners: none

LibRegex: Assign unique serial IDs to checkpoints
  Userland/Libraries/LibRegex/RegexByteCode.cpp
  Userland/Libraries/LibRegex/RegexByteCode.h
  Userland/Libraries/LibRegex/RegexParser.cpp
Owners: @alimpfard

LibRegex: Replace the checkpoint backing store with a Vector
  Userland/Libraries/LibRegex/RegexByteCode.cpp
  Userland/Libraries/LibRegex/RegexMatch.h
Owners: @alimpfard

LibRegex: Enable the atomic rewrite optimisation for unicode properties
  Userland/Libraries/LibRegex/RegexOptimizer.cpp
Owners: @alimpfard

LibRegex: Assign unique serial IDs to checkpoints
  Userland/Libraries/LibRegex/RegexByteCode.cpp
  Userland/Libraries/LibRegex/RegexByteCode.h
  Userland/Libraries/LibRegex/RegexParser.cpp
Owners: @alimpfard

LibRegex: Replace the checkpoint backing store with a Vector
  Userland/Libraries/LibRegex/RegexByteCode.cpp
  Userland/Libraries/LibRegex/RegexMatch.h
Owners: @alimpfard

LibRegex: Remove redundant VERIFY in OpCode::argument()
  Userland/Libraries/LibRegex/RegexByteCode.h
Owners: @alimpfard

LibRegex: Avoid pointlessly slicing a UTF-16 string for one code unit
  Userland/Libraries/LibRegex/RegexByteCode.cpp
Owners: @alimpfard

LibRegex: Avoid pointlessly slicing a UTF-16 string for one code unit
  Userland/Libraries/LibRegex/RegexByteCode.cpp
Owners: @alimpfard

LibWeb: Add support for justify-self property in CSS parser
  Userland/Libraries/LibWeb/CSS/ComputedValues.h
  Userland/Libraries/LibWeb/CSS/Enums.json
  Userland/Libraries/LibWeb/CSS/Properties.json
  Userland/Libraries/LibWeb/CSS/ResolvedCSSStyleDeclaration.cpp
  Userland/Libraries/LibWeb/CSS/StyleProperties.cpp
  Userland/Libraries/LibWeb/CSS/StyleProperties.h
  Userland/Libraries/LibWeb/Layout/Node.cpp
Owners: none

LibWeb: Respect justify-self property of grid items
  Tests/LibWeb/Layout/expected/grid/justify-self.txt
  Tests/LibWeb/Layout/input/grid/justify-self.html
  Userland/Libraries/LibWeb/Layout/GridFormattingContext.cpp
Owners: none

LibPDF: Simplify a loop
  Userland/Libraries/LibPDF/ObjectDerivatives.cpp
Owners: none

LibPDF: Fix quadratic runtime in stream dumping
  Userland/Libraries/LibPDF/ObjectDerivatives.cpp
Owners: none

LibWeb: Respect justify-self property of grid items
  Tests/LibWeb/Layout/expected/grid/justify-self.txt
  Tests/LibWeb/Layout/input/grid/justify-self.html
  Userland/Libraries/LibWeb/Layout/GridFormattingContext.cpp
Owners: none

LibWeb: Add support for justify-self property in CSS parser
  Userland/Libraries/LibWeb/CSS/ComputedValues.h
  Userland/Libraries/LibWeb/CSS/Enums.json
  Userland/Libraries/LibWeb/CSS/Properties.json
  Userland/Libraries/LibWeb/CSS/ResolvedCSSStyleDeclaration.cpp
  Userland/Libraries/LibWeb/CSS/StyleProperties.cpp
  Userland/Libraries/LibWeb/CSS/StyleProperties.h
  Userland/Libraries/LibWeb/Layout/Node.cpp
Owners: none

LibPDF: Fix quadratic runtime in stream dumping
  Userland/Libraries/LibPDF/ObjectDerivatives.cpp
Owners: none

LibPDF: Simplify a loop
  Userland/Libraries/LibPDF/ObjectDerivatives.cpp
Owners: none

LibWeb: Add Paintable::stacking_context_rooted_here()
  Userland/Libraries/LibWeb/Painting/Paintable.cpp
  Userland/Libraries/LibWeb/Painting/Paintable.h
  Userland/Libraries/LibWeb/Painting/StackingContext.cpp
Owners: none

LibJS/Bytecode: ElimiateLoads lost knowledge via ternaries
  Userland/Libraries/LibJS/Bytecode/Pass/LoadElimination.cpp
Owners: @linusg

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg
