Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

LibJS/Bytecode: Leave `for in` and `for of` with right completion value
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
Owners: @linusg

LibJS/Bytecode: Clear accumulator before entering for body
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
Owners: @linusg

LibJS/Bytecode: Support `in` binary operator for private fields
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Instruction.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
Owners: @linusg

LibJS: Use Identifier to represent name of ClassExpression
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Parser.cpp
Owners: @linusg

LibWeb: Return true for `is_operator_node()` for math-function nodes
  Userland/Libraries/LibWeb/CSS/StyleValues/CalculatedStyleValue.h
Owners: none

LibManual: Trim page name correctly when full path is provided
  Userland/Libraries/LibManual/Node.cpp
Owners: none

LibManual: Compare nodes by path
  Userland/Libraries/LibManual/Node.h
Owners: none

LibManual: Allow directly obtaining any page's main section number
  Userland/Libraries/LibManual/Node.h
  Userland/Libraries/LibManual/PageNode.cpp
  Userland/Libraries/LibManual/PageNode.h
  Userland/Libraries/LibManual/SectionNode.h
  Userland/Libraries/LibManual/SubsectionNode.h
  Userland/Utilities/man.cpp
Owners: none

markdown-check: Allow generating a manpage link graph
  Meta/Lagom/CMakeLists.txt
  Meta/check-markdown.sh
  Userland/Utilities/CMakeLists.txt
  Userland/Utilities/markdown-check.cpp
Owners: none

LibGfx/JPEG: Don't return an error on empty icc profiles
  Userland/Libraries/LibGfx/ImageFormats/JPEGLoader.cpp
Owners: none

Tests: Add a test for JPEGs with an empty ICC profile
  Tests/LibGfx/TestImageDecoder.cpp
  Tests/LibGfx/test-inputs/jpg/gradient_empty_icc.jpg
Owners: none

LibManual: Allow directly obtaining any page's main section number
  Userland/Libraries/LibManual/Node.h
  Userland/Libraries/LibManual/PageNode.cpp
  Userland/Libraries/LibManual/PageNode.h
  Userland/Libraries/LibManual/SectionNode.h
  Userland/Libraries/LibManual/SubsectionNode.h
  Userland/Utilities/man.cpp
Owners: none

LibManual: Trim page name correctly when full path is provided
  Userland/Libraries/LibManual/Node.cpp
Owners: none

markdown-check: Allow generating a manpage link graph
  Meta/Lagom/CMakeLists.txt
  Meta/check-markdown.sh
  Userland/Utilities/CMakeLists.txt
  Userland/Utilities/markdown-check.cpp
Owners: none

LibManual: Compare nodes by path
  Userland/Libraries/LibManual/Node.h
Owners: none

Ports: Do not perform slow `curl` check if download already exists
  Ports/.port_include.sh
Owners: none

CI: Show comparison of test262 AST results to bytecode results
  .github/workflows/libjs-test262.yml
Owners: none

LibWeb: Resolve flex item `auto` cross sizes through aspect ratio
  Tests/LibWeb/Layout/expected/flex/flex-column-item-with-natural-aspect-ratio-and-automatic-cross-size.txt
  Tests/LibWeb/Layout/input/flex/flex-column-item-with-natural-aspect-ratio-and-automatic-cross-size.html
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.h
Owners: none

LibJS: Update parser to detect if identifier refer a "local" variable
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Parser.cpp
  Userland/Libraries/LibJS/Parser.h
Owners: @linusg

LibJS: Use Identifier to represent name of FunctionNode
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Runtime/AbstractOperations.cpp
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
Owners: @linusg

LibJS: Add ScopeNode::for_each_var_declared_identifier()
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
Owners: @linusg

LibJS: Add for_each_bound_identifier for AST::Declaration
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
Owners: @linusg

LibJS+LibWeb: Plumb local variables names to ECMAScriptFunctionObject
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Runtime/AbstractOperations.cpp
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.h
  Userland/Libraries/LibJS/Runtime/FunctionConstructor.cpp
  Userland/Libraries/LibJS/Runtime/FunctionObject.h
  Userland/Libraries/LibJS/SourceTextModule.cpp
  Userland/Libraries/LibWeb/DOM/EventTarget.cpp
  Userland/Libraries/LibWeb/WebDriver/ExecuteScript.cpp
Owners: @linusg, @trflynn89

LibJS: Update bytecode generator to use local variables
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.h
  Userland/Libraries/LibJS/Bytecode/Instruction.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
  Userland/Libraries/LibJS/Forward.h
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
Owners: @linusg

LibJS: Add vector of local variables in ExecutionContext
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
  Userland/Libraries/LibJS/Runtime/ExecutionContext.cpp
  Userland/Libraries/LibJS/Runtime/ExecutionContext.h
Owners: @linusg

LibWeb: Support `justify-content: space-evenly` in flex layouts
  Tests/LibWeb/Layout/expected/flex/abspos-flex-child-static-position-with-justify-content.txt
  Tests/LibWeb/Layout/expected/flex/justify-content-1.txt
  Tests/LibWeb/Layout/input/flex/abspos-flex-child-static-position-with-justify-content.html
  Tests/LibWeb/Layout/input/flex/justify-content-1.html
  Userland/Libraries/LibWeb/CSS/Enums.json
  Userland/Libraries/LibWeb/CSS/Identifiers.json
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
Owners: none

LibAudio: Remove DeprecatedString/DeprecatedFlyString
  Userland/Libraries/LibAudio/FlacLoader.cpp
  Userland/Libraries/LibAudio/FlacLoader.h
  Userland/Libraries/LibAudio/Loader.cpp
  Userland/Libraries/LibAudio/Loader.h
  Userland/Libraries/LibAudio/LoaderError.h
  Userland/Libraries/LibAudio/MP3Loader.cpp
  Userland/Libraries/LibAudio/MP3Loader.h
  Userland/Libraries/LibAudio/QOALoader.cpp
  Userland/Libraries/LibAudio/QOALoader.h
  Userland/Libraries/LibAudio/SampleFormats.cpp
  Userland/Libraries/LibAudio/SampleFormats.h
  Userland/Libraries/LibAudio/WavLoader.cpp
  Userland/Libraries/LibAudio/WavLoader.h
  Userland/Libraries/LibAudio/WavWriter.h
Owners: none

LibGfx/JPEG: Don't return an error on empty icc profiles
  Userland/Libraries/LibGfx/ImageFormats/JPEGLoader.cpp
Owners: none

Tests: Add a test for JPEGs with an empty ICC profile
  Tests/LibGfx/TestImageDecoder.cpp
  Tests/LibGfx/test-inputs/jpg/gradient_empty_icc.jpg
Owners: none

LibWeb: Handle overflow x and y of hidden separately in hit_test
  Userland/Libraries/LibWeb/Painting/PaintableBox.cpp
  Userland/Libraries/LibWeb/Painting/PaintableBox.h
  Userland/Libraries/LibWeb/Painting/StackingContext.cpp
Owners: none

LibGfx: Implement a simple `Range` class
  Userland/Libraries/LibGfx/Forward.h
  Userland/Libraries/LibGfx/Range.h
Owners: none

LibWeb: Add tests for overflow-x and overflow-y clipping
  Tests/LibWeb/Layout/expected/overflow-x-hidden-clips-overflow.txt
  Tests/LibWeb/Layout/expected/overflow-y-hidden-clips-overflow.txt
  Tests/LibWeb/Layout/input/overflow-x-hidden-clips-overflow.html
  Tests/LibWeb/Layout/input/overflow-y-hidden-clips-overflow.html
Owners: none

LibWeb: Take into account differences in x and y overflow when clipping
  Userland/Libraries/LibGfx/Rect.h
  Userland/Libraries/LibWeb/Painting/PaintContext.cpp
  Userland/Libraries/LibWeb/Painting/PaintContext.h
  Userland/Libraries/LibWeb/Painting/PaintableBox.cpp
  Userland/Libraries/LibWeb/Painting/PaintableBox.h
  Userland/Libraries/LibWeb/PixelUnits.h
Owners: none

Tests: Add a test for grayscale JPEGs with an App14 segment
  Tests/LibGfx/TestImageDecoder.cpp
  Tests/LibGfx/test-inputs/jpg/grayscale_app14.jpg
Owners: none

CI: Show comparison of test262 AST results to bytecode results
  .github/workflows/libjs-test262.yml
Owners: none

LibWeb: Support `justify-content: space-evenly` in flex layouts
  Tests/LibWeb/Layout/expected/flex/abspos-flex-child-static-position-with-justify-content.txt
  Tests/LibWeb/Layout/expected/flex/justify-content-1.txt
  Tests/LibWeb/Layout/input/flex/abspos-flex-child-static-position-with-justify-content.html
  Tests/LibWeb/Layout/input/flex/justify-content-1.html
  Userland/Libraries/LibWeb/CSS/Enums.json
  Userland/Libraries/LibWeb/CSS/Identifiers.json
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
Owners: none

LibWeb: Resolve flex item `auto` cross sizes through aspect ratio
  Tests/LibWeb/Layout/expected/flex/flex-column-item-with-natural-aspect-ratio-and-automatic-cross-size.txt
  Tests/LibWeb/Layout/input/flex/flex-column-item-with-natural-aspect-ratio-and-automatic-cross-size.html
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.h
Owners: none

LibAudio: Skip FLAC samples even if already close to seek target
  Userland/Libraries/LibAudio/FlacLoader.cpp
Owners: none

LibAudio: Always add a seek point once the FLAC header has parsed
  Userland/Libraries/LibAudio/FlacLoader.cpp
Owners: none

LibAudio: Always insert a seek point at sample 0 if not present
  Userland/Libraries/LibAudio/FlacLoader.cpp
Owners: none
