Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

LibJS: Raise the upper minimum/maximum fraction digit limit to 100
  Userland/Libraries/LibJS/Runtime/Intl/NumberFormatConstructor.cpp
  Userland/Libraries/LibJS/Tests/builtins/Intl/NumberFormat/NumberFormat.js
  Userland/Libraries/LibJS/Tests/builtins/Intl/PluralRules/PluralRules.js
Owners: @trflynn89, @linusg

LibJS: Move Intl.DateTimeFormat creation to CreateDateTimeFormat AO
  Userland/Libraries/LibJS/Runtime/DatePrototype.cpp
  Userland/Libraries/LibJS/Runtime/Intl/DateTimeFormatConstructor.cpp
  Userland/Libraries/LibJS/Runtime/Intl/DateTimeFormatConstructor.h
Owners: @linusg, @trflynn89

LibJS: Read properties from the Intl.DateTimeFormat options object once
  Userland/Libraries/LibJS/Runtime/Intl/DateTimeFormat.cpp
  Userland/Libraries/LibJS/Runtime/Intl/DateTimeFormat.h
  Userland/Libraries/LibJS/Runtime/Intl/DateTimeFormatConstructor.cpp
  Userland/Libraries/LibJS/Runtime/Intl/DateTimeFormatConstructor.h
  Userland/Libraries/LibJS/Runtime/Intl/DateTimeFormatFunction.cpp
Owners: @trflynn89

LibGfx/JPEGXL: Don't decode the header twice
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none

LibGfx/JPEGXL: Align the stream to byte boundary before reading a frame
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none

Tests/LibGfx: Add a first test for JPEG XL images
  Tests/LibGfx/TestImageDecoder.cpp
  Tests/LibGfx/test-inputs/jxl/modular_simple_tree_upsample2_10bits.jxl
Owners: none

Base: Add more emoji
  Base/res/emoji/U+1F3F5.png
  Base/res/emoji/U+1F9A0.png
  Base/res/emoji/U+1FABD.png
Owners: none

Base: Add more emoji
  Base/res/emoji/U+1F3EB.png
  Base/res/emoji/U+1F439.png
  Base/res/emoji/U+1F691.png
  Base/res/emoji/U+1F6FA.png
  Base/res/emoji/U+1F93F.png
  Base/res/emoji/U+1F94D.png
  Base/res/emoji/U+1F950.png
  Base/res/emoji/U+1F97D.png
  Base/res/emoji/U+1F982.png
  Base/res/emoji/U+1F9E7.png
  Base/res/emoji/U+1FA7A.png
  Base/res/emoji/U+1FAD5.png
Owners: none

Revert "LibJS: Remove "uprooting" mechanism from garbage collector"
  Tests/LibJS/test-js.cpp
  Userland/Libraries/LibJS/Heap/Heap.cpp
  Userland/Libraries/LibJS/Heap/Heap.h
  Userland/Libraries/LibJS/Tests/builtins/FinalizationRegistry/FinalizationRegistry.prototype.cleanupSome.js
  Userland/Libraries/LibJS/Tests/builtins/WeakMap/WeakMap.prototype.set.js
  Userland/Libraries/LibJS/Tests/builtins/WeakSet/WeakSet.prototype.add.js
Owners: @linusg

LibWeb: Don't use the preferred increment as reference for distribution
  Tests/LibWeb/Layout/expected/table/cell-auto-max-width-table-percentage-width.txt
  Tests/LibWeb/Layout/expected/table/width-distribution-of-max-width-increment.txt
  Tests/LibWeb/Layout/input/table/cell-auto-max-width-table-percentage-width.html
  Tests/LibWeb/Layout/input/table/width-distribution-of-max-width-increment.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

LibWeb: Linear interpolation between table width sizing guesses
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

LibWeb: Better align outer max sizes for cells with the specification
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

LibWeb: Make the type of column whether it's percent or not
  Tests/LibWeb/Layout/expected/table/cell-relative-to-specified-table-width.txt
  Tests/LibWeb/Layout/input/table/cell-relative-to-specified-table-width.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

LibWeb: Check column or row size attributes for constrainedness
  Tests/LibWeb/Layout/expected/table/width-distribution-and-constrained-columns-size-on-col.txt
  Tests/LibWeb/Layout/input/table/width-distribution-and-constrained-columns-size-on-col.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

LibWeb: Simplify specified size formulas when computing cell measures
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

LibWeb: Add additional term to the table cell min contribution
  Tests/LibWeb/Layout/expected/table/row-outer-size-with-computed-size.txt
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

LibWeb: Distribute excess width to columns as in specification
  Tests/LibWeb/Layout/expected/table/sum-of-percentage-column-widths-less-than-100.txt
  Tests/LibWeb/Layout/input/table/sum-of-percentage-column-widths-less-than-100.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

LibWeb: Rework the computation of {min, max-}size and size for cells
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

LibWeb: Add 'outer' prefix to {min, max}_{width, height}
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

LibWeb: Use column and row size for cell outer sizes
  Tests/LibWeb/Layout/expected/table/width-distribution-and-constrained-columns-increased-size-on-col.txt
  Tests/LibWeb/Layout/input/table/width-distribution-and-constrained-columns-increased-size-on-col.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

LibCompress/Brotli: Remove `CanonicalCode::clear()`
  Userland/Libraries/LibCompress/Brotli.cpp
  Userland/Libraries/LibCompress/Brotli.h
Owners: none

LibJS: Move Intl.DateTimeFormat creation to CreateDateTimeFormat AO
  Userland/Libraries/LibJS/Runtime/DatePrototype.cpp
  Userland/Libraries/LibJS/Runtime/Intl/DateTimeFormatConstructor.cpp
  Userland/Libraries/LibJS/Runtime/Intl/DateTimeFormatConstructor.h
Owners: @linusg, @trflynn89

LibJS: Read properties from the Intl.DateTimeFormat options object once
  Userland/Libraries/LibJS/Runtime/Intl/DateTimeFormat.cpp
  Userland/Libraries/LibJS/Runtime/Intl/DateTimeFormat.h
  Userland/Libraries/LibJS/Runtime/Intl/DateTimeFormatConstructor.cpp
  Userland/Libraries/LibJS/Runtime/Intl/DateTimeFormatConstructor.h
  Userland/Libraries/LibJS/Runtime/Intl/DateTimeFormatFunction.cpp
Owners: @trflynn89

LibJS: Raise the upper minimum/maximum fraction digit limit to 100
  Userland/Libraries/LibJS/Runtime/Intl/NumberFormatConstructor.cpp
  Userland/Libraries/LibJS/Tests/builtins/Intl/NumberFormat/NumberFormat.js
  Userland/Libraries/LibJS/Tests/builtins/Intl/PluralRules/PluralRules.js
Owners: @trflynn89, @linusg

Utilities/less: Add an option to show line numbers before printed lines
  Base/usr/share/man/man1/less.md
  Userland/Utilities/less.cpp
Owners: none

Meta: Enable test-js bytecode tests
  Meta/Lagom/CMakeLists.txt
Owners: none

test-js: Add global function to determine if using bytecode interpreter
  Tests/LibJS/test-js.cpp
Owners: none

LibJS/Tests: Run 'delete always evaluates the lhs' in bytecode mode
  Userland/Libraries/LibJS/Tests/operators/delete-basic.js
Owners: @linusg

LibJS/Tests: Add support for expected failure (xfail) tests
  Userland/Libraries/LibJS/Tests/test-common.js
Owners: @linusg

LibTest: Add support for xfail JavaScriptTestRunner tests
  Userland/Libraries/LibTest/JavaScriptTestRunner.h
  Userland/Libraries/LibTest/Results.h
  Userland/Libraries/LibTest/TestRunner.h
  Userland/Utilities/run-tests.cpp
Owners: none

LibJS/Tests: Set failing bytecode tests as xfail when in bytecode mode
  Userland/Libraries/LibJS/Tests/builtins/DisposableStack/DisposableStack.prototype.@@dispose.js
  Userland/Libraries/LibJS/Tests/builtins/Error/Error.prototype.stack.js
  Userland/Libraries/LibJS/Tests/builtins/FinalizationRegistry/FinalizationRegistry.prototype.cleanupSome.js
  Userland/Libraries/LibJS/Tests/builtins/ShadowRealm/ShadowRealm.prototype.importValue.js
  Userland/Libraries/LibJS/Tests/builtins/WeakMap/WeakMap.prototype.set.js
  Userland/Libraries/LibJS/Tests/builtins/WeakSet/WeakSet.prototype.add.js
  Userland/Libraries/LibJS/Tests/invalid-lhs-in-assignment.js
  Userland/Libraries/LibJS/Tests/loops/for-in-basic.js
  Userland/Libraries/LibJS/Tests/loops/for-of-basic.js
  Userland/Libraries/LibJS/Tests/modules/basic-modules.js
  Userland/Libraries/LibJS/Tests/object-basic.js
  Userland/Libraries/LibJS/Tests/object-spread.js
  Userland/Libraries/LibJS/Tests/strict-mode-errors.js
  Userland/Libraries/LibJS/Tests/syntax/async-await.js
  Userland/Libraries/LibJS/Tests/tagged-template-literals.js
  Userland/Libraries/LibJS/Tests/using-declaration.js
  Userland/Libraries/LibJS/Tests/using-for-loops.js
Owners: @linusg

Ladybird+LibWebView: Respawn with same JS interpreter after crash
  Ladybird/WebContentView.cpp
  Ladybird/WebContentView.h
  Userland/Libraries/LibWebView/OutOfProcessWebView.cpp
  Userland/Libraries/LibWebView/OutOfProcessWebView.h
  Userland/Libraries/LibWebView/ViewImplementation.cpp
  Userland/Libraries/LibWebView/ViewImplementation.h
  Userland/Utilities/headless-browser.cpp
Owners: @linusg

FileOperation: Preserve mode bits and owner when copying files
  Userland/Services/FileOperation/main.cpp
Owners: none

FileOperation: Replace LibC `rename()` call with LibCore equivalent
  Userland/Services/FileOperation/main.cpp
Owners: none

Ladybird+LibWebView: Respawn with same JS interpreter after crash
  Ladybird/WebContentView.cpp
  Ladybird/WebContentView.h
  Userland/Libraries/LibWebView/OutOfProcessWebView.cpp
  Userland/Libraries/LibWebView/OutOfProcessWebView.h
  Userland/Libraries/LibWebView/ViewImplementation.cpp
  Userland/Libraries/LibWebView/ViewImplementation.h
  Userland/Utilities/headless-browser.cpp
Owners: @linusg

Base: Add more emoji
  Base/res/emoji/U+1F3F5.png
  Base/res/emoji/U+1F9A0.png
  Base/res/emoji/U+1FABD.png
Owners: none

Base: Add more emoji
  Base/res/emoji/U+1F3EB.png
  Base/res/emoji/U+1F439.png
  Base/res/emoji/U+1F691.png
  Base/res/emoji/U+1F6FA.png
  Base/res/emoji/U+1F93F.png
  Base/res/emoji/U+1F94D.png
  Base/res/emoji/U+1F950.png
  Base/res/emoji/U+1F97D.png
  Base/res/emoji/U+1F982.png
  Base/res/emoji/U+1F9E7.png
  Base/res/emoji/U+1FA7A.png
  Base/res/emoji/U+1FAD5.png
Owners: none

Tests/LibGfx: Add a first test for JPEG XL images
  Tests/LibGfx/TestImageDecoder.cpp
  Tests/LibGfx/test-inputs/jxl/modular_simple_tree_upsample2_10bits.jxl
Owners: none

LibGfx/JPEGXL: Align the stream to byte boundary before reading a frame
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none

SystemMonitor: Fix calculation of CPU percentage
  Userland/Applications/SystemMonitor/ProcessModel.cpp
Owners: none

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg
