Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

Meta+BindingsGenerator: Only invoke BindingsGenerator once per IDL file
  Meta/CMake/libweb_generators.cmake
  Meta/Lagom/Tools/CodeGenerators/LibWeb/BindingsGenerator/main.cpp
  Meta/gn/secondary/Userland/Libraries/LibWeb/generate_idl_bindings.gni
Owners: none

AK: Add argument to LexicalPath::basename to strip the extension
  AK/LexicalPath.h
Owners: none

AK: Add typdefs for host URL definitions
  AK/URL.h
  AK/URLParser.cpp
Owners: none

LibWeb: Make Web::URL::host_is_domain accept an AK::URL::Host
  Userland/Libraries/LibWeb/Fetch/Fetching/Fetching.cpp
  Userland/Libraries/LibWeb/URL/URL.cpp
  Userland/Libraries/LibWeb/URL/URL.h
Owners: @linusg

AK: Implement 'concept-host-serializer' in URL spec
  AK/URLParser.cpp
  AK/URLParser.h
Owners: none

AK: Make serialize_ipv6_address take a StringBuilder
  AK/URLParser.cpp
Owners: none

AK: Serialize URL hosts with 'concept-host-serializer'
  AK/URL.cpp
  AK/URL.h
  AK/URLParser.cpp
  Ladybird/LocationEdit.cpp
  Ladybird/WebSocketImplQt.cpp
  Tests/AK/TestURL.cpp
  Userland/Applications/Assistant/Providers.cpp
  Userland/Applications/Browser/CookieJar.cpp
  Userland/Applications/Browser/Tab.cpp
  Userland/Applications/Spreadsheet/HelpWindow.cpp
  Userland/Applications/Spreadsheet/Spreadsheet.cpp
  Userland/Libraries/LibCore/Proxy.h
  Userland/Libraries/LibGUI/TextBox.cpp
  Userland/Libraries/LibHTTP/HttpRequest.cpp
  Userland/Libraries/LibManual/Node.cpp
  Userland/Libraries/LibWeb/DOM/Document.cpp
  Userland/Libraries/LibWeb/Fetch/Fetching/Fetching.cpp
  Userland/Libraries/LibWeb/HTML/BrowsingContext.cpp
  Userland/Libraries/LibWeb/HTML/HTMLHyperlinkElementUtils.cpp
  Userland/Libraries/LibWeb/HTML/Location.cpp
  Userland/Libraries/LibWeb/HTML/NavigableContainer.cpp
  Userland/Libraries/LibWeb/HTML/Origin.h
  Userland/Libraries/LibWeb/HTML/WorkerLocation.cpp
  Userland/Libraries/LibWeb/SecureContexts/AbstractOperations.cpp
  Userland/Libraries/LibWeb/URL/URL.cpp
  Userland/Libraries/LibWeb/XHR/XMLHttpRequest.cpp
  Userland/Libraries/LibWebSocket/Impl/WebSocketImplSerenity.cpp
  Userland/Libraries/LibWebSocket/WebSocket.cpp
  Userland/Libraries/LibWebView/ViewImplementation.cpp
  Userland/Services/RequestServer/ConnectionCache.cpp
  Userland/Services/RequestServer/ConnectionCache.h
  Userland/Services/RequestServer/ConnectionFromClient.cpp
  Userland/Services/WebContent/ConnectionFromClient.cpp
  Userland/Shell/AST.cpp
  Userland/Utilities/markdown-check.cpp
  Userland/Utilities/pro.cpp
Owners: @linusg, @alimpfard

AK: Move URL::cannot_have_a_username_or_password_or_port out of line
  AK/URL.cpp
  AK/URL.h
Owners: none

Ladybird: Fix silly tiny back/forward/reload icons in context menu
  Ladybird/TVGIconEngine.cpp
  Ladybird/TVGIconEngine.h
  Ladybird/Tab.cpp
Owners: @linusg

AK: Use correct builtins for fmod and remainder
  AK/Math.h
Owners: none

AK: Use builtins in fabs implementation and move it to the top
  AK/Math.h
Owners: none

AK: Add trunc and rint to AK/Math.h
  AK/Math.h
Owners: none

AK: Move rounding function to the top of AK/Math.h
  AK/Math.h
Owners: none

AK: Use correct builtins for floor and ceil
  AK/Math.h
Owners: none

LibRegex: Always inline get_opcode()
  Userland/Libraries/LibRegex/RegexByteCode.cpp
  Userland/Libraries/LibRegex/RegexByteCode.h
Owners: @alimpfard

LibRegex: Add the literal string search optimisation
  Userland/Libraries/LibRegex/RegexByteCode.cpp
  Userland/Libraries/LibRegex/RegexMatch.h
  Userland/Libraries/LibRegex/RegexMatcher.cpp
  Userland/Libraries/LibRegex/RegexMatcher.h
  Userland/Libraries/LibRegex/RegexOptimizer.cpp
  Userland/Libraries/LibRegex/RegexParser.h
Owners: @alimpfard

LibRegex: Avoid slicing a RegexStringView in non-unicode Compare ops
  Userland/Libraries/LibRegex/RegexByteCode.cpp
  Userland/Libraries/LibRegex/RegexMatch.h
Owners: @alimpfard

LibRegex: Generate a search tree when patterns would benefit from it
  AK/DisjointChunks.h
  Tests/LibRegex/Regex.cpp
  Userland/Libraries/LibRegex/RegexByteCode.h
  Userland/Libraries/LibRegex/RegexOptimizer.cpp
Owners: @alimpfard

AK: Allow customising Trie's underlying map type
  AK/Trie.h
Owners: none

Profiler: Correct the event names for 'malloc' and 'free'
  Userland/DevTools/Profiler/Profile.cpp
Owners: none

LibRegex: Make OpCode_Compare use a switch-case instead of if-else
  Userland/Libraries/LibRegex/RegexByteCode.cpp
Owners: @alimpfard

LibWeb: Fix border for cells spanning entire table width or height
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

Base: Remove the empty /usr/lib and /usr/include directories
  Base/usr/include/.gitignore
  Base/usr/include/.gitkeep
  Base/usr/lib/.gitignore
  Base/usr/lib/.gitkeep
Owners: none

LibWeb/BindingsGenerator: Fix the build
  Meta/Lagom/Tools/CodeGenerators/LibWeb/BindingsGenerator/main.cpp
Owners: none

LibWeb: Remove unused headers in StructuredSerialize.cpp
  Userland/Libraries/LibWeb/HTML/StructuredSerialize.cpp
Owners: none

LibWeb: Serialize strings into a more storage efficient format
  Userland/Libraries/LibWeb/HTML/StructuredSerialize.cpp
Owners: none

LibWeb: Don't assume opacity values are CSS numbers
  Tests/LibWeb/Text/expected/css/element-opacity-change-invalidation.txt
  Tests/LibWeb/Text/input/css/element-opacity-change-invalidation.html
  Userland/Libraries/LibWeb/DOM/Element.cpp
Owners: none

LibWeb: Don't assume opacity values are CSS numbers
  Tests/LibWeb/Text/expected/css/element-opacity-change-invalidation.txt
  Tests/LibWeb/Text/input/css/element-opacity-change-invalidation.html
  Userland/Libraries/LibWeb/DOM/Element.cpp
Owners: none

headless-browser: Improve error on failure to open expectation file
  Userland/Utilities/headless-browser.cpp
Owners: none

LibWeb: Fix border for cells spanning entire table width or height
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

LibWeb: Remove unused headers in StructuredSerialize.cpp
  Userland/Libraries/LibWeb/HTML/StructuredSerialize.cpp
Owners: none

LibWeb: Serialize strings into a more storage efficient format
  Userland/Libraries/LibWeb/HTML/StructuredSerialize.cpp
Owners: none

nohup: Don't leak fd used to open nohup.out
  Userland/Utilities/nohup.cpp
Owners: none

AK: Add missing default port definitions for FTP scheme URLs
  AK/URL.cpp
  Tests/LibWeb/Text/expected/URL/url.txt
  Tests/LibWeb/Text/input/URL/url.html
Owners: none

Meta: Remove .gitignore from Base/
  .gitignore
  Base/.gitignore
Owners: none

LibWeb: Use CSS text-indent property on input type="submit" elements
  Userland/Libraries/LibWeb/Painting/ButtonPaintable.cpp
Owners: none

AK: Fix missing step step for serialization of IPv6 hosts
  AK/URLParser.cpp
  Tests/LibWeb/Text/expected/URL/url.txt
  Tests/LibWeb/Text/input/URL/url.html
Owners: none

LibWeb: Convert text_indent css pixels to device pixels
  Userland/Libraries/LibWeb/Painting/ButtonPaintable.cpp
Owners: none

LibWeb: Don't clear clip rect history but restore previous state
  Userland/Libraries/LibWeb/Painting/ButtonPaintable.cpp
Owners: none

headless-browser: Improve error on failure to open expectation file
  Userland/Utilities/headless-browser.cpp
Owners: none
