Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

LibUnicode: Use the public CodePointRange in the code generator
  Meta/Lagom/Tools/CodeGenerators/LibUnicode/GenerateUnicodeData.cpp
Owners: none

LibUnicode: Perform code point property lookups in constant time
  Meta/Lagom/Tools/CodeGenerators/LibUnicode/GenerateUnicodeData.cpp
  Tests/LibUnicode/TestUnicodeCharacterTypes.cpp
Owners: none

LibWeb: Use empty Optional to represent infinte growth limit in GFC
  Userland/Libraries/LibWeb/Layout/GridFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/GridFormattingContext.h
Owners: none

LibWeb: Avoid leaking infinite remaining_free_space in FFC calculation
  Tests/LibWeb/Layout/expected/flex/inf-available-space-with-auto-margins.txt
  Tests/LibWeb/Layout/input/flex/inf-available-space-with-auto-margins.html
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.h
Owners: none

LibWeb: Do not fire click event if mouseup/down elements do not match
  Userland/Libraries/LibWeb/Page/EventHandler.cpp
Owners: none

LibWeb: Remove unused code
  Userland/Libraries/LibWeb/Page/EventHandler.cpp
  Userland/Libraries/LibWeb/Page/EventHandler.h
Owners: none

LibTLS: Move singleton for DefaultRootCACertificates out of line
  Userland/Libraries/LibTLS/Certificate.h
  Userland/Libraries/LibTLS/TLSv12.cpp
Owners: @alimpfard

LibWeb: Convert divisor to double in TableFormattingContext
  Tests/LibWeb/Layout/expected/table/basic.txt
  Tests/LibWeb/Layout/expected/table/border-collapse-is-inherited.txt
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-col.txt
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-row.txt
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-rowgroup.txt
  Tests/LibWeb/Layout/expected/table/border-spacing-colspan.txt
  Tests/LibWeb/Layout/expected/table/border-spacing-rowspan.txt
  Tests/LibWeb/Layout/expected/table/border-spacing.txt
  Tests/LibWeb/Layout/expected/table/borders.txt
  Tests/LibWeb/Layout/expected/table/bottom-caption.txt
  Tests/LibWeb/Layout/expected/table/clip-spans-to-table-end.txt
  Tests/LibWeb/Layout/expected/table/colspan-width-distribution.txt
  Tests/LibWeb/Layout/expected/table/columns-width-distribution-1.txt
  Tests/LibWeb/Layout/expected/table/fixed-margins.txt
  Tests/LibWeb/Layout/expected/table/long-caption-increases-width.txt
  Tests/LibWeb/Layout/expected/table/multi-line-cell.txt
  Tests/LibWeb/Layout/expected/table/row-span-and-nested-tables.txt
  Tests/LibWeb/Layout/expected/table/rows-height-distribution-1.txt
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

LibWeb: Handle float clearing specified on line break elements
  Tests/LibWeb/Layout/expected/block-and-inline/float-vertical-intersection-with-margin.txt
  Tests/LibWeb/Layout/input/block-and-inline/float-vertical-intersection-with-margin.html
  Userland/Libraries/LibWeb/Layout/BlockFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/BlockFormattingContext.h
  Userland/Libraries/LibWeb/Layout/InlineFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/InlineLevelIterator.cpp
Owners: none

LibWeb: Handle auto margins with flex and justify-content
  Tests/LibWeb/Layout/expected/flex/justify-content-1.txt
  Tests/LibWeb/Layout/expected/flex/justify-content-with-margin-auto-child.txt
  Tests/LibWeb/Layout/input/flex/justify-content-with-margin-auto-child.html
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
Owners: none

LibWeb: Handle flex reverse togther with justify-content
  Tests/LibWeb/Layout/expected/flex/justify-content-1.txt
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
Owners: none

LibUnicode: Perform code point property lookups in constant time
  Meta/Lagom/Tools/CodeGenerators/LibUnicode/GenerateUnicodeData.cpp
  Tests/LibUnicode/TestUnicodeCharacterTypes.cpp
Owners: none

LibUnicode: Use the public CodePointRange in the code generator
  Meta/Lagom/Tools/CodeGenerators/LibUnicode/GenerateUnicodeData.cpp
Owners: none

LibUnicode: Stop generating Block property data
  Meta/Lagom/Tools/CodeGenerators/LibUnicode/GenerateUnicodeData.cpp
  Tests/LibUnicode/TestUnicodeCharacterTypes.cpp
  Userland/Libraries/LibUnicode/CharacterTypes.cpp
  Userland/Libraries/LibUnicode/CharacterTypes.h
Owners: @trflynn89

LibUnicode: Move the CodePointRangeComparator struct to a public header
  Meta/Lagom/Tools/CodeGenerators/LibUnicode/GenerateUnicodeData.cpp
  Userland/Libraries/LibUnicode/CharacterTypes.h
Owners: @trflynn89

LibWeb: Handle float clearing specified on line break elements
  Tests/LibWeb/Layout/expected/block-and-inline/float-vertical-intersection-with-margin.txt
  Tests/LibWeb/Layout/input/block-and-inline/float-vertical-intersection-with-margin.html
  Userland/Libraries/LibWeb/Layout/BlockFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/BlockFormattingContext.h
  Userland/Libraries/LibWeb/Layout/InlineFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/InlineLevelIterator.cpp
Owners: none

LibWeb: Convert divisor to double in TableFormattingContext
  Tests/LibWeb/Layout/expected/table/basic.txt
  Tests/LibWeb/Layout/expected/table/border-collapse-is-inherited.txt
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-col.txt
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-row.txt
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-rowgroup.txt
  Tests/LibWeb/Layout/expected/table/border-spacing-colspan.txt
  Tests/LibWeb/Layout/expected/table/border-spacing-rowspan.txt
  Tests/LibWeb/Layout/expected/table/border-spacing.txt
  Tests/LibWeb/Layout/expected/table/borders.txt
  Tests/LibWeb/Layout/expected/table/bottom-caption.txt
  Tests/LibWeb/Layout/expected/table/clip-spans-to-table-end.txt
  Tests/LibWeb/Layout/expected/table/colspan-width-distribution.txt
  Tests/LibWeb/Layout/expected/table/columns-width-distribution-1.txt
  Tests/LibWeb/Layout/expected/table/fixed-margins.txt
  Tests/LibWeb/Layout/expected/table/long-caption-increases-width.txt
  Tests/LibWeb/Layout/expected/table/multi-line-cell.txt
  Tests/LibWeb/Layout/expected/table/row-span-and-nested-tables.txt
  Tests/LibWeb/Layout/expected/table/rows-height-distribution-1.txt
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

LibWeb: Fix border painting with border-radius and zero-width sides
  Base/res/html/misc/border-radius.html
  Userland/Libraries/LibWeb/Painting/BorderPainting.cpp
Owners: none

truncate: Prefer StringView over DeprecatedString
  Userland/Utilities/truncate.cpp
Owners: none

truncate: Allow size suffixes to be used with the `-s` option
  Userland/Utilities/truncate.cpp
Owners: none

truncate: Clamp file size to 0 when using the `-s` option
  Userland/Utilities/truncate.cpp
Owners: none

truncate: Remove unnecessary includes
  Userland/Utilities/truncate.cpp
Owners: none

LibGfx/JPEGXL: Apply transformations after all PassGroups
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none

LibGfx/JPEGXL: Remove the `BitmapDecoded` state
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none

Tests/LibGfx: Use a JPEG XL image with a RCT transformation
  Tests/LibGfx/TestImageDecoder.cpp
  Tests/LibGfx/test-inputs/jxl/modular_simple_tree_upsample2_10bits.jxl
  Tests/LibGfx/test-inputs/jxl/modular_simple_tree_upsample2_10bits_rct.jxl
Owners: none

FileOperation: Preserve mode bits and owner when copying files
  Userland/Services/FileOperation/main.cpp
Owners: none

FileOperation: Replace LibC `rename()` call with LibCore equivalent
  Userland/Services/FileOperation/main.cpp
Owners: none

Meta+Utilities: Make pre-commit checks significantly less verbose
  Meta/lint-ci.sh
  Userland/Utilities/markdown-check.cpp
Owners: none

FuzzPDF: Initialize document so page count is accurate
  Meta/Lagom/Fuzzers/FuzzPDF.cpp
Owners: none

LibWeb: Verify that value is not saturated in set_content_width/height
  Userland/Libraries/LibWeb/Layout/LayoutState.cpp
Owners: none

LibGUI: Use `set_text()` for `ReplaceAllTextCommand`
  Userland/Libraries/LibGUI/TextDocument.cpp
  Userland/Libraries/LibGUI/TextDocument.h
  Userland/Libraries/LibGUI/TextEditor.cpp
Owners: none

LibGUI+GMLPlayground: Set correct undo text for ReplaceAllTextCommand
  Userland/DevTools/GMLPlayground/MainWidget.cpp
  Userland/Libraries/LibGUI/TextEditor.cpp
  Userland/Libraries/LibGUI/TextEditor.h
Owners: none

LibGUI: Use `set_text()` for `ReplaceAllTextCommand`
  Userland/Libraries/LibGUI/TextDocument.cpp
  Userland/Libraries/LibGUI/TextDocument.h
  Userland/Libraries/LibGUI/TextEditor.cpp
Owners: none

LibGUI+GMLPlayground: Set correct undo text for ReplaceAllTextCommand
  Userland/DevTools/GMLPlayground/MainWidget.cpp
  Userland/Libraries/LibGUI/TextEditor.cpp
  Userland/Libraries/LibGUI/TextEditor.h
Owners: none

CI: Set TESTS_ONLY mode for unit tests on Lagom
  Meta/Azure/Lagom.yml
Owners: none

CI: Set TESTS_ONLY mode for unit tests on Lagom
  Meta/Azure/Lagom.yml
Owners: none

LibWeb: Avoid division by zero when computing table measures
  Tests/LibWeb/Layout/expected/table/avoid-div-by-zero-in-table-measures.txt
  Tests/LibWeb/Layout/input/table/avoid-div-by-zero-in-table-measures.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

LibWeb: Fix calculation of bitmap size in BorderRadiusCornerClipper
  Userland/Libraries/LibWeb/Painting/BorderRadiusCornerClipper.cpp
Owners: none

LibWeb: Fix calculation of bitmap size in paint_outer_box_shadow
  Userland/Libraries/LibWeb/Painting/ShadowPainting.cpp
Owners: none

LibGfx/JPEGXL: Use the correct condition to read `save_before_ct`
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none
