Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

Revert "AK: Automatically copy all warn/warnln logs to debug console"
  AK/Format.h
Owners: none

Revert "FileManager: Remove duplicate log statement"
  Userland/Applications/FileManager/DirectoryView.cpp
Owners: none

Revert "LibC: Remove duplicate log statement"
  Userland/Libraries/LibC/stdio.cpp
Owners: none

truncate: Prefer StringView over DeprecatedString
  Userland/Utilities/truncate.cpp
Owners: none

truncate: Remove unnecessary includes
  Userland/Utilities/truncate.cpp
Owners: none

LibPDF: Don't ignore word_spacing
  Userland/Libraries/LibPDF/Fonts/PDFFont.h
  Userland/Libraries/LibPDF/Fonts/SimpleFont.cpp
  Userland/Libraries/LibPDF/Fonts/SimpleFont.h
  Userland/Libraries/LibPDF/Fonts/Type0Font.cpp
  Userland/Libraries/LibPDF/Fonts/Type0Font.h
  Userland/Libraries/LibPDF/Renderer.cpp
Owners: none

truncate: Allow size suffixes to be used with the `-s` option
  Userland/Utilities/truncate.cpp
Owners: none

truncate: Clamp file size to 0 when using the `-s` option
  Userland/Utilities/truncate.cpp
Owners: none

LibPDF: Fix symbol for text_next_line_show_string_set_spacing operator
  Userland/Libraries/LibPDF/Operator.h
  Userland/Libraries/LibPDF/Parser.cpp
Owners: none

LibPDF: Apply text matrix scale to character and word spacing
  Userland/Libraries/LibPDF/Renderer.cpp
Owners: none

Revert "LibC: Remove duplicate log statement"
  Userland/Libraries/LibC/stdio.cpp
Owners: none

Revert "AK: Automatically copy all warn/warnln logs to debug console"
  AK/Format.h
Owners: none

Revert "FileManager: Remove duplicate log statement"
  Userland/Applications/FileManager/DirectoryView.cpp
Owners: none

LibPDF: Apply text matrix scale to character and word spacing
  Userland/Libraries/LibPDF/Renderer.cpp
Owners: none

LibPDF: Don't ignore word_spacing
  Userland/Libraries/LibPDF/Fonts/PDFFont.h
  Userland/Libraries/LibPDF/Fonts/SimpleFont.cpp
  Userland/Libraries/LibPDF/Fonts/SimpleFont.h
  Userland/Libraries/LibPDF/Fonts/Type0Font.cpp
  Userland/Libraries/LibPDF/Fonts/Type0Font.h
  Userland/Libraries/LibPDF/Renderer.cpp
Owners: none

LibPDF: Fix symbol for text_next_line_show_string_set_spacing operator
  Userland/Libraries/LibPDF/Operator.h
  Userland/Libraries/LibPDF/Parser.cpp
Owners: none

Tests/LibWeb: Add primitives test for structuredClone()
  Tests/LibWeb/Text/expected/HTML/StructuredClone-primitives.txt
  Tests/LibWeb/Text/input/HTML/StructuredClone-primitives.html
Owners: none

LibWeb: Add primitive support to Structured{Serialize,Deserialize}
  Userland/Libraries/LibWeb/HTML/StructuredSerialize.cpp
Owners: none

LibWeb: Split SVGTextContentElement into spec defined subclasses
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/DOM/ElementFactory.cpp
  Userland/Libraries/LibWeb/Layout/SVGTextBox.cpp
  Userland/Libraries/LibWeb/Layout/SVGTextBox.h
  Userland/Libraries/LibWeb/SVG/SVGTextContentElement.cpp
  Userland/Libraries/LibWeb/SVG/SVGTextContentElement.h
  Userland/Libraries/LibWeb/SVG/SVGTextContentElement.idl
  Userland/Libraries/LibWeb/SVG/SVGTextElement.cpp
  Userland/Libraries/LibWeb/SVG/SVGTextElement.h
  Userland/Libraries/LibWeb/SVG/SVGTextElement.idl
  Userland/Libraries/LibWeb/SVG/SVGTextPositioningElement.cpp
  Userland/Libraries/LibWeb/SVG/SVGTextPositioningElement.h
  Userland/Libraries/LibWeb/SVG/SVGTextPositioningElement.idl
  Userland/Libraries/LibWeb/idl_files.cmake
Owners: none

LibWeb: Add support for SVG <tspan> elements
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/DOM/ElementFactory.cpp
  Userland/Libraries/LibWeb/SVG/SVGTSpanElement.cpp
  Userland/Libraries/LibWeb/SVG/SVGTSpanElement.h
  Userland/Libraries/LibWeb/SVG/SVGTSpanElement.idl
  Userland/Libraries/LibWeb/SVG/TagNames.h
  Userland/Libraries/LibWeb/idl_files.cmake
Owners: none

LibGfx/JPEGXL: Apply transformations after all PassGroups
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none

LibGfx/JPEGXL: Remove the `BitmapDecoded` state
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none

Tests/LibGfx: Use a JPEG XL image with a RCT transformation
  Tests/LibGfx/TestImageDecoder.cpp
  Tests/LibGfx/test-inputs/jxl/modular_simple_tree_upsample2_10bits.jxl
  Tests/LibGfx/test-inputs/jxl/modular_simple_tree_upsample2_10bits_rct.jxl
Owners: none

Spreadsheet: Update cell colors interactively while picking
  Userland/Applications/Spreadsheet/SpreadsheetWidget.cpp
Owners: @alimpfard

Meta: Test LibXML on Lagom
  Meta/Lagom/CMakeLists.txt
Owners: none

LibXML: Actually append resolved references when parsing content
  Tests/LibXML/TestParser.cpp
  Userland/Libraries/LibXML/Parser/Parser.cpp
Owners: @alimpfard

LibGfx/JPEGXL: Add support for x4 and x8 upsampling
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none

LibWeb: Split SVGTextContentElement into spec defined subclasses
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/DOM/ElementFactory.cpp
  Userland/Libraries/LibWeb/Layout/SVGTextBox.cpp
  Userland/Libraries/LibWeb/Layout/SVGTextBox.h
  Userland/Libraries/LibWeb/SVG/SVGTextContentElement.cpp
  Userland/Libraries/LibWeb/SVG/SVGTextContentElement.h
  Userland/Libraries/LibWeb/SVG/SVGTextContentElement.idl
  Userland/Libraries/LibWeb/SVG/SVGTextElement.cpp
  Userland/Libraries/LibWeb/SVG/SVGTextElement.h
  Userland/Libraries/LibWeb/SVG/SVGTextElement.idl
  Userland/Libraries/LibWeb/SVG/SVGTextPositioningElement.cpp
  Userland/Libraries/LibWeb/SVG/SVGTextPositioningElement.h
  Userland/Libraries/LibWeb/SVG/SVGTextPositioningElement.idl
  Userland/Libraries/LibWeb/idl_files.cmake
Owners: none

LibWeb: Add support for SVG <tspan> elements
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/DOM/ElementFactory.cpp
  Userland/Libraries/LibWeb/SVG/SVGTSpanElement.cpp
  Userland/Libraries/LibWeb/SVG/SVGTSpanElement.h
  Userland/Libraries/LibWeb/SVG/SVGTSpanElement.idl
  Userland/Libraries/LibWeb/SVG/TagNames.h
  Userland/Libraries/LibWeb/idl_files.cmake
Owners: none

Tests/LibWeb: Add primitives test for structuredClone()
  Tests/LibWeb/Text/expected/HTML/StructuredClone-primitives.txt
  Tests/LibWeb/Text/input/HTML/StructuredClone-primitives.html
Owners: none

LibWeb: Add primitive support to Structured{Serialize,Deserialize}
  Userland/Libraries/LibWeb/HTML/StructuredSerialize.cpp
Owners: none

LibJS/Tests: Add support for expected failure (xfail) tests
  Userland/Libraries/LibJS/Tests/test-common.js
Owners: @linusg

Meta: Enable test-js bytecode tests
  Meta/Lagom/CMakeLists.txt
Owners: none

LibJS/Tests: Run 'delete always evaluates the lhs' in bytecode mode
  Userland/Libraries/LibJS/Tests/operators/delete-basic.js
Owners: @linusg

LibTest: Add support for xfail JavaScriptTestRunner tests
  Userland/Libraries/LibTest/JavaScriptTestRunner.h
  Userland/Libraries/LibTest/Results.h
  Userland/Libraries/LibTest/TestRunner.h
  Userland/Utilities/run-tests.cpp
Owners: none

test-js: Add global function to determine if using bytecode interpreter
  Tests/LibJS/test-js.cpp
Owners: none

LibJS/Tests: Set failing bytecode tests as xfail when in bytecode mode
  Userland/Libraries/LibJS/Tests/builtins/DisposableStack/DisposableStack.prototype.@@dispose.js
  Userland/Libraries/LibJS/Tests/builtins/Error/Error.prototype.stack.js
  Userland/Libraries/LibJS/Tests/builtins/FinalizationRegistry/FinalizationRegistry.prototype.cleanupSome.js
  Userland/Libraries/LibJS/Tests/builtins/ShadowRealm/ShadowRealm.prototype.importValue.js
  Userland/Libraries/LibJS/Tests/builtins/WeakMap/WeakMap.prototype.set.js
  Userland/Libraries/LibJS/Tests/builtins/WeakSet/WeakSet.prototype.add.js
  Userland/Libraries/LibJS/Tests/invalid-lhs-in-assignment.js
  Userland/Libraries/LibJS/Tests/loops/for-in-basic.js
  Userland/Libraries/LibJS/Tests/loops/for-of-basic.js
  Userland/Libraries/LibJS/Tests/modules/basic-modules.js
  Userland/Libraries/LibJS/Tests/object-basic.js
  Userland/Libraries/LibJS/Tests/object-spread.js
  Userland/Libraries/LibJS/Tests/strict-mode-errors.js
  Userland/Libraries/LibJS/Tests/syntax/async-await.js
  Userland/Libraries/LibJS/Tests/tagged-template-literals.js
  Userland/Libraries/LibJS/Tests/using-declaration.js
  Userland/Libraries/LibJS/Tests/using-for-loops.js
Owners: @linusg

LibWeb: Use intrinsic_percentage instead of percentage_{width, height}
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

LibWeb: Implement iterative percentage size for spanning table cells
  Tests/LibWeb/Layout/expected/table/colspan-percentage-width.txt
  Tests/LibWeb/Layout/input/table/colspan-percentage-width.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

LibXML: Actually append resolved references when parsing content
  Tests/LibXML/TestParser.cpp
  Userland/Libraries/LibXML/Parser/Parser.cpp
Owners: @alimpfard
