Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

LibWeb: Add border conflict resolution with rowgroup
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-rowgroup.txt
  Tests/LibWeb/Layout/input/table/border-conflict-resolution-with-rowgroup.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

LibWeb: Resolve table border conflicts with rows
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-row.txt
  Tests/LibWeb/Layout/input/table/border-conflict-resolution-with-row.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

LibWeb: Resolve table border conflicts with cells
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-cell.txt
  Tests/LibWeb/Layout/input/table/border-conflict-resolution-with-cell.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

LibPDF: Move Page into its own file Page.h
  Userland/Libraries/LibPDF/Document.h
  Userland/Libraries/LibPDF/Page.h
Owners: none

LibPDF: Move code to compute full page contents into Page
  Userland/Libraries/LibPDF/CMakeLists.txt
  Userland/Libraries/LibPDF/Page.cpp
  Userland/Libraries/LibPDF/Page.h
  Userland/Libraries/LibPDF/Renderer.cpp
Owners: none

LibPDF: Tweak Page::page_contents() implementation for brevity
  Userland/Libraries/LibPDF/Page.cpp
Owners: none

pdf: Add --dump-contents flag
  Userland/Utilities/pdf.cpp
Owners: none

pdf: Alphabetize options
  Userland/Utilities/pdf.cpp
Owners: none

LibJS: Implement the Promise.withResolvers proposal
  Userland/Libraries/LibJS/Runtime/CommonPropertyNames.h
  Userland/Libraries/LibJS/Runtime/PromiseConstructor.cpp
  Userland/Libraries/LibJS/Runtime/PromiseConstructor.h
  Userland/Libraries/LibJS/Tests/builtins/Promise/Promise.withResolvers.js
Owners: @linusg

LibJS: Avoid creating String object wrappers in iterator helpers
  Userland/Libraries/LibJS/Runtime/Iterator.cpp
  Userland/Libraries/LibJS/Runtime/Iterator.h
  Userland/Libraries/LibJS/Runtime/IteratorConstructor.cpp
  Userland/Libraries/LibJS/Runtime/IteratorPrototype.cpp
  Userland/Libraries/LibJS/Tests/builtins/Iterator/Iterator.from.js
Owners: @linusg

LibJS/Bytecode: Make Bytecode::Register constexpr
  Userland/Libraries/LibJS/Bytecode/Register.h
Owners: @linusg

LibDiff: Make parsing of unified hunks more robust
  Userland/Libraries/LibDiff/Forward.h
  Userland/Libraries/LibDiff/Hunks.cpp
  Userland/Libraries/LibDiff/Hunks.h
Owners: none

LibFileSystem: Add FileSystem::is_regular_file
  Userland/Libraries/LibFileSystem/FileSystem.cpp
  Userland/Libraries/LibFileSystem/FileSystem.h
Owners: none

LibFileSystem: Add FileSystem::move_file
  Userland/Libraries/LibFileSystem/FileSystem.cpp
  Userland/Libraries/LibFileSystem/FileSystem.h
Owners: none

LibDiff: Implement ability to parse a patch header
  Userland/Libraries/LibDiff/Forward.h
  Userland/Libraries/LibDiff/Hunks.cpp
  Userland/Libraries/LibDiff/Hunks.h
Owners: none

LibDiff: Add Diff::apply_patch
  Userland/Libraries/LibDiff/Applier.cpp
  Userland/Libraries/LibDiff/Applier.h
  Userland/Libraries/LibDiff/CMakeLists.txt
  Userland/Libraries/LibDiff/Forward.h
  Userland/Libraries/LibDiff/Hunks.h
Owners: none

patch: Add the beginnings of a patch utility
  Userland/Utilities/CMakeLists.txt
  Userland/Utilities/patch.cpp
Owners: none

LibJS: Avoid creating String object wrappers in iterator helpers
  Userland/Libraries/LibJS/Runtime/Iterator.cpp
  Userland/Libraries/LibJS/Runtime/Iterator.h
  Userland/Libraries/LibJS/Runtime/IteratorConstructor.cpp
  Userland/Libraries/LibJS/Runtime/IteratorPrototype.cpp
  Userland/Libraries/LibJS/Tests/builtins/Iterator/Iterator.from.js
Owners: @linusg

LibGfx/TGA: Decode the header in `create()` and remove `initialize()`
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.h
Owners: none

LibGfx/TGA: Make `TGAImageDecoderPlugin::decode_tga_header()` fallible
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.h
Owners: none

LibGfx/TGA: Default initialize the `TGAHeader` in the context
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.cpp
Owners: none

Base: Add more emoji
  Base/res/emoji/U+1F3A1.png
  Base/res/emoji/U+1F468_U+200D_U+1F9BD.png
  Base/res/emoji/U+1F469_U+200D_U+1F9BD.png
  Base/res/emoji/U+1F4BA.png
  Base/res/emoji/U+1F57A.png
  Base/res/emoji/U+1F6AF.png
  Base/res/emoji/U+1F6B3.png
  Base/res/emoji/U+1F6F5.png
  Base/res/emoji/U+1F939.png
  Base/res/emoji/U+1F939_U+200D_U+2640.png
  Base/res/emoji/U+1F939_U+200D_U+2642.png
  Base/res/emoji/U+1F9A3.png
  Base/res/emoji/U+1F9D1_U+200D_U+1F9BD.png
Owners: none

LibJS: Change error message for non-objects in GetIteratorFlattenable
  Userland/Libraries/LibJS/Runtime/Iterator.cpp
  Userland/Libraries/LibJS/Tests/builtins/Iterator/Iterator.from.js
  Userland/Libraries/LibJS/Tests/builtins/Iterator/Iterator.prototype.flatMap.js
Owners: @linusg

LibJS: Change error message for non-objects in GetIteratorFlattenable
  Userland/Libraries/LibJS/Runtime/Iterator.cpp
  Userland/Libraries/LibJS/Tests/builtins/Iterator/Iterator.from.js
  Userland/Libraries/LibJS/Tests/builtins/Iterator/Iterator.prototype.flatMap.js
Owners: @linusg

LibJS: Implement the Promise.withResolvers proposal
  Userland/Libraries/LibJS/Runtime/CommonPropertyNames.h
  Userland/Libraries/LibJS/Runtime/PromiseConstructor.cpp
  Userland/Libraries/LibJS/Runtime/PromiseConstructor.h
  Userland/Libraries/LibJS/Tests/builtins/Promise/Promise.withResolvers.js
Owners: @linusg

Base: Add more emoji
  Base/res/emoji/U+1F3A1.png
  Base/res/emoji/U+1F468_U+200D_U+1F9BD.png
  Base/res/emoji/U+1F469_U+200D_U+1F9BD.png
  Base/res/emoji/U+1F4BA.png
  Base/res/emoji/U+1F57A.png
  Base/res/emoji/U+1F6AF.png
  Base/res/emoji/U+1F6B3.png
  Base/res/emoji/U+1F6F5.png
  Base/res/emoji/U+1F939.png
  Base/res/emoji/U+1F939_U+200D_U+2640.png
  Base/res/emoji/U+1F939_U+200D_U+2642.png
  Base/res/emoji/U+1F9A3.png
  Base/res/emoji/U+1F9D1_U+200D_U+1F9BD.png
Owners: none

LibIPC: Do not leak the Core::File fd by default
  Userland/Libraries/LibIPC/File.h
  Userland/Services/FileSystemAccessServer/ConnectionFromClient.cpp
  Userland/Utilities/headless-browser.cpp
Owners: none

pdf: Alphabetize options
  Userland/Utilities/pdf.cpp
Owners: none

pdf: Add --dump-contents flag
  Userland/Utilities/pdf.cpp
Owners: none

LibPDF: Move code to compute full page contents into Page
  Userland/Libraries/LibPDF/CMakeLists.txt
  Userland/Libraries/LibPDF/Page.cpp
  Userland/Libraries/LibPDF/Page.h
  Userland/Libraries/LibPDF/Renderer.cpp
Owners: none

LibPDF: Tweak Page::page_contents() implementation for brevity
  Userland/Libraries/LibPDF/Page.cpp
Owners: none

LibPDF: Move Page into its own file Page.h
  Userland/Libraries/LibPDF/Document.h
  Userland/Libraries/LibPDF/Page.h
Owners: none

LibPDF: Implement set_flatness_tolerance
  Userland/Libraries/LibPDF/Renderer.cpp
  Userland/Libraries/LibPDF/Renderer.h
Owners: none

LibJS: Speed up has declaration check in ScopePusher
  Userland/Libraries/LibJS/Parser.cpp
Owners: @linusg

pdf: Minorly tweak a help text
  Userland/Utilities/pdf.cpp
Owners: none

ClockWidget: Deduplicate logic for updating calendar buttons
  Userland/Services/Taskbar/ClockWidget.cpp
  Userland/Services/Taskbar/ClockWidget.h
Owners: none

LibGUI+Calendar: Move date control logic to the calendar widget
  Userland/Applications/Calendar/main.cpp
  Userland/Libraries/LibGUI/Calendar.cpp
  Userland/Libraries/LibGUI/Calendar.h
  Userland/Services/Taskbar/ClockWidget.cpp
Owners: none

LibGUI: Make the calendar widget scrollable
  Userland/Libraries/LibGUI/Calendar.cpp
  Userland/Libraries/LibGUI/Calendar.h
  Userland/Services/Taskbar/ClockWidget.cpp
Owners: none

LibXML: Parser handle standalone declaration
  Userland/Libraries/LibXML/Parser/Parser.cpp
Owners: @alimpfard

LibWeb: Compute border rectangles using CSSPixels
  Userland/Libraries/LibWeb/Painting/TableBordersPainting.cpp
Owners: none
