Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

LibJS: Make Object::internal_get() reveal the used property offset
  Userland/Applications/Spreadsheet/JSIntegration.cpp
  Userland/Applications/Spreadsheet/JSIntegration.h
  Userland/Libraries/LibJS/Runtime/ArgumentsObject.cpp
  Userland/Libraries/LibJS/Runtime/ArgumentsObject.h
  Userland/Libraries/LibJS/Runtime/IndexedProperties.h
  Userland/Libraries/LibJS/Runtime/ModuleNamespaceObject.cpp
  Userland/Libraries/LibJS/Runtime/ModuleNamespaceObject.h
  Userland/Libraries/LibJS/Runtime/Object.cpp
  Userland/Libraries/LibJS/Runtime/Object.h
  Userland/Libraries/LibJS/Runtime/PropertyDescriptor.h
  Userland/Libraries/LibJS/Runtime/ProxyObject.cpp
  Userland/Libraries/LibJS/Runtime/ProxyObject.h
  Userland/Libraries/LibJS/Runtime/TypedArray.h
  Userland/Libraries/LibWeb/CSS/CSSStyleDeclaration.cpp
  Userland/Libraries/LibWeb/CSS/CSSStyleDeclaration.h
  Userland/Libraries/LibWeb/HTML/Location.cpp
  Userland/Libraries/LibWeb/HTML/Location.h
  Userland/Libraries/LibWeb/HTML/WindowProxy.cpp
  Userland/Libraries/LibWeb/HTML/WindowProxy.h
Owners: @alimpfard, @linusg

LibJS/Bytecode: Cache object own property accesses
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Executable.h
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.h
  Userland/Libraries/LibJS/Bytecode/Interpreter.cpp
  Userland/Libraries/LibJS/Bytecode/Interpreter.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
Owners: @linusg

AK: Add a generic version of log2
  AK/Math.h
Owners: none

AK: Let `Array::from_span` take a readonly Span
  AK/Array.h
Owners: none

Ports: Update serenity-theming use latest commit 103b0ad
  Ports/AvailablePorts.md
  Ports/serenity-theming/package.sh
Owners: none

AK: Add a generic version of log2
  AK/Math.h
Owners: none

AK: Let `Array::from_span` take a readonly Span
  AK/Array.h
Owners: none

Ports: Update serenity-theming use latest commit 103b0ad
  Ports/AvailablePorts.md
  Ports/serenity-theming/package.sh
Owners: none

LibJS: Resolve a circular include problem between HeapBlock and Cell
  Userland/Libraries/LibJS/Heap/Cell.h
  Userland/Libraries/LibJS/Heap/Heap.cpp
  Userland/Libraries/LibJS/Heap/Heap.h
  Userland/Libraries/LibJS/Heap/HeapBlock.cpp
  Userland/Libraries/LibJS/Heap/HeapBlock.h
  Userland/Libraries/LibJS/Heap/Internals.h
  Userland/Libraries/LibJS/Runtime/VM.h
Owners: @linusg

LibWeb+LibJS: Move some code around to make CSS/Parser parse faster
  Userland/Libraries/LibJS/CMakeLists.txt
  Userland/Libraries/LibJS/Heap/Cell.cpp
  Userland/Libraries/LibJS/Heap/Cell.h
  Userland/Libraries/LibJS/Heap/Heap.h
  Userland/Libraries/LibWeb/Bindings/PlatformObject.h
  Userland/Libraries/LibWeb/CMakeLists.txt
  Userland/Libraries/LibWeb/CSS/CSSImportRule.h
  Userland/Libraries/LibWeb/CSS/CSSKeyframeRule.cpp
  Userland/Libraries/LibWeb/CSS/CSSKeyframeRule.h
  Userland/Libraries/LibWeb/CSS/CSSKeyframesRule.cpp
  Userland/Libraries/LibWeb/CSS/CSSKeyframesRule.h
  Userland/Libraries/LibWeb/CSS/CSSStyleSheet.h
  Userland/Libraries/LibWeb/CSS/ComputedValues.h
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Parser/Parser.h
  Userland/Libraries/LibWeb/CSS/Parser/ParsingContext.cpp
  Userland/Libraries/LibWeb/CSS/StyleValue.cpp
  Userland/Libraries/LibWeb/CSS/StyleValue.h
  Userland/Libraries/LibWeb/CSS/StyleValues/CalculatedStyleValue.h
  Userland/Libraries/LibWeb/DOM/IDLEventListener.cpp
  Userland/Libraries/LibWeb/DOM/LiveNodeList.cpp
  Userland/Libraries/LibWeb/DOM/StaticNodeList.cpp
  Userland/Libraries/LibWeb/HTML/Scripting/Environments.h
  Userland/Libraries/LibWeb/HTML/StructuredSerialize.cpp
  Userland/Libraries/LibWeb/HTML/TraversableNavigable.cpp
  Userland/Libraries/LibWeb/Painting/GradientPainting.cpp
  Userland/Libraries/LibWeb/Painting/MarkerPaintable.cpp
  Userland/Libraries/LibWeb/WebIDL/DOMException.h
Owners: @linusg

LibJS: Skip bindings creation for locals during block declaration init
  Userland/Libraries/LibJS/AST.cpp
Owners: @linusg

LibGUI: Don't call `on_escape_pressed` from EditingEngines
  Userland/Libraries/LibGUI/RegularEditingEngine.cpp
  Userland/Libraries/LibGUI/VimEditingEngine.cpp
Owners: none

FileManager: Exit the properties window on escape
  Userland/Applications/FileManager/PropertiesWindow.cpp
  Userland/Applications/FileManager/PropertiesWindow.h
Owners: none

LibGUI: Bubble up Key_Escape if no hook is plugged in TextEditor
  Userland/Libraries/LibGUI/TextEditor.cpp
Owners: none

FileManager: Return a StringView from PropertiesWindow::get_description
  Userland/Applications/FileManager/PropertiesWindow.cpp
  Userland/Applications/FileManager/PropertiesWindow.h
Owners: none

Ports/alpine: Patch build system files that added Serenity support
  Ports/alpine/package.sh
  Ports/alpine/patches/0001-Update-pith-Makefile.in-to-compile-helpers-for-build.patch
  Ports/alpine/patches/0002-Add-serenity-as-OS-type-in-Alpine.patch
  Ports/alpine/patches/ReadMe.md
Owners: none

LibJS: Skip bindings creation for locals during block declaration init
  Userland/Libraries/LibJS/AST.cpp
Owners: @linusg

Meta: Add LibTest and Tests/AK to gn build
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Tests/AK/BUILD.gn
  Meta/gn/secondary/Tests/BUILD.gn
  Meta/gn/secondary/Tests/unittest.gni
  Meta/gn/secondary/Userland/Libraries/LibTest/BUILD.gn
Owners: none

Meta: Add the start of a gn build based on the LLVM gn build
  .gn
  Meta/gn/.gitignore
  Meta/gn/README.md
  Meta/gn/build/BUILD.gn
  Meta/gn/build/BUILDCONFIG.gn
  Meta/gn/build/buildflags.gni
  Meta/gn/build/libs/crypt/BUILD.gn
  Meta/gn/build/libs/pthread/BUILD.gn
  Meta/gn/build/mac_sdk.gni
  Meta/gn/build/sysroot.gni
  Meta/gn/build/toolchain/BUILD.gn
  Meta/gn/build/toolchain/compiler.gni
  Meta/gn/build/write_cmake_config.gni
  Meta/gn/build/write_cmake_config.py
  Meta/gn/secondary/AK/BUILD.gn
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibCore/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibCrypt/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibSystem/BUILD.gn
Owners: none

Meta: Add CodeGenerators and library dependencies for them to gn build
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Meta/Lagom/Tools/CodeGenerators/IPCCompiler/BUILD.gn
  Meta/gn/secondary/Meta/Lagom/Tools/CodeGenerators/LibLocale/BUILD.gn
  Meta/gn/secondary/Meta/Lagom/Tools/CodeGenerators/LibTimeZone/BUILD.gn
  Meta/gn/secondary/Meta/Lagom/Tools/CodeGenerators/LibUnicode/BUILD.gn
  Meta/gn/secondary/Meta/Lagom/Tools/CodeGenerators/LibWeb/BUILD.gn
  Meta/gn/secondary/Meta/Lagom/Tools/CodeGenerators/LibWeb/BindingsGenerator/BUILD.gn
  Meta/gn/secondary/Meta/Lagom/Tools/lagom_tool.gni
  Meta/gn/secondary/Userland/Libraries/LibFileSystem/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibIPC/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibMain/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibTimeZone/BUILD.gn
Owners: none

Meta: Add LibJS and its dependencies to gn build
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibCrypto/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibJS/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibRegex/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibSyntax/BUILD.gn
Owners: none

Meta: Add file download and archive extraction tools to gn build
  Meta/gn/build/download_cache.gni
  Meta/gn/build/download_file.gni
  Meta/gn/build/download_file.py
  Meta/gn/build/extract_archive_contents.gni
  Meta/gn/build/extract_archive_contents.py
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibTimeZone/BUILD.gn
Owners: none

Meta: Add dependencies for the JS repl to the gn build
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibLine/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibTextCodec/BUILD.gn
  Meta/gn/secondary/Userland/Utilities/BUILD.gn
Owners: none

Meta: Add gn build rules for Ladybird
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Ladybird/BUILD.gn
  Meta/gn/secondary/Ladybird/SQLServer/BUILD.gn
  Meta/gn/secondary/Ladybird/WebContent/BUILD.gn
  Meta/gn/secondary/Ladybird/WebDriver/BUILD.gn
  Meta/gn/secondary/Ladybird/compile_qt_resource_file.gni
  Meta/gn/secondary/Ladybird/invoke_process_with_args.py
  Meta/gn/secondary/Ladybird/link_qt.gni
  Meta/gn/secondary/Ladybird/moc_qt_objects.gni
  Meta/gn/secondary/Ladybird/qt_install_prefix.gni
  Meta/gn/secondary/Userland/Libraries/LibDiff/BUILD.gn
Owners: none

Meta: Add gn build rules for LibGL and its dependencies
  Meta/gn/secondary/Meta/Lagom/Tools/CodeGenerators/LibGL/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibGL/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibGLSL/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibGPU/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibGfx/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibSoftGPU/BUILD.gn
Owners: none

Meta: Add compiled_action from LLVM, use it to generate TZDB sources
  Meta/gn/build/compiled_action.gni
  Meta/gn/build/run_compiled_binary.py
  Meta/gn/secondary/Userland/Libraries/LibTimeZone/BUILD.gn
Owners: none

Meta: Add LibUnicode and LibLocale to gn build
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibLocale/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibUnicode/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibUnicode/enable_unicode_download.gni
Owners: none

Meta: Add gn rules for dependencies of LibWeb
  Meta/gn/secondary/Userland/Libraries/LibAudio/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibCompress/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibGUI/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibGemini/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibHTTP/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibIDL/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibMarkdown/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibSQL/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibTLS/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibThreading/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibVideo/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibWasm/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibWebSocket/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibWebView/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibXML/BUILD.gn
Owners: none

Meta: Add CodeGenerators and library dependencies for them to gn build
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Meta/Lagom/Tools/CodeGenerators/IPCCompiler/BUILD.gn
  Meta/gn/secondary/Meta/Lagom/Tools/CodeGenerators/LibLocale/BUILD.gn
  Meta/gn/secondary/Meta/Lagom/Tools/CodeGenerators/LibTimeZone/BUILD.gn
  Meta/gn/secondary/Meta/Lagom/Tools/CodeGenerators/LibUnicode/BUILD.gn
  Meta/gn/secondary/Meta/Lagom/Tools/CodeGenerators/LibWeb/BUILD.gn
  Meta/gn/secondary/Meta/Lagom/Tools/CodeGenerators/LibWeb/BindingsGenerator/BUILD.gn
  Meta/gn/secondary/Meta/Lagom/Tools/lagom_tool.gni
  Meta/gn/secondary/Userland/Libraries/LibFileSystem/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibIPC/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibMain/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibTimeZone/BUILD.gn
Owners: none

Meta: Add file download and archive extraction tools to gn build
  Meta/gn/build/download_cache.gni
  Meta/gn/build/download_file.gni
  Meta/gn/build/download_file.py
  Meta/gn/build/extract_archive_contents.gni
  Meta/gn/build/extract_archive_contents.py
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibTimeZone/BUILD.gn
Owners: none

Meta: Add gn build rules for LibGL and its dependencies
  Meta/gn/secondary/Meta/Lagom/Tools/CodeGenerators/LibGL/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibGL/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibGLSL/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibGPU/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibGfx/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibSoftGPU/BUILD.gn
Owners: none

Meta: Add LibJS and its dependencies to gn build
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibCrypto/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibJS/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibRegex/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibSyntax/BUILD.gn
Owners: none

Meta: Add gn build rules for Ladybird
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Ladybird/BUILD.gn
  Meta/gn/secondary/Ladybird/SQLServer/BUILD.gn
  Meta/gn/secondary/Ladybird/WebContent/BUILD.gn
  Meta/gn/secondary/Ladybird/WebDriver/BUILD.gn
  Meta/gn/secondary/Ladybird/compile_qt_resource_file.gni
  Meta/gn/secondary/Ladybird/invoke_process_with_args.py
  Meta/gn/secondary/Ladybird/link_qt.gni
  Meta/gn/secondary/Ladybird/moc_qt_objects.gni
  Meta/gn/secondary/Ladybird/qt_install_prefix.gni
  Meta/gn/secondary/Userland/Libraries/LibDiff/BUILD.gn
Owners: none

Meta: Add LibUnicode and LibLocale to gn build
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibLocale/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibUnicode/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibUnicode/enable_unicode_download.gni
Owners: none

Meta: Add the start of a gn build based on the LLVM gn build
  .gn
  Meta/gn/.gitignore
  Meta/gn/README.md
  Meta/gn/build/BUILD.gn
  Meta/gn/build/BUILDCONFIG.gn
  Meta/gn/build/buildflags.gni
  Meta/gn/build/libs/crypt/BUILD.gn
  Meta/gn/build/libs/pthread/BUILD.gn
  Meta/gn/build/mac_sdk.gni
  Meta/gn/build/sysroot.gni
  Meta/gn/build/toolchain/BUILD.gn
  Meta/gn/build/toolchain/compiler.gni
  Meta/gn/build/write_cmake_config.gni
  Meta/gn/build/write_cmake_config.py
  Meta/gn/secondary/AK/BUILD.gn
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibCore/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibCrypt/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibSystem/BUILD.gn
Owners: none

Meta: Add gn rules for dependencies of LibWeb
  Meta/gn/secondary/Userland/Libraries/LibAudio/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibCompress/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibGUI/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibGemini/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibHTTP/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibIDL/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibMarkdown/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibSQL/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibTLS/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibThreading/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibVideo/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibWasm/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibWebSocket/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibWebView/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibXML/BUILD.gn
Owners: none

Meta: Add compiled_action from LLVM, use it to generate TZDB sources
  Meta/gn/build/compiled_action.gni
  Meta/gn/build/run_compiled_binary.py
  Meta/gn/secondary/Userland/Libraries/LibTimeZone/BUILD.gn
Owners: none

Meta: Add dependencies for the JS repl to the gn build
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibLine/BUILD.gn
  Meta/gn/secondary/Userland/Libraries/LibTextCodec/BUILD.gn
  Meta/gn/secondary/Userland/Utilities/BUILD.gn
Owners: none

Meta: Add LibTest and Tests/AK to gn build
  Meta/gn/secondary/BUILD.gn
  Meta/gn/secondary/Tests/AK/BUILD.gn
  Meta/gn/secondary/Tests/BUILD.gn
  Meta/gn/secondary/Tests/unittest.gni
  Meta/gn/secondary/Userland/Libraries/LibTest/BUILD.gn
Owners: none

Meta: Add example linux gn args, fix CSS build on case-insensitive FS
  Meta/gn/README.md
  Meta/gn/secondary/Userland/Libraries/LibWeb/CSS/BUILD.gn
Owners: none
