Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

LibGfx/JPEGXL: Perform size computation in a floating point type
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none

Ports: Update Cave Story version
  Ports/cavestory/package.sh
Owners: none

LibWeb: Add support for "display: contents"
  Tests/LibWeb/Layout/expected/flex/list-container-display-contents.txt
  Tests/LibWeb/Layout/input/flex/list-container-display-contents.html
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/DOM/Element.cpp
  Userland/Libraries/LibWeb/Layout/TreeBuilder.cpp
Owners: none

LibWeb: Implement `<meta http-equiv="Refresh">`
  Userland/Libraries/LibWeb/DOM/Document.cpp
  Userland/Libraries/LibWeb/DOM/Document.h
  Userland/Libraries/LibWeb/HTML/HTMLMetaElement.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMetaElement.h
Owners: none

LibUnicode: Separate code point case information into its own structure
  Meta/Lagom/Tools/CodeGenerators/LibUnicode/GenerateUnicodeData.cpp
Owners: none

LibUnicode: Search code point properties sequentially at compile time
  Meta/Lagom/Tools/CodeGenerators/LibUnicode/GenerateUnicodeData.cpp
Owners: none

LibUnicode: Perform code point case conversion lookups in constant time
  Meta/Lagom/Tools/CodeGenerators/LibUnicode/GenerateUnicodeData.cpp
  Tests/LibUnicode/TestUnicodeCharacterTypes.cpp
  Userland/Libraries/LibUnicode/UnicodeUtils.cpp
Owners: @trflynn89

LibUnicode: Prepare Unicode data generator for multistage casing tables
  Meta/Lagom/Tools/CodeGenerators/LibUnicode/GenerateUnicodeData.cpp
Owners: none

LibUnicode: Remove a few generator tracking fields that are now unused
  Meta/Lagom/Tools/CodeGenerators/LibUnicode/GenerateUnicodeData.cpp
Owners: none

LibWeb: Add support for "display: contents"
  Tests/LibWeb/Layout/expected/flex/list-container-display-contents.txt
  Tests/LibWeb/Layout/input/flex/list-container-display-contents.html
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/DOM/Element.cpp
  Userland/Libraries/LibWeb/Layout/TreeBuilder.cpp
Owners: none

AK: Allow testing Empty instances for equality
  AK/Variant.h
  Tests/AK/TestVariant.cpp
Owners: none

LibWeb: Implement `<meta http-equiv="Refresh">`
  Userland/Libraries/LibWeb/DOM/Document.cpp
  Userland/Libraries/LibWeb/DOM/Document.h
  Userland/Libraries/LibWeb/HTML/HTMLMetaElement.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMetaElement.h
Owners: none

LibWeb: Handle overlapping floating box and left margin
  Tests/LibWeb/Layout/expected/block-and-inline/block-with-hidden-overflow-after-float.txt
  Tests/LibWeb/Layout/expected/block-and-inline/block-with-hidden-overflow-after-sibling-float.txt
  Tests/LibWeb/Layout/input/block-and-inline/block-with-hidden-overflow-after-float.html
  Tests/LibWeb/Layout/input/block-and-inline/block-with-hidden-overflow-after-sibling-float.html
  Userland/Libraries/LibWeb/Layout/BlockFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/FormattingContext.h
Owners: none

LibWeb: Handle overlapping floating box and left margin
  Tests/LibWeb/Layout/expected/block-and-inline/block-with-hidden-overflow-after-float.txt
  Tests/LibWeb/Layout/expected/block-and-inline/block-with-hidden-overflow-after-sibling-float.txt
  Tests/LibWeb/Layout/input/block-and-inline/block-with-hidden-overflow-after-float.html
  Tests/LibWeb/Layout/input/block-and-inline/block-with-hidden-overflow-after-sibling-float.html
  Userland/Libraries/LibWeb/Layout/BlockFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/FormattingContext.h
Owners: none

LibWeb: Allow <svg> to act as a containing block
  Userland/Libraries/LibWeb/Layout/Node.cpp
Owners: none

Kernel/Ext2: Write BGDT backups
  Kernel/FileSystem/Ext2FS/FileSystem.cpp
Owners: none

Kernel/Ext2: Write superblock backups
  AK/IntegralMath.h
  Kernel/FileSystem/Ext2FS/FileSystem.cpp
  Kernel/FileSystem/Ext2FS/FileSystem.h
  Tests/AK/TestIntegerMath.cpp
Owners: none

Kernel/Ext2: Don't rely on block size 512 for superblock offset
  Kernel/FileSystem/Ext2FS/FileSystem.cpp
Owners: none

Kernel/FileSystem: Rename block_size -> logical_block_size
  Kernel/FileSystem/BlockBasedFileSystem.cpp
  Kernel/FileSystem/Ext2FS/FileSystem.cpp
  Kernel/FileSystem/Ext2FS/Inode.cpp
  Kernel/FileSystem/FATFS/FileSystem.cpp
  Kernel/FileSystem/FileSystem.h
  Kernel/FileSystem/ISO9660FS/FileSystem.cpp
  Kernel/FileSystem/SysFS/Subsystems/Kernel/DiskUsage.cpp
  Kernel/Syscalls/statvfs.cpp
Owners: none

Kernel/Ext2: Extract common calculations to functions
  Kernel/FileSystem/Ext2FS/FileSystem.cpp
  Kernel/FileSystem/Ext2FS/FileSystem.h
Owners: none

Kernel/FileSystem: Rename logical_block_size -> device_block_size
  Kernel/FileSystem/BlockBasedFileSystem.cpp
  Kernel/FileSystem/BlockBasedFileSystem.h
  Kernel/FileSystem/Ext2FS/FileSystem.cpp
  Kernel/FileSystem/FATFS/FileSystem.cpp
  Kernel/FileSystem/FATFS/Inode.cpp
  Kernel/FileSystem/ISO9660FS/DirectoryIterator.cpp
  Kernel/FileSystem/ISO9660FS/FileSystem.cpp
  Kernel/FileSystem/ISO9660FS/Inode.cpp
Owners: none

LibWeb: Allow <svg> to act as a containing block
  Userland/Libraries/LibWeb/Layout/Node.cpp
Owners: none

LibWeb: Only derive baseline from children with a non-empty line box
  Tests/LibWeb/Layout/expected/flex/box-baseline-with-inline-flex-empty-child.txt
  Tests/LibWeb/Layout/expected/input-element-with-display-inline.txt
  Tests/LibWeb/Layout/expected/svg/svg-negative-elliptical-arg-number.txt
  Tests/LibWeb/Layout/expected/svg/svg-path-with-implicit-lineto.txt
  Tests/LibWeb/Layout/expected/svg/svg-with-css-variable-in-presentation-hint.txt
  Tests/LibWeb/Layout/expected/svg/text-fill-none.txt
  Tests/LibWeb/Layout/expected/table/border-collapse-is-inherited.txt
  Tests/LibWeb/Layout/expected/table/inline-table-width.txt
  Tests/LibWeb/Layout/input/flex/box-baseline-with-inline-flex-empty-child.html
  Userland/Libraries/LibWeb/Layout/FormattingContext.cpp
Owners: none

LibWeb: Only derive baseline from children with a non-empty line box
  Tests/LibWeb/Layout/expected/flex/box-baseline-with-inline-flex-empty-child.txt
  Tests/LibWeb/Layout/expected/input-element-with-display-inline.txt
  Tests/LibWeb/Layout/expected/svg/svg-negative-elliptical-arg-number.txt
  Tests/LibWeb/Layout/expected/svg/svg-path-with-implicit-lineto.txt
  Tests/LibWeb/Layout/expected/svg/svg-with-css-variable-in-presentation-hint.txt
  Tests/LibWeb/Layout/expected/svg/text-fill-none.txt
  Tests/LibWeb/Layout/expected/table/border-collapse-is-inherited.txt
  Tests/LibWeb/Layout/expected/table/inline-table-width.txt
  Tests/LibWeb/Layout/input/flex/box-baseline-with-inline-flex-empty-child.html
  Userland/Libraries/LibWeb/Layout/FormattingContext.cpp
Owners: none

LibLocale: Preprocess unique CLDR date fields
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GenerateLocaleData.cpp
Owners: none

LibLocale: Decide to skip parsing CLDR calendars a little earlier
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GenerateLocaleData.cpp
Owners: none

LibLocale: Replace some slow CLDR vector lookups with a hash map
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GenerateLocaleData.cpp
Owners: none

LibLocale: Cache parsed CLDR files that must be read more than once
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GenerateLocaleData.cpp
Owners: none

LibJS: Capture UnrealizedSourceRanges in ExecutionContext, not ASTNodes
  Userland/Applications/Spreadsheet/Workbook.cpp
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
  Userland/Libraries/LibJS/Runtime/Error.cpp
  Userland/Libraries/LibJS/Runtime/Error.h
  Userland/Libraries/LibJS/Runtime/ExecutionContext.cpp
  Userland/Libraries/LibJS/Runtime/ExecutionContext.h
  Userland/Libraries/LibJS/Runtime/NativeFunction.cpp
  Userland/Libraries/LibJS/Runtime/VM.cpp
  Userland/Libraries/LibJS/SourceRange.h
Owners: @alimpfard, @linusg

AK: Allow testing Empty instances for equality
  AK/Variant.h
  Tests/AK/TestVariant.cpp
Owners: none

AK: Allow customising Trie's underlying map type
  AK/Trie.h
Owners: none

Profiler: Correct the event names for 'malloc' and 'free'
  Userland/DevTools/Profiler/Profile.cpp
Owners: none

LibRegex: Always inline get_opcode()
  Userland/Libraries/LibRegex/RegexByteCode.cpp
  Userland/Libraries/LibRegex/RegexByteCode.h
Owners: @alimpfard

Ports: Add `OBJDUMP` to hosted_defs
  Ports/.hosted_defs.sh
Owners: none

LibLocale: Cache parsed CLDR files that must be read more than once
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GenerateLocaleData.cpp
Owners: none

LibLocale: Replace some slow CLDR vector lookups with a hash map
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GenerateLocaleData.cpp
Owners: none

LibLocale: Decide to skip parsing CLDR calendars a little earlier
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GenerateLocaleData.cpp
Owners: none

LibLocale: Preprocess unique CLDR date fields
  Meta/Lagom/Tools/CodeGenerators/LibLocale/GenerateLocaleData.cpp
Owners: none

HackStudio: Add option to open file in single click
  Userland/DevTools/HackStudio/HackStudioWidget.cpp
  Userland/DevTools/HackStudio/HackStudioWidget.h
Owners: none

LibWeb: Resolve currentColor when used for SVG gradient <stop>s
  Userland/Libraries/LibWeb/CSS/StyleProperties.cpp
Owners: none
