Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

AK: Add missing default port definitions for FTP scheme URLs
  AK/URL.cpp
  Tests/LibWeb/Text/expected/URL/url.txt
  Tests/LibWeb/Text/input/URL/url.html
Owners: none

AK: Fix missing step step for serialization of IPv6 hosts
  AK/URLParser.cpp
  Tests/LibWeb/Text/expected/URL/url.txt
  Tests/LibWeb/Text/input/URL/url.html
Owners: none

Shell: Correctly track nested expansions in POSIX mode
  Userland/Shell/PosixLexer.cpp
  Userland/Shell/PosixLexer.h
Owners: @alimpfard

Shell: Add support for the '!' POSIX pipeline prefix
  Userland/Shell/PosixParser.cpp
  Userland/Shell/PosixParser.h
Owners: @alimpfard

AK: Clear buffer after leaving CannotBeABaseUrlPath in URLParser
  AK/URLParser.cpp
  Tests/AK/TestURL.cpp
Owners: none

LibWeb: Add tests for calc function nodes
  Tests/LibWeb/Layout/expected/css-values/comparison-functions.txt
  Tests/LibWeb/Layout/expected/css-values/exponential-functions.txt
  Tests/LibWeb/Layout/expected/css-values/numeric-constants.txt
  Tests/LibWeb/Layout/expected/css-values/sign-related-functions.txt
  Tests/LibWeb/Layout/expected/css-values/stepped-value-functions.txt
  Tests/LibWeb/Layout/expected/css-values/trigonometric-functions.txt
  Tests/LibWeb/Layout/input/css-values/comparison-functions.html
  Tests/LibWeb/Layout/input/css-values/exponential-functions.html
  Tests/LibWeb/Layout/input/css-values/numeric-constants.html
  Tests/LibWeb/Layout/input/css-values/sign-related-functions.html
  Tests/LibWeb/Layout/input/css-values/stepped-value-functions.html
  Tests/LibWeb/Layout/input/css-values/trigonometric-functions.html
Owners: none

Documentation: Add links of all docs that aren't mentioned anywhere
  Documentation/README.md
Owners: none

Base: Add a quote to the fortunes database
  Base/res/fortunes.json
Owners: none

Ladybird: Remove macOS workaround for WebContent GUI interaction
  Ladybird/WebContent/CMakeLists.txt
  Ladybird/WebContent/MacOSSetup.h
  Ladybird/WebContent/MacOSSetup.mm
  Ladybird/WebContent/main.cpp
Owners: @linusg

LibWeb: Use viewbox attribute in SVG symbol element
  Tests/LibWeb/Layout/expected/svg/svg-symbol-with-viewbox.txt
  Tests/LibWeb/Layout/input/svg/svg-symbol-with-viewbox.html
  Userland/Libraries/LibWeb/Layout/SVGFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/SVGGeometryBox.cpp
  Userland/Libraries/LibWeb/Painting/SVGGeometryPaintable.cpp
  Userland/Libraries/LibWeb/SVG/SVGGraphicsElement.cpp
  Userland/Libraries/LibWeb/SVG/SVGGraphicsElement.h
  Userland/Libraries/LibWeb/SVG/SVGSymbolElement.cpp
  Userland/Libraries/LibWeb/SVG/SVGSymbolElement.h
Owners: none

Ladybird: Remove macOS workaround for WebContent GUI interaction
  Ladybird/WebContent/CMakeLists.txt
  Ladybird/WebContent/MacOSSetup.h
  Ladybird/WebContent/MacOSSetup.mm
  Ladybird/WebContent/main.cpp
Owners: @linusg

Meta: Port 1d59a62944ec1fe59423958da15c643470928309 to gn build
  Meta/gn/secondary/Ladybird/WebContent/BUILD.gn
Owners: none

Meta: Only write first output file to depfile
  Meta/Lagom/Tools/CodeGenerators/LibWeb/BindingsGenerator/main.cpp
Owners: none

LibWeb: Add callback for when a CSSRuleList's rules change
  Userland/Libraries/LibWeb/CSS/CSSRuleList.cpp
  Userland/Libraries/LibWeb/CSS/CSSRuleList.h
Owners: none

LibWeb: Speed up CSS namespace checking
  Userland/Libraries/LibWeb/CSS/CSSStyleSheet.cpp
  Userland/Libraries/LibWeb/CSS/CSSStyleSheet.h
  Userland/Libraries/LibWeb/CSS/StyleComputer.cpp
Owners: none

Documentation: Add links of all docs that aren't mentioned anywhere
  Documentation/README.md
Owners: none

Documentation: Fix typo in Spice documentation filename
  Documentation/README.md
  Documentation/SpiceIntegration.md
Owners: none

Documentation: Fix typo in Spice documentation filename
  Documentation/README.md
  Documentation/SpiceIntegration.md
Owners: none

Ladybird: Remove unused spawn helper
  Ladybird/HelperProcess.cpp
  Ladybird/HelperProcess.h
Owners: @linusg

Meta: Only write first output file to depfile
  Meta/Lagom/Tools/CodeGenerators/LibWeb/BindingsGenerator/main.cpp
Owners: none

LibGfx/JPEGXL: Add default values for ToneMapping
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none

LibWeb: Remove checking for AllowedDataUrlType
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Parser/Parser.h
Owners: none

LibWeb: Set Content-Type for data: URLs instead of checking MIME on load
  Userland/Libraries/LibWeb/Loader/Resource.cpp
  Userland/Libraries/LibWeb/Loader/ResourceLoader.cpp
Owners: none

Ladybird: Fix JS console crash when history is empty
  Ladybird/ConsoleWidget.cpp
Owners: @linusg

Mail: Fetch mailbox contents with BODY.PEEK[] type instead of BODY[]
  Userland/Applications/Mail/MailWidget.cpp
Owners: none

LibIMAP: Implement serializing FetchCommands with PeekBody type
  Userland/Libraries/LibIMAP/Objects.cpp
Owners: none

LibGfx/JPEGXL: Fix property 8
  Tests/LibGfx/TestImageDecoder.cpp
  Tests/LibGfx/test-inputs/jxl/modular_property_8.jxl
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none

Ladybird: Rename FontPluginQt -> Ladybird as it is unrelated to Qt now
  Ladybird/FontPluginLadybird.cpp
  Ladybird/FontPluginLadybird.h
  Ladybird/WebContent/CMakeLists.txt
  Ladybird/WebContent/main.cpp
  Meta/gn/secondary/Ladybird/WebContent/BUILD.gn
Owners: @linusg

Ports: Add cowsay
  Ports/AvailablePorts.md
  Ports/cowsay/package.sh
Owners: none

Ladybird: Rename FontPluginQt -> Ladybird as it is unrelated to Qt now
  Ladybird/FontPluginLadybird.cpp
  Ladybird/FontPluginLadybird.h
  Ladybird/WebContent/CMakeLists.txt
  Ladybird/WebContent/main.cpp
  Meta/gn/secondary/Ladybird/WebContent/BUILD.gn
Owners: @linusg

LibGfx: Add `ExifOrientedBitmap`
  Userland/Libraries/LibGfx/ImageFormats/ExifOrientedBitmap.h
Owners: none

LibGfx/JPEGXL: Honor the orientation parameter
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none

LibGfx/JPEGXL: Fix property 8
  Tests/LibGfx/TestImageDecoder.cpp
  Tests/LibGfx/test-inputs/jxl/modular_property_8.jxl
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none

LibGfx/JPEGXL: Add default values for ToneMapping
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none

Kernel: Mark sys$poll as not needing the big lock
  Kernel/API/Syscall.h
  Kernel/Syscalls/poll.cpp
Owners: none

LibGfx/JPEGXL: Add support for the self-correcting predictor
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none

LibWeb: Better handling of floating boxes from inline formatting context
  Tests/LibWeb/Layout/expected/block-and-inline/clear-both-from-inline-formatting-context.txt
  Tests/LibWeb/Layout/expected/block-and-inline/float-clear-by-line-break.txt
  Tests/LibWeb/Layout/input/block-and-inline/clear-both-from-inline-formatting-context.html
  Tests/LibWeb/Layout/input/block-and-inline/float-clear-by-line-break.html
  Userland/Libraries/LibWeb/Layout/BlockFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/BlockFormattingContext.h
  Userland/Libraries/LibWeb/Layout/InlineFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/InlineFormattingContext.h
  Userland/Libraries/LibWeb/Layout/LineBuilder.h
Owners: none

sed: Keep correct owner and permissions with `sed -i`
  Userland/Utilities/sed.cpp
Owners: none

Ladybird: Fix JS console crash when history is empty
  Ladybird/ConsoleWidget.cpp
Owners: @linusg

Ladybird: Remove unused spawn helper
  Ladybird/HelperProcess.cpp
  Ladybird/HelperProcess.h
Owners: @linusg
