Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

LibWeb: Better handling of floating boxes from inline formatting context
  Tests/LibWeb/Layout/expected/block-and-inline/clear-both-from-inline-formatting-context.txt
  Tests/LibWeb/Layout/expected/block-and-inline/float-clear-by-line-break.txt
  Tests/LibWeb/Layout/input/block-and-inline/clear-both-from-inline-formatting-context.html
  Tests/LibWeb/Layout/input/block-and-inline/float-clear-by-line-break.html
  Userland/Libraries/LibWeb/Layout/BlockFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/BlockFormattingContext.h
  Userland/Libraries/LibWeb/Layout/InlineFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/InlineFormattingContext.h
  Userland/Libraries/LibWeb/Layout/LineBuilder.h
Owners: none

LibWeb: Speed up CSS namespace checking
  Userland/Libraries/LibWeb/CSS/CSSStyleSheet.cpp
  Userland/Libraries/LibWeb/CSS/CSSStyleSheet.h
  Userland/Libraries/LibWeb/CSS/StyleComputer.cpp
Owners: none

LibWeb: Add callback for when a CSSRuleList's rules change
  Userland/Libraries/LibWeb/CSS/CSSRuleList.cpp
  Userland/Libraries/LibWeb/CSS/CSSRuleList.h
Owners: none

Kernel: Changes to allow flush_writes() to return ErrorOr<void>.
  Kernel/FileSystem/Ext2FS/FileSystem.cpp
  Kernel/FileSystem/Inode.cpp
  Kernel/FileSystem/VirtualFileSystem.cpp
Owners: none

LibWeb: Detach stale layout nodes from DOM during layout tree build
  Tests/LibWeb/Text/expected/setting-display-none-should-nuke-subtree.txt
  Tests/LibWeb/Text/input/setting-display-none-should-nuke-subtree.html
  Userland/Libraries/LibWeb/DOM/Node.cpp
  Userland/Libraries/LibWeb/DOM/Node.h
  Userland/Libraries/LibWeb/Layout/TreeBuilder.cpp
Owners: none

LibWeb: Detach stale layout nodes from DOM during layout tree build
  Tests/LibWeb/Text/expected/setting-display-none-should-nuke-subtree.txt
  Tests/LibWeb/Text/input/setting-display-none-should-nuke-subtree.html
  Userland/Libraries/LibWeb/DOM/Node.cpp
  Userland/Libraries/LibWeb/DOM/Node.h
  Userland/Libraries/LibWeb/Layout/TreeBuilder.cpp
Owners: none

AK: Clear buffer after leaving CannotBeABaseUrlPath in URLParser
  AK/URLParser.cpp
  Tests/AK/TestURL.cpp
Owners: none

AK: Decode data URLs to separate class (and parse like every other URL)
  AK/URL.cpp
  AK/URL.h
  AK/URLParser.cpp
  AK/URLParser.h
  Tests/AK/TestURL.cpp
  Userland/Applications/Spreadsheet/HelpWindow.cpp
  Userland/Libraries/LibWeb/Fetch/Fetching/Fetching.cpp
  Userland/Libraries/LibWeb/HTML/HTMLCanvasElement.cpp
  Userland/Libraries/LibWeb/Loader/ResourceLoader.cpp
Owners: @alimpfard, @linusg

Kernel: Allow Ext2FS::flush_writes() to return ErrorOr<void>
  Kernel/FileSystem/BlockBasedFileSystem.cpp
  Kernel/FileSystem/BlockBasedFileSystem.h
  Kernel/FileSystem/Ext2FS/FileSystem.cpp
  Kernel/FileSystem/Ext2FS/FileSystem.h
  Kernel/FileSystem/FileSystem.h
  Kernel/FileSystem/Inode.cpp
  Kernel/FileSystem/VirtualFileSystem.cpp
  Kernel/Tasks/PowerStateSwitchTask.cpp
Owners: none

LibWeb: Remove checking for AllowedDataUrlType
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Parser/Parser.h
Owners: none

AK: Decode data URLs to separate class (and parse like every other URL)
  AK/URL.cpp
  AK/URL.h
  AK/URLParser.cpp
  AK/URLParser.h
  Tests/AK/TestURL.cpp
  Userland/Applications/Spreadsheet/HelpWindow.cpp
  Userland/Libraries/LibWeb/Fetch/Fetching/Fetching.cpp
  Userland/Libraries/LibWeb/HTML/HTMLCanvasElement.cpp
  Userland/Libraries/LibWeb/Loader/ResourceLoader.cpp
Owners: @alimpfard, @linusg

LibWeb: Set Content-Type for data: URLs instead of checking MIME on load
  Userland/Libraries/LibWeb/Loader/Resource.cpp
  Userland/Libraries/LibWeb/Loader/ResourceLoader.cpp
Owners: none

LibJS: Use correct `this` value when callee is a `with` binding
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Instruction.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
Owners: @linusg

LibWeb: Add tests for calc function nodes
  Tests/LibWeb/Layout/expected/css-values/comparison-functions.txt
  Tests/LibWeb/Layout/expected/css-values/exponential-functions.txt
  Tests/LibWeb/Layout/expected/css-values/numeric-constants.txt
  Tests/LibWeb/Layout/expected/css-values/sign-related-functions.txt
  Tests/LibWeb/Layout/expected/css-values/stepped-value-functions.txt
  Tests/LibWeb/Layout/expected/css-values/trigonometric-functions.txt
  Tests/LibWeb/Layout/input/css-values/comparison-functions.html
  Tests/LibWeb/Layout/input/css-values/exponential-functions.html
  Tests/LibWeb/Layout/input/css-values/numeric-constants.html
  Tests/LibWeb/Layout/input/css-values/sign-related-functions.html
  Tests/LibWeb/Layout/input/css-values/stepped-value-functions.html
  Tests/LibWeb/Layout/input/css-values/trigonometric-functions.html
Owners: none

LibWeb: Use viewbox attribute in SVG symbol element
  Tests/LibWeb/Layout/expected/svg/svg-symbol-with-viewbox.txt
  Tests/LibWeb/Layout/input/svg/svg-symbol-with-viewbox.html
  Userland/Libraries/LibWeb/Layout/SVGFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/SVGGeometryBox.cpp
  Userland/Libraries/LibWeb/Painting/SVGGeometryPaintable.cpp
  Userland/Libraries/LibWeb/SVG/SVGGraphicsElement.cpp
  Userland/Libraries/LibWeb/SVG/SVGGraphicsElement.h
  Userland/Libraries/LibWeb/SVG/SVGSymbolElement.cpp
  Userland/Libraries/LibWeb/SVG/SVGSymbolElement.h
Owners: none

LibWeb: Implement the `:playing` and `:paused` pseudo-classes
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Selector.cpp
  Userland/Libraries/LibWeb/CSS/Selector.h
  Userland/Libraries/LibWeb/CSS/SelectorEngine.cpp
  Userland/Libraries/LibWeb/Dump.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMediaElement.cpp
Owners: none

LibWeb: Include all pseudo-classes in SimpleSelector::serialize
  Userland/Libraries/LibWeb/CSS/Selector.cpp
Owners: none

LibWeb: Implement the `:seeking` pseudo-class
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Selector.cpp
  Userland/Libraries/LibWeb/CSS/Selector.h
  Userland/Libraries/LibWeb/CSS/SelectorEngine.cpp
  Userland/Libraries/LibWeb/Dump.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMediaElement.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMediaElement.h
Owners: none

LibWeb: Implement the `:muted` pseudo-class
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Selector.cpp
  Userland/Libraries/LibWeb/CSS/Selector.h
  Userland/Libraries/LibWeb/CSS/SelectorEngine.cpp
  Userland/Libraries/LibWeb/Dump.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMediaElement.cpp
Owners: none

LibWeb: Use item minimum contribution while sizing "fr" track in GFC
  Tests/LibWeb/Layout/expected/grid/row-1fr.txt
  Tests/LibWeb/Layout/input/grid/row-1fr.html
  Userland/Libraries/LibWeb/Layout/GridFormattingContext.cpp
Owners: none

LibWeb: Implement the `:volume-locked` pseudo-class
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Selector.cpp
  Userland/Libraries/LibWeb/CSS/Selector.h
  Userland/Libraries/LibWeb/CSS/SelectorEngine.cpp
  Userland/Libraries/LibWeb/Dump.cpp
Owners: none

LibJS: Use correct `this` value when callee is a `with` binding
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Instruction.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
Owners: @linusg

LibWeb: Use item minimum contribution while sizing "fr" track in GFC
  Tests/LibWeb/Layout/expected/grid/row-1fr.txt
  Tests/LibWeb/Layout/input/grid/row-1fr.html
  Userland/Libraries/LibWeb/Layout/GridFormattingContext.cpp
Owners: none

LibWeb: Remove unused VideoBox preferred width/height methods
  Userland/Libraries/LibWeb/Layout/VideoBox.cpp
  Userland/Libraries/LibWeb/Layout/VideoBox.h
Owners: none

LibWeb: Implement the `:buffering` and `:stalled` pseudo-classes
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Selector.cpp
  Userland/Libraries/LibWeb/CSS/Selector.h
  Userland/Libraries/LibWeb/CSS/SelectorEngine.cpp
  Userland/Libraries/LibWeb/Dump.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMediaElement.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMediaElement.h
Owners: none

LibWeb: Make VideoPaintable's clip rect temporary
  Userland/Libraries/LibWeb/Painting/VideoPaintable.cpp
Owners: none

LibWeb: Add a clip rect for AudioPaintable
  Userland/Libraries/LibWeb/Painting/AudioPaintable.cpp
Owners: none

Documentation: Add a document about the LibJS garbage collection
  Documentation/Browser/LibJSGarbageCollection.md
  Documentation/README.md
Owners: none

LibWeb: Make VideoPaintable's clip rect temporary
  Userland/Libraries/LibWeb/Painting/VideoPaintable.cpp
Owners: none

LibWeb: Add a clip rect for AudioPaintable
  Userland/Libraries/LibWeb/Painting/AudioPaintable.cpp
Owners: none

LibWeb: Remove unused VideoBox preferred width/height methods
  Userland/Libraries/LibWeb/Layout/VideoBox.cpp
  Userland/Libraries/LibWeb/Layout/VideoBox.h
Owners: none

LibWeb: Ignore flex container size constraints during intrinsic sizing
  Tests/LibWeb/Layout/expected/flex/flex-column-container-with-max-width-max-content.txt
  Tests/LibWeb/Layout/input/flex/flex-column-container-with-max-width-max-content.html
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
Owners: none

LibWeb: Implement the `:playing` and `:paused` pseudo-classes
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Selector.cpp
  Userland/Libraries/LibWeb/CSS/Selector.h
  Userland/Libraries/LibWeb/CSS/SelectorEngine.cpp
  Userland/Libraries/LibWeb/Dump.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMediaElement.cpp
Owners: none

LibWeb: Implement the `:seeking` pseudo-class
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Selector.cpp
  Userland/Libraries/LibWeb/CSS/Selector.h
  Userland/Libraries/LibWeb/CSS/SelectorEngine.cpp
  Userland/Libraries/LibWeb/Dump.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMediaElement.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMediaElement.h
Owners: none

LibWeb: Include all pseudo-classes in SimpleSelector::serialize
  Userland/Libraries/LibWeb/CSS/Selector.cpp
Owners: none

LibWeb: Implement the `:muted` pseudo-class
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Selector.cpp
  Userland/Libraries/LibWeb/CSS/Selector.h
  Userland/Libraries/LibWeb/CSS/SelectorEngine.cpp
  Userland/Libraries/LibWeb/Dump.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMediaElement.cpp
Owners: none

LibWeb: Implement the `:volume-locked` pseudo-class
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Selector.cpp
  Userland/Libraries/LibWeb/CSS/Selector.h
  Userland/Libraries/LibWeb/CSS/SelectorEngine.cpp
  Userland/Libraries/LibWeb/Dump.cpp
Owners: none

LibWeb: Implement the `:buffering` and `:stalled` pseudo-classes
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
  Userland/Libraries/LibWeb/CSS/Selector.cpp
  Userland/Libraries/LibWeb/CSS/Selector.h
  Userland/Libraries/LibWeb/CSS/SelectorEngine.cpp
  Userland/Libraries/LibWeb/Dump.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMediaElement.cpp
  Userland/Libraries/LibWeb/HTML/HTMLMediaElement.h
Owners: none

LibWeb: Ignore flex container size constraints during intrinsic sizing
  Tests/LibWeb/Layout/expected/flex/flex-column-container-with-max-width-max-content.txt
  Tests/LibWeb/Layout/input/flex/flex-column-container-with-max-width-max-content.html
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
Owners: none

LibGfx/JPEGXL: Store distributions in a `Variant`
  Userland/Libraries/LibGfx/ImageFormats/JPEGXLLoader.cpp
Owners: none
