Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

LibWasm: Make the main module's functions addressable by globals
  Userland/Libraries/LibWasm/AbstractMachine/AbstractMachine.cpp
Owners: @alimpfard

LibWasm: Implement Element section segment type 4
  Userland/Libraries/LibWasm/Parser/Parser.cpp
  Userland/Libraries/LibWasm/Types.h
Owners: @alimpfard

LibCore: Slightly rework the Core::Promise API
  Tests/LibCore/CMakeLists.txt
  Tests/LibCore/TestLibCorePromise.cpp
  Userland/Applications/Browser/CookieJar.cpp
  Userland/Libraries/LibCore/Forward.h
  Userland/Libraries/LibCore/Promise.h
  Userland/Libraries/LibCore/ThreadEventQueue.cpp
  Userland/Libraries/LibIMAP/Client.cpp
  Userland/Libraries/LibThreading/BackgroundAction.h
  Userland/Services/WebDriver/Session.cpp
Owners: @linusg, @trflynn89

AK: Add a CallableAs<R, Args...> concept
  AK/Concepts.h
  AK/Function.h
Owners: none

LibGfx: Add AffineTransform::determinant()
  Userland/Libraries/LibGfx/AffineTransform.cpp
  Userland/Libraries/LibGfx/AffineTransform.h
Owners: none

LibGfx: Fix elliptical arcs after non orientation preserving transform
  Userland/Libraries/LibGfx/Path.cpp
Owners: none

LibGfx: Add simple VectorGraphic abstract base class
  Userland/Libraries/LibGfx/CMakeLists.txt
  Userland/Libraries/LibGfx/VectorGraphic.cpp
  Userland/Libraries/LibGfx/VectorGraphic.h
Owners: none

LibGfx: Allow requesting vector graphic frames from ImageDecoder
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.h
  Userland/Libraries/LibGfx/ImageFormats/TinyVGLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TinyVGLoader.h
Owners: none

LibGfx: Lazily load TinyVG image data
  Userland/Libraries/LibGfx/ImageFormats/TinyVGLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TinyVGLoader.h
Owners: none

LibGUI: Pass ideal size when requesting thumbnail bitmaps
  Userland/Libraries/LibGUI/FileSystemModel.cpp
Owners: none

LibJS: Fix scope detection for ids in default function params
  Userland/Libraries/LibJS/Parser.cpp
  Userland/Libraries/LibJS/Parser.h
  Userland/Libraries/LibJS/Runtime/FunctionConstructor.cpp
  Userland/Libraries/LibJS/Tests/functions/function-default-parameters.js
Owners: @linusg

LibJS: Fix scope detection for ids in default function params
  Userland/Libraries/LibJS/Parser.cpp
  Userland/Libraries/LibJS/Parser.h
  Userland/Libraries/LibJS/Runtime/FunctionConstructor.cpp
  Userland/Libraries/LibJS/Tests/functions/function-default-parameters.js
Owners: @linusg

zip: Move away from `DeprecatedString`
  Userland/Utilities/zip.cpp
Owners: none

LibArchive: Add helper functions for adding members to a ZipOutputStream
  Userland/Libraries/LibArchive/CMakeLists.txt
  Userland/Libraries/LibArchive/Zip.cpp
  Userland/Libraries/LibArchive/Zip.h
Owners: none

zip: Use the helpers in ZipOutputStream for adding files
  Userland/Utilities/CMakeLists.txt
  Userland/Utilities/zip.cpp
Owners: none

LibJS: Allow usage of locals if function parameters have default values
  Userland/Libraries/LibJS/Parser.cpp
Owners: @linusg

LibWasm: Implement Element section segment type 4
  Userland/Libraries/LibWasm/Parser/Parser.cpp
  Userland/Libraries/LibWasm/Types.h
Owners: @alimpfard

LibWasm: Make the main module's functions addressable by globals
  Userland/Libraries/LibWasm/AbstractMachine/AbstractMachine.cpp
Owners: @alimpfard

LibJS: Allow usage of locals if function parameters have default values
  Userland/Libraries/LibJS/Parser.cpp
Owners: @linusg

LibGfx/ICO: Fix an erroneous condition
  Userland/Libraries/LibGfx/ImageFormats/ICOLoader.cpp
Owners: none

LibGfx/BMP: Move some `const` to the east
  Userland/Libraries/LibGfx/ImageFormats/BMPLoader.cpp
Owners: none

SpiceAgent: Pledge cpath
  Userland/Services/SpiceAgent/main.cpp
Owners: none

ImageViewer: Support displaying vector graphics (at arbitrary scales)
  Userland/Applications/ImageViewer/ViewWidget.cpp
  Userland/Applications/ImageViewer/ViewWidget.h
  Userland/Applications/ImageViewer/main.cpp
Owners: none

LibC: Fix max value of short
  Userland/Libraries/LibC/limits.h
Owners: none

Base: Add more emoji
  Base/res/emoji/U+1F69C.png
  Base/res/emoji/U+1F96F.png
  Base/res/emoji/U+1F9B0.png
  Base/res/emoji/U+1F9B1.png
  Base/res/emoji/U+1F9B2.png
  Base/res/emoji/U+1F9B3.png
  Base/res/emoji/U+1F9B8.png
  Base/res/emoji/U+1F9B9.png
  Base/res/emoji/U+1F9CD.png
  Base/res/emoji/U+1F9CD_U+200D_U+2640.png
  Base/res/emoji/U+1F9CD_U+200D_U+2642.png
  Base/res/emoji/U+1FAAA.png
Owners: none

Base: Add more emoji
  Base/res/emoji/U+1F69C.png
  Base/res/emoji/U+1F96F.png
  Base/res/emoji/U+1F9B0.png
  Base/res/emoji/U+1F9B1.png
  Base/res/emoji/U+1F9B2.png
  Base/res/emoji/U+1F9B3.png
  Base/res/emoji/U+1F9B8.png
  Base/res/emoji/U+1F9B9.png
  Base/res/emoji/U+1F9CD.png
  Base/res/emoji/U+1F9CD_U+200D_U+2640.png
  Base/res/emoji/U+1F9CD_U+200D_U+2642.png
  Base/res/emoji/U+1FAAA.png
Owners: none

LibDSP: Basic FIR filter
  Userland/Libraries/LibDSP/FIRFilter.h
Owners: none

LibDSP: Sinc resampler
  Userland/Libraries/LibDSP/Resampler.h
Owners: none

LibDSP: Extend window methods
  Userland/Libraries/LibDSP/Window.h
Owners: none

LibJS/Bytecode: Always return false on attempt to delete local variable
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
Owners: @linusg

LibAudio: WavWriter clamps instead of overflows samples
  Userland/Libraries/LibAudio/WavWriter.cpp
  Userland/Libraries/LibAudio/WavWriter.h
Owners: none

aconv: Add resampler
  Userland/Utilities/aconv.cpp
Owners: none

LibAudio: WavWriter respects channel count
  Userland/Libraries/LibAudio/WavWriter.cpp
  Userland/Utilities/aconv.cpp
Owners: none

LibC: Fix max value of short
  Userland/Libraries/LibC/limits.h
Owners: none

LibJS: Use local variables for function declarations when possible
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Parser.cpp
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
Owners: @linusg

Base: Adjust emoji
  Base/res/emoji/U+1F930.png
Owners: none

Base: Adjust emoji
  Base/res/emoji/U+1F450.png
  Base/res/emoji/U+1F451.png
Owners: none

Base: Add more emoji
  Base/res/emoji/U+1F5FC.png
  Base/res/emoji/U+1F93A.png
  Base/res/emoji/U+1F93E.png
  Base/res/emoji/U+1F93E_U+200D_U+2640.png
  Base/res/emoji/U+1F93E_U+200D_U+2642.png
  Base/res/emoji/U+1F9C1.png
  Base/res/emoji/U+1FA88.png
  Base/res/emoji/U+1FAC3.png
  Base/res/emoji/U+1FAC4.png
Owners: none

LibWeb: Adjust border widths for tables using collapsing borders
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-col.txt
  Tests/LibWeb/Layout/expected/table/borders.txt
  Userland/Libraries/LibWeb/Layout/LayoutState.h
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Painting/PaintableBox.h
Owners: none

Base: Adjust emoji
  Base/res/emoji/U+1F930.png
Owners: none
