Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg

Base: Adjust emoji
  Base/res/emoji/U+1F450.png
  Base/res/emoji/U+1F451.png
Owners: none

Base: Add more emoji
  Base/res/emoji/U+1F5FC.png
  Base/res/emoji/U+1F93A.png
  Base/res/emoji/U+1F93E.png
  Base/res/emoji/U+1F93E_U+200D_U+2640.png
  Base/res/emoji/U+1F93E_U+200D_U+2642.png
  Base/res/emoji/U+1F9C1.png
  Base/res/emoji/U+1FA88.png
  Base/res/emoji/U+1FAC3.png
  Base/res/emoji/U+1FAC4.png
Owners: none

SpiceAgent: Pledge cpath
  Userland/Services/SpiceAgent/main.cpp
Owners: none

LibGfx/BMP: Move some `const` to the east
  Userland/Libraries/LibGfx/ImageFormats/BMPLoader.cpp
Owners: none

LibGfx/ICO: Fix an erroneous condition
  Userland/Libraries/LibGfx/ImageFormats/ICOLoader.cpp
Owners: none

LibCore: Slightly rework the Core::Promise API
  Tests/LibCore/CMakeLists.txt
  Tests/LibCore/TestLibCorePromise.cpp
  Userland/Applications/Browser/CookieJar.cpp
  Userland/Libraries/LibCore/Forward.h
  Userland/Libraries/LibCore/Promise.h
  Userland/Libraries/LibCore/ThreadEventQueue.cpp
  Userland/Libraries/LibIMAP/Client.cpp
  Userland/Libraries/LibThreading/BackgroundAction.h
  Userland/Services/WebDriver/Session.cpp
Owners: @linusg, @trflynn89

AK: Add a CallableAs<R, Args...> concept
  AK/Concepts.h
  AK/Function.h
Owners: none

Meta: Implement proper checks for sudo alternatives
  Meta/build-image-extlinux.sh
  Meta/build-image-grub.sh
  Meta/build-image-limine.sh
  Meta/build-image-qemu.sh
  Meta/build-native-partition.sh
  Meta/shell_include.sh
Owners: none

Meta: Improve build compatibility with non-GNU userspaces
  Meta/build-image-extlinux.sh
  Meta/build-image-grub.sh
  Meta/build-image-limine.sh
  Meta/build-image-qemu.sh
  Meta/build-root-filesystem.sh
  Meta/shell_include.sh
Owners: none

Ladybird: Add a few missing Qt-to-Serenity keycode mappings
  Ladybird/WebContentView.cpp
Owners: @linusg

Kernel: Add a key code modifier to detect the number pad
  Kernel/API/KeyCode.h
  Kernel/Devices/HID/KeyboardDevice.cpp
Owners: none

LibWeb: Add spec links for the KeyboardEvent IDL
  Userland/Libraries/LibWeb/UIEvents/KeyboardEvent.idl
Owners: none

Ladybird: Include the keypad modifier in key events sent to WebContent
  Ladybird/WebContentView.cpp
Owners: @linusg

LibWeb: Implement KeyboardEvent.code according to the spec
  Userland/Libraries/LibWeb/UIEvents/KeyboardEvent.cpp
Owners: none

LibWeb: Implement KeyboardEvent.key according to the spec
  Userland/Libraries/LibWeb/UIEvents/KeyboardEvent.cpp
Owners: none

LibWeb: Implement KeyboardEvent.location closer to the spec
  Userland/Libraries/LibWeb/UIEvents/KeyboardEvent.cpp
  Userland/Libraries/LibWeb/UIEvents/KeyboardEvent.h
Owners: none

Base: Add a test page to log KeyboardEvent data
  Base/res/html/misc/key-logger.html
Owners: none

LibGfx: Provide a default implementation for `ImageDecoder::initialize`
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.h
Owners: none

LibJS/Bytecode: Always return false on attempt to delete local variable
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
Owners: @linusg

LibJS: Use local variables for function declarations when possible
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Parser.cpp
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
Owners: @linusg

LibWeb: Adjust border widths for tables using collapsing borders
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-col.txt
  Tests/LibWeb/Layout/expected/table/borders.txt
  Userland/Libraries/LibWeb/Layout/LayoutState.h
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Painting/PaintableBox.h
Owners: none

LibWeb: Add spec links for the KeyboardEvent IDL
  Userland/Libraries/LibWeb/UIEvents/KeyboardEvent.idl
Owners: none

LibWeb: Implement KeyboardEvent.code according to the spec
  Userland/Libraries/LibWeb/UIEvents/KeyboardEvent.cpp
Owners: none

LibWeb: Implement KeyboardEvent.key according to the spec
  Userland/Libraries/LibWeb/UIEvents/KeyboardEvent.cpp
Owners: none

Base: Add a test page to log KeyboardEvent data
  Base/res/html/misc/key-logger.html
Owners: none

LibWeb: Implement KeyboardEvent.location closer to the spec
  Userland/Libraries/LibWeb/UIEvents/KeyboardEvent.cpp
  Userland/Libraries/LibWeb/UIEvents/KeyboardEvent.h
Owners: none

Ladybird: Include the keypad modifier in key events sent to WebContent
  Ladybird/WebContentView.cpp
Owners: @linusg

Ladybird: Add a few missing Qt-to-Serenity keycode mappings
  Ladybird/WebContentView.cpp
Owners: @linusg

Kernel: Add a key code modifier to detect the number pad
  Kernel/API/KeyCode.h
  Kernel/Devices/HID/KeyboardDevice.cpp
Owners: none

LibWeb: Resolve table border conflicts with cells
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-cell.txt
  Tests/LibWeb/Layout/input/table/border-conflict-resolution-with-cell.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

Meta: Improve build compatibility with non-GNU userspaces
  Meta/build-image-extlinux.sh
  Meta/build-image-grub.sh
  Meta/build-image-limine.sh
  Meta/build-image-qemu.sh
  Meta/build-root-filesystem.sh
  Meta/shell_include.sh
Owners: none

Meta: Implement proper checks for sudo alternatives
  Meta/build-image-extlinux.sh
  Meta/build-image-grub.sh
  Meta/build-image-limine.sh
  Meta/build-image-qemu.sh
  Meta/build-native-partition.sh
  Meta/shell_include.sh
Owners: none

LibWeb: Resolve table border conflicts with cells
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-cell.txt
  Tests/LibWeb/Layout/input/table/border-conflict-resolution-with-cell.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.h
Owners: none

LibWeb: Resolve table border conflicts with rows
  Tests/LibWeb/Layout/expected/table/border-conflict-resolution-with-row.txt
  Tests/LibWeb/Layout/input/table/border-conflict-resolution-with-row.html
  Userland/Libraries/LibWeb/Layout/TableFormattingContext.cpp
Owners: none

FileSystem/FATFS: Convert internal FAT inode attributes to dirent types
  Kernel/FileSystem/FATFS/FileSystem.cpp
  Kernel/FileSystem/FATFS/FileSystem.h
Owners: none

Documentation: Add qt6-multimedia-devel on openSUSE for Ladybird
  Documentation/BuildInstructionsLadybird.md
Owners: none

LibGfx: Provide a default implementation for `ImageDecoder::initialize`
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.h
Owners: none

LibJS: Make Object::internal_get() reveal the used property offset
  Userland/Applications/Spreadsheet/JSIntegration.cpp
  Userland/Applications/Spreadsheet/JSIntegration.h
  Userland/Libraries/LibJS/Runtime/ArgumentsObject.cpp
  Userland/Libraries/LibJS/Runtime/ArgumentsObject.h
  Userland/Libraries/LibJS/Runtime/IndexedProperties.h
  Userland/Libraries/LibJS/Runtime/ModuleNamespaceObject.cpp
  Userland/Libraries/LibJS/Runtime/ModuleNamespaceObject.h
  Userland/Libraries/LibJS/Runtime/Object.cpp
  Userland/Libraries/LibJS/Runtime/Object.h
  Userland/Libraries/LibJS/Runtime/PropertyDescriptor.h
  Userland/Libraries/LibJS/Runtime/ProxyObject.cpp
  Userland/Libraries/LibJS/Runtime/ProxyObject.h
  Userland/Libraries/LibJS/Runtime/TypedArray.h
  Userland/Libraries/LibWeb/CSS/CSSStyleDeclaration.cpp
  Userland/Libraries/LibWeb/CSS/CSSStyleDeclaration.h
  Userland/Libraries/LibWeb/HTML/Location.cpp
  Userland/Libraries/LibWeb/HTML/Location.h
  Userland/Libraries/LibWeb/HTML/WindowProxy.cpp
  Userland/Libraries/LibWeb/HTML/WindowProxy.h
Owners: @alimpfard, @linusg

Base: Add Forum link to ".config"
  Base/home/anon/.config/bookmarks.json
Owners: none

LibJS/Bytecode: Cache object own property accesses
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
  Userland/Libraries/LibJS/Bytecode/Executable.h
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.h
  Userland/Libraries/LibJS/Bytecode/Interpreter.cpp
  Userland/Libraries/LibJS/Bytecode/Interpreter.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
Owners: @linusg
