Repository SerenityOS/serenity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMTA, @linusg, @alimpfard, @trflynn89

LibJS/Bytecode: Extract code to generate a super reference to a helper
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Generator.h
Owners: @linusg

LibJS/Bytecode: Generate bytecode for deleting super properties
  Userland/Libraries/LibJS/Bytecode/Generator.cpp
  Userland/Libraries/LibJS/Bytecode/Instruction.h
  Userland/Libraries/LibJS/Bytecode/Op.cpp
  Userland/Libraries/LibJS/Bytecode/Op.h
  Userland/Libraries/LibJS/Bytecode/Pass/LoadElimination.cpp
Owners: @linusg

LibJS/Bytecode: Ensure we do not generate bytecode for super expressions
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Bytecode/ASTCodegen.cpp
Owners: @linusg

LibJS/Bytecode: Do note coerce referenced values to an Object too early
  Userland/Libraries/LibJS/Bytecode/Op.cpp
Owners: @linusg

LibJS: Allow converting a reference to an object to fail in `delete`
  Userland/Libraries/LibJS/Runtime/Reference.cpp
Owners: @linusg

LibJS: Forward declare the MemberExpression AST node
  Userland/Libraries/LibJS/Forward.h
Owners: @linusg

Kernel: Add support for limiting size of RAMFS instances and inodes
  Kernel/FileSystem/RAMFS/FileSystem.cpp
  Kernel/FileSystem/RAMFS/FileSystem.h
  Kernel/FileSystem/RAMFS/Inode.cpp
  Kernel/FileSystem/RAMFS/Inode.h
  Kernel/FileSystem/VirtualFileSystem.cpp
Owners: none

Base: Add a manual page about the RAMFS
  Base/usr/share/man/man7/ramfs.md
Owners: none

LibJS: Use Identifier to represent FunctionParameter name
  Userland/Libraries/LibJS/AST.cpp
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibJS/Parser.cpp
  Userland/Libraries/LibJS/Runtime/AbstractOperations.cpp
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
Owners: @linusg

LibJS: Use local variables to store function parameters in some cases
  Userland/Libraries/LibJS/Parser.cpp
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
Owners: @linusg

Documentation: Debugging Ladybird in CLion
  Documentation/BuildInstructionsLadybird.md
Owners: none

LibWeb: Support background attribute on table elements
  Userland/Libraries/LibWeb/HTML/HTMLTableCellElement.cpp
  Userland/Libraries/LibWeb/HTML/HTMLTableRowElement.cpp
Owners: none

LibJS: Always init arguments stored in locals for generator functions
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
Owners: @linusg

headless-browser: Ensure IPC::File is closed after sending
  Userland/Utilities/headless-browser.cpp
Owners: none

LibC: Relax `memmove()` to `memcpy()` in more cases
  Userland/Libraries/LibC/string.cpp
Owners: none

LibGfx: Remove `ImageDecoder::set_[non]volatile()`
  Userland/Libraries/LibGfx/ImageFormats/BMPLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/BMPLoader.h
  Userland/Libraries/LibGfx/ImageFormats/DDSLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/DDSLoader.h
  Userland/Libraries/LibGfx/ImageFormats/GIFLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/GIFLoader.h
  Userland/Libraries/LibGfx/ImageFormats/ICOLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/ICOLoader.h
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.h
  Userland/Libraries/LibGfx/ImageFormats/JPEGLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/JPEGLoader.h
  Userland/Libraries/LibGfx/ImageFormats/PNGLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/PNGLoader.h
  Userland/Libraries/LibGfx/ImageFormats/PortableImageMapLoader.h
  Userland/Libraries/LibGfx/ImageFormats/QOILoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/QOILoader.h
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.h
  Userland/Libraries/LibGfx/ImageFormats/TinyVGLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TinyVGLoader.h
  Userland/Libraries/LibGfx/ImageFormats/WebPLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/WebPLoader.h
Owners: none

LibGfx: Remove `ImageDecoder::set_[non]volatile()`
  Userland/Libraries/LibGfx/ImageFormats/BMPLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/BMPLoader.h
  Userland/Libraries/LibGfx/ImageFormats/DDSLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/DDSLoader.h
  Userland/Libraries/LibGfx/ImageFormats/GIFLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/GIFLoader.h
  Userland/Libraries/LibGfx/ImageFormats/ICOLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/ICOLoader.h
  Userland/Libraries/LibGfx/ImageFormats/ImageDecoder.h
  Userland/Libraries/LibGfx/ImageFormats/JPEGLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/JPEGLoader.h
  Userland/Libraries/LibGfx/ImageFormats/PNGLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/PNGLoader.h
  Userland/Libraries/LibGfx/ImageFormats/PortableImageMapLoader.h
  Userland/Libraries/LibGfx/ImageFormats/QOILoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/QOILoader.h
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TGALoader.h
  Userland/Libraries/LibGfx/ImageFormats/TinyVGLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/TinyVGLoader.h
  Userland/Libraries/LibGfx/ImageFormats/WebPLoader.cpp
  Userland/Libraries/LibGfx/ImageFormats/WebPLoader.h
Owners: none

Meta: Alphabetize clang-format options
  .clang-format
Owners: none

Meta: Switch to clang-format-16 as the standard formatter
  .clang-format
  .devcontainer/devcontainer.json
  .devcontainer/features/serenity/devcontainer-feature.json
  .devcontainer/features/serenity/install.sh
  .github/workflows/cmake.yml
  .github/workflows/pvs-studio-static-analysis.yml
  .github/workflows/sonar-cloud-static-analysis.yml
  CONTRIBUTING.md
  Documentation/CodingStyle.md
  Documentation/QtCreatorConfiguration.md
  Meta/Azure/Setup.yml
  Meta/lint-clang-format.sh
Owners: none

Everywhere: Run clang-format
  AK/Function.h
  AK/Time.h
  AK/Variant.h
  AK/Vector.h
  Kernel/Arch/aarch64/Processor.h
  Kernel/Arch/x86_64/Processor.h
  Kernel/Net/Routing.cpp
  Kernel/Syscalls/SyscallHandler.cpp
  Userland/Libraries/LibCore/ArgsParser.cpp
  Userland/Libraries/LibCrypto/Checksum/CRC32.cpp
  Userland/Libraries/LibCrypto/Hash/PBKDF2.h
  Userland/Libraries/LibGUI/ItemListModel.h
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibLine/Editor.cpp
  Userland/Libraries/LibWasm/Printer/Printer.cpp
  Userland/Libraries/LibWasm/WASI/Wasi.cpp
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
Owners: @alimpfard, @linusg

Everywhere: Remove 'clang-format off' comments that are no longer needed
  AK/BigIntBase.h
  AK/Concepts.h
  AK/Time.h
  Userland/Libraries/LibCore/System.cpp
  Userland/Libraries/LibCrypto/Checksum/CRC32.cpp
  Userland/Libraries/LibWeb/WebDriver/Client.cpp
Owners: @alimpfard, @linusg, @trflynn89

LibJS: Always init arguments stored in locals for generator functions
  Userland/Libraries/LibJS/Runtime/ECMAScriptFunctionObject.cpp
Owners: @linusg

Documentation: Debugging Ladybird in CLion
  Documentation/BuildInstructionsLadybird.md
Owners: none

headless-browser: Ensure IPC::File is closed after sending
  Userland/Utilities/headless-browser.cpp
Owners: none

LibWeb: Implement abspos for replaced elements
  Userland/Libraries/LibWeb/Layout/FormattingContext.cpp
Owners: none

LibWeb: Adjust 4 abspos tests to highlight errors
  Tests/LibWeb/Layout/expected/flex-abspos-item-with-preceding-whitespace.txt
  Tests/LibWeb/Layout/expected/flex/abspos-flex-child-static-position-with-align-items.txt
  Tests/LibWeb/Layout/expected/flex/abspos-flex-child-static-position-with-justify-content.txt
  Tests/LibWeb/Layout/input/flex-abspos-item-with-preceding-whitespace.html
  Tests/LibWeb/Layout/input/flex/abspos-flex-child-static-position-with-align-items.html
  Tests/LibWeb/Layout/input/flex/abspos-flex-child-static-position-with-justify-content.html
  Tests/LibWeb/Layout/input/position-absolute-from-edges.html
Owners: none

LibWeb: Fix absolute positioning issues
  Tests/LibWeb/Layout/expected/abspos-not-replaced-multiple-auto-variants.txt
  Tests/LibWeb/Layout/expected/flex-abspos-item-with-preceding-whitespace.txt
  Tests/LibWeb/Layout/expected/flex/abspos-flex-child-static-position-with-align-items.txt
  Tests/LibWeb/Layout/expected/flex/abspos-flex-child-static-position-with-justify-content.txt
  Tests/LibWeb/Layout/expected/position-absolute-from-edges.txt
  Tests/LibWeb/Layout/input/abspos-not-replaced-multiple-auto-variants.html
  Userland/Libraries/LibWeb/Layout/FlexFormattingContext.cpp
  Userland/Libraries/LibWeb/Layout/FormattingContext.cpp
Owners: none

Ports: Add libjodycode port
  Ports/AvailablePorts.md
  Ports/libjodycode/package.sh
Owners: none

Ports: Add jdupes port
  Ports/AvailablePorts.md
  Ports/jdupes/package.sh
Owners: none

LibWeb: Resolve % top and bottom insets against containing block height
  Tests/LibWeb/Layout/expected/abspos-with-percentage-insets.txt
  Tests/LibWeb/Layout/input/abspos-with-percentage-insets.html
  Userland/Libraries/LibWeb/Layout/FormattingContext.cpp
Owners: none

Documentation: Clarify that build and run use the same command
  Documentation/BuildInstructions.md
Owners: none

LibWeb: Resolve % top and bottom insets against containing block height
  Tests/LibWeb/Layout/expected/abspos-with-percentage-insets.txt
  Tests/LibWeb/Layout/input/abspos-with-percentage-insets.html
  Userland/Libraries/LibWeb/Layout/FormattingContext.cpp
Owners: none

Documentation: Add qt6-multimedia-devel on openSUSE for Ladybird
  Documentation/BuildInstructionsLadybird.md
Owners: none

Meta: Alphabetize clang-format options
  .clang-format
Owners: none

Meta: Switch to clang-format-16 as the standard formatter
  .clang-format
  .devcontainer/devcontainer.json
  .devcontainer/features/serenity/devcontainer-feature.json
  .devcontainer/features/serenity/install.sh
  .github/workflows/cmake.yml
  .github/workflows/pvs-studio-static-analysis.yml
  .github/workflows/sonar-cloud-static-analysis.yml
  CONTRIBUTING.md
  Documentation/CodingStyle.md
  Documentation/QtCreatorConfiguration.md
  Meta/Azure/Setup.yml
  Meta/lint-clang-format.sh
Owners: none

Everywhere: Remove 'clang-format off' comments that are no longer needed
  AK/BigIntBase.h
  AK/Concepts.h
  AK/Time.h
  Userland/Libraries/LibCore/System.cpp
  Userland/Libraries/LibCrypto/Checksum/CRC32.cpp
  Userland/Libraries/LibWeb/WebDriver/Client.cpp
Owners: @alimpfard, @linusg, @trflynn89

Everywhere: Run clang-format
  AK/Function.h
  AK/Time.h
  AK/Variant.h
  AK/Vector.h
  Kernel/Arch/aarch64/Processor.h
  Kernel/Arch/x86_64/Processor.h
  Kernel/Net/Routing.cpp
  Kernel/Syscalls/SyscallHandler.cpp
  Userland/Libraries/LibCore/ArgsParser.cpp
  Userland/Libraries/LibCrypto/Checksum/CRC32.cpp
  Userland/Libraries/LibCrypto/Hash/PBKDF2.h
  Userland/Libraries/LibGUI/ItemListModel.h
  Userland/Libraries/LibJS/AST.h
  Userland/Libraries/LibLine/Editor.cpp
  Userland/Libraries/LibWasm/Printer/Printer.cpp
  Userland/Libraries/LibWasm/WASI/Wasi.cpp
  Userland/Libraries/LibWeb/CSS/Parser/Parser.cpp
Owners: @alimpfard, @linusg

LibArchive: Add helper functions for adding members to a ZipOutputStream
  Userland/Libraries/LibArchive/CMakeLists.txt
  Userland/Libraries/LibArchive/Zip.cpp
  Userland/Libraries/LibArchive/Zip.h
Owners: none

zip: Use the helpers in ZipOutputStream for adding files
  Userland/Utilities/CMakeLists.txt
  Userland/Utilities/zip.cpp
Owners: none

zip: Move away from `DeprecatedString`
  Userland/Utilities/zip.cpp
Owners: none

.github/CODEOWNERS:

/Kernel/Devices/Audio @GMTA
/Ladybird @linusg
/Ports/neofetch @linusg
/Ports/python3 @linusg
/Userland/Applications/Browser @linusg
/Userland/Applications/CrashReporter @linusg
/Userland/Applications/Spreadsheet @alimpfard
/Userland/Libraries/LibCrypto @alimpfard
/Userland/Libraries/LibGfx/Font/Emoji.* @linusg
/Userland/Libraries/LibGL @GMTA
/Userland/Libraries/LibGPU @GMTA
/Userland/Libraries/LibHTTP @alimpfard
/Userland/Libraries/LibJS @linusg
/Userland/Libraries/LibJS/Runtime/Intl @trflynn89
/Userland/Libraries/LibLocale @trflynn89
/Userland/Libraries/LibRegex @alimpfard
/Userland/Libraries/LibSoftGPU @GMTA
/Userland/Libraries/LibSQL @GMTA @trflynn89
/Userland/Libraries/LibTLS @alimpfard
/Userland/Libraries/LibTimeZone @trflynn89
/Userland/Libraries/LibUnicode @trflynn89
/Userland/Libraries/LibWasm @alimpfard
/Userland/Libraries/LibWeb/Fetch @linusg
/Userland/Libraries/LibWeb/HTML/Scripting @linusg
/Userland/Libraries/LibWeb/Infra @linusg
/Userland/Libraries/LibWeb/WebAssembly @alimpfard
/Userland/Libraries/LibWeb/WebDriver @linusg @trflynn89
/Userland/Libraries/LibWeb/WebIDL @linusg
/Userland/Libraries/LibXML @alimpfard
/Userland/Services/RequestServer @alimpfard
/Userland/Services/SQLServer @trflynn89
/Userland/Services/WebDriver @trflynn89
/Userland/Shell @alimpfard
/Userland/Utilities/js.cpp @linusg
/Userland/Utilities/sql.cpp @trflynn89
/Userland/Utilities/wasm.cpp @alimpfard
*.js @linusg
